In [9]:
import pandas as pd
import numpy as np
import datetime
import gc
import random

In [10]:
product_login = pd.read_csv('./FE_data/product_login.csv')
users_info_all = pd.read_csv('./FE_data/users_info_all.csv')

In [12]:
product_login['role_id'].nunique()

5951202

In [14]:
product_login.drop_duplicates('role_id', inplace=True)

In [16]:
users_info_all.shape

(5927469, 17)

In [17]:
users_info_all['role_id'].nunique()

5927469

In [18]:
a = np.setdiff1d(product_login['role_id'], users_info_all['role_id'])

In [19]:
print(len(a))

26952

In [20]:
# 合并
data_7d = pd.merge(product_login, users_info_all, on=['user_id', 'role_id'], how='left', validate='one_to_one')

In [21]:
pd.set_option('display.max_columns', None)
data_7d.head()

,user_id,role_id,r1,r2,r3,r4,max_role_level,is_pay,p1,p2,p3,p4,p5,p6,is_create_role,is_create_no,create_role_time,server_sum,is_gunfu,platform,user_type,user_flag,mobile,channel_id,source_id,device_no,reg_date,game_pay_num,chmoney_pay_num
0,96918420,10027198,8,1,1,0.01,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2019-11-03 16:50:00,NaN,NaN,2.0,1.0,1.0,0.0,20143.0,226234.0,4A2F95BF-2AD9-4161-B6CE-B25E58133A94,2019-11-03 16:49:57,NaN,NaN
1,96979655,10032583,13,1,1,0.02,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2019-11-05 00:19:47,NaN,NaN,2.0,1.0,1.0,0.0,20144.0,226023.0,862C3D65-0285-44FD-A471-9F05690DA9AE,2019-11-05 00:17:55,NaN,NaN
2,96988675,10034191,2,1,1,0.00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2019-11-05 10:29:20,NaN,NaN,2.0,1.0,1.0,0.0,20144.0,226317.0,47B8955B-0BFD-45D7-BDD3-5AD8BDDAC5AE,2019-11-05 10:26:21,NaN,NaN
3,97008499,10037673,2,1,1,0.00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2019-11-05 16:43:50,NaN,NaN,2.0,1.0,1.0,0.0,20144.0,226277.0,B5E3068C-94FE-459C-82F7-116AEC954A05,2019-11-05 16:43:46,NaN,NaN
4,97017737,10040024,2,1,2,0.00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2019-11-05 20:16:50,NaN,NaN,2.0,1.0,1.0,0.0,20757.0,226414.0,FABFE3B8-1B2C-45F5-BAA5-B82F62FE6628,2019-11-05 19:53:01,NaN,NaN

In [22]:
data_7d.drop(['is_pay', 'channel_id', 'source_id', 'device_no', 'reg_date', 'create_role_time', 'is_gunfu'],axis=1, inplace=True)

In [23]:
data_7d.isna().sum()

user_id                 0
role_id                 0
r1                      0
r2                      0
r3                      0
r4                      0
max_role_level          0
p1                      0
p2                      0
p3                      0
p4                      0
p5                      0
p6                      0
is_create_role      27019
is_create_no        27019
server_sum         543542
platform           271622
user_type          271622
user_flag          271622
mobile             271622
game_pay_num       770048
chmoney_pay_num    770048
dtype: int64

In [24]:
data_7d.dropna(axis=0, how='any', inplace=True)

In [25]:
data_7d.shape

(5164372, 22)

In [26]:
day_30_product = pd.read_csv('./FE_data/day_30_product.csv')

In [27]:
day_30_product.head()

,role_id,user_id,pay_type,money,give_money,rmb_money,ch_money,coupon_money,coupon_code,coupon_type,pay_count,role_pay_count,role_level,device_no,pay_time,post_time,active_pay_count,dt,is_pay,create_role_time,interval
0,12023872,106335096,0,12.0,0.0,12.0,0.0,0.0,NaN,0,1,1,55,32151CD0-65C1-4B05-91D7-367E8431C214,2020-03-13 16:45:02,2020-03-13 16:45:02,1,2020-03-13,1,2020-03-10 01:27:09,87.298056
1,12043074,106434579,0,128.0,0.0,128.0,0.0,0.0,NaN,0,1,1,53,BFD0278A-815B-4900-B3EB-AF106FAF66F0,2020-03-13 13:45:01,2020-03-13 13:45:01,1,2020-03-13,1,2020-03-10 22:00:37,63.740000
2,11467501,103598817,27,68.0,0.0,68.0,0.0,0.0,NaN,0,35,35,0,265CD2C8-A2A5-4ECE-9CFB-CC2AA195F0F1,2020-03-13 00:00:33,2020-03-13 00:00:33,35,2020-03-13,1,2020-02-18 01:44:52,574.261389
3,12063758,106557590,99,68.0,0.0,68.0,0.0,0.0,NaN,0,2,2,1,18C3BAF2-16E0-48AC-9999-8250815D8362,2020-03-13 00:01:21,2020-03-13 00:01:21,2,2020-03-13,1,2020-03-11 21:52:44,26.143611
4,11467501,103598817,27,68.0,0.0,68.0,0.0,0.0,NaN,0,36,36,0,265CD2C8-A2A5-4ECE-9CFB-CC2AA195F0F1,2020-03-13 00:01:10,2020-03-13 00:01:10,36,2020-03-13,1,2020-02-18 01:44:52,574.271667

In [28]:
day_30_product['role_id'].nunique()

146462

In [29]:
# 每个角色注册前30天付费总额 30d_pay_money
groups = day_30_product.groupby('role_id')
temp = groups['money'].agg([('30d_pay_money', 'sum')]).reset_index()
day_30_product = pd.merge(day_30_product, temp, on='role_id', how='left', validate='many_to_one')

In [30]:
temp = day_30_product[['role_id', '30d_pay_money']].drop_duplicates()

In [31]:
data = pd.merge(data_7d, temp, on='role_id', how='left', validate='one_to_one')

In [32]:
data.shape

(5164372, 23)

In [33]:
data.head()

,user_id,role_id,r1,r2,r3,r4,max_role_level,p1,p2,p3,p4,p5,p6,is_create_role,is_create_no,server_sum,platform,user_type,user_flag,mobile,game_pay_num,chmoney_pay_num,30d_pay_money
0,102624267,11263507,1,1,1,0.00,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,NaN
1,102630946,11265111,3,1,1,0.02,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,NaN
2,102632190,11265397,4,1,1,0.01,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,NaN
3,102645564,11269078,4,1,1,0.01,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,NaN
4,102652393,11271222,12,1,1,0.02,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,NaN

In [34]:
data.drop(['user_id'], axis=1, inplace=True)
data.fillna(0, inplace=True)

In [35]:
data.to_csv('./FE_data/data.csv', index=None)

In [36]:
del data,data_7d, day_30_product
gc.collect()

46519