In [1]:
import pandas as pd
import numpy as np
import json
import numpy as np
import gc
import warnings
warnings.filterwarnings('ignore')
from impala.dbapi import connect
from impala.util import as_pandas
import pymysql
import ast
import requests
import random

In [2]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [180]:
class global_var:
    """ 全局参数配置 """
    # HIVE地址
    game_id = 1002166
    media_id = 10
    platform = "['ANDROID']"
    budget = 4000
    ad_account_id_group = np.array([12441, 12449, 12450, 12451, 12452])
#     ad_account_id_group = np.array([12441])
    plan_num = 7

### 选优质素材

In [127]:
def get_game_id():
    conn = pymysql.connect(host='db-slave-modelfenxi-001.ch', port=3306, user='model_read',
                           passwd='aZftlm6PcFjN{DxIKOPr)BcutuJd<uYOC0P<8')
    cur = conn.cursor(cursor=pymysql.cursors.DictCursor)
    sql = '''
        SELECT dev_game_id AS game_id FROM db_data.t_game_config WHERE game_id = 1140 AND dev_game_id IS NOT NULL 
    '''
    cur.execute(sql)
    result_df = cur.fetchall()
    cur.close()
    conn.close()
    return result_df

In [128]:
# 获取近期所有计划('2021年4月23号开始')
def get_plan_info():
    game_id = get_game_id()
    game_id = list(map(lambda x: x['game_id'], game_id))
    game_id = [str(i) for i in game_id]
    game_id = ','.join(game_id)
    conn = pymysql.connect(host='db-slave-modeltoufang-001.ch', port=3306, user='model_read',
                           passwd='aZftlm6PcFjN{DxIKOPr)BcutuJd<uYOC0P<8', db='db_ptom')
    cur = conn.cursor(cursor=pymysql.cursors.DictCursor)
    sql = '''
    /*手动查询*/
        SELECT
                * 
            FROM
                db_ptom.ptom_third_plan p
            WHERE
                game_id IN ({})
                AND media_id = 10
                AND create_time>=date( NOW() - INTERVAL 1440 HOUR )
                AND create_time<= date(NOW())
                            AND plan_id >= (
                                select plan_id from db_ptom.ptom_plan
                                where create_time >= date( NOW() - INTERVAL 1440 HOUR )
                                and create_time <= date( NOW() - INTERVAL 1416 HOUR )
                                limit 1
                            )
    '''
    finalSql = sql.format(game_id)
    result_df = pd.read_sql(finalSql, conn)
    cur.close()
    conn.close()
    return result_df

# 解析json
def get_plan_json(plan_info):
    plan_info.drop(['inventory_type', 'budget'], axis=1, inplace=True)
    plan_info.dropna(how='all', inplace=True, axis=1)
    plan_info.dropna(subset=['ad_info'], inplace=True)
    # 解析json
    plan_info['ad_info'] = plan_info['ad_info'].apply(json.loads)
    temp = plan_info['ad_info'].apply(pd.Series)
    plan_info = pd.concat([plan_info, temp], axis=1)
    plan_info.drop('ad_info', axis=1, inplace=True)
    temp = plan_info['audience'].apply(pd.Series)
    plan_info = pd.concat([plan_info, temp], axis=1)
    plan_info.drop('audience', axis=1, inplace=True)
    temp = plan_info['action'].apply(pd.Series)
    plan_info = pd.concat([plan_info, temp], axis=1)
    plan_info.drop('action', axis=1, inplace=True)
    plan_info.dropna(how='all', inplace=True, axis=1)

    for col in ['ad_account_id', 'game_id', 'channel_id', 'source_id',
                           'create_time', 'smart_bid_type', 'hide_if_exists', 'budget',
                           'delivery_range', 'adjust_cpa', 'inventory_type', 'hide_if_converted',
                           'flow_control_mode', 'schedule_time', 'cpa_bid', 'auto_extend_enabled',
                           'gender', 'city', 'platform', 'launch_price',
                           'retargeting_tags_exclude', 'interest_categories',
                           'ac', 'android_osv', 'location_type', 'retargeting_tags_include',
                           'ios_osv', 'interest_action_mode', 'age',
                           'action_categories', 'action_days', 'action_scene', 'deep_bid_type', 'roi_goal']:
        if col in plan_info.columns:
            pass
        else:
            plan_info[col] = np.nan
    plan_info = plan_info[['ad_account_id', 'game_id', 'channel_id', 'source_id',
                           'create_time', 'smart_bid_type', 'hide_if_exists', 'budget',
                           'delivery_range', 'adjust_cpa', 'inventory_type', 'hide_if_converted',
                           'flow_control_mode', 'schedule_time', 'cpa_bid', 'auto_extend_enabled',
                           'gender', 'city', 'platform', 'launch_price',
                           'retargeting_tags_exclude', 'interest_categories',
                           'ac', 'android_osv', 'location_type', 'retargeting_tags_include',
                           'ios_osv', 'interest_action_mode', 'age',
                           'action_categories', 'action_days', 'action_scene', 'deep_bid_type', 'roi_goal']]
    return plan_info

def get_now_plan_roi():
    game_id = get_game_id()
    game_id = list(map(lambda x: x['game_id'], game_id))
    game_id = [str(i) for i in game_id]
    game_id = ','.join(game_id)

    conn = pymysql.connect(host='db-slave-modelfenxi-001.ch', port=3306, user='model_read',
                           passwd='aZftlm6PcFjN{DxIKOPr)BcutuJd<uYOC0P<8')
    cur = conn.cursor(cursor=pymysql.cursors.DictCursor)
    sql = '''
        SELECT
            a.ad_account_id,
            b.channel_id,
            b.source_id,
            b.tdate,
            b.amount,
            b.new_role_money,
            b.new_role_money / b.amount AS roi,
            b.pay_role_user_num / b.create_role_num AS pay_rate
        FROM
            db_data_ptom.ptom_plan a
        left join
            db_stdata.st_lauch_report b
        on a.chl_user_id=b.channel_id and a.source_id=b.source_id
        WHERE
            b.tdate >= date( NOW() - INTERVAL 240 HOUR )
            AND b.tdate_type = 'day'
            AND b.media_id = 10
            AND b.game_id IN ({})
            AND b.amount >= 200
            AND b.pay_role_user_num >= 1
            AND b.new_role_money >= 12
            AND (b.new_role_money / b.amount)>=0.005
    '''
    finalSql = sql.format(game_id)
    cur.execute(finalSql)
    result_df = pd.read_sql(finalSql, conn)
    cur.close()
    conn.close()
    result_df['tdate'] = pd.to_datetime(result_df['tdate'])
    result_df = result_df.sort_values('tdate')
    result_df = result_df.drop_duplicates(['channel_id', 'source_id'], keep='first')
    #     result_df = result_df[result_df['roi'] >= 0.03]
    return result_df

# 获取近期优化计划的创意数据
def get_creative():
    game_id = get_game_id()
    game_id = list(map(lambda x: x['game_id'], game_id))
    game_id = [str(i) for i in game_id]
    game_id = ','.join(game_id)

    conn = pymysql.connect(host='db-slave-modeltoufang-001.ch', port=3306, user='model_read',
                           passwd='aZftlm6PcFjN{DxIKOPr)BcutuJd<uYOC0P<8', db='db_ptom')
    cur = conn.cursor(cursor=pymysql.cursors.DictCursor)
    sql = '''
        /*手动查询*/ 
        SELECT
            b.chl_user_id AS channel_id,
            b.source_id,
            JSON_EXTRACT( a.creative_param, '$.ad_keywords' ) AS ad_keywords,
            JSON_EXTRACT( a.creative_param, '$.title_list' ) AS title_list,
            JSON_EXTRACT( a.creative_param, '$.third_industry_id' ) AS third_industry_id 
        FROM
            db_ptom.ptom_batch_ad_task a
            LEFT JOIN db_ptom.ptom_plan b ON a.plan_name = b.plan_name 
        WHERE
            a.media_id = 10 
            AND b.create_time >= date( NOW() - INTERVAL 720 HOUR )    # 近30天
            AND a.game_id IN ({}) 
    '''
    finalSql = sql.format(game_id)
    cur.execute(finalSql)
    result = pd.read_sql(finalSql, conn)
    cur.close()
    conn.close()
    return result

In [129]:
def get_info():
    plan_info = get_plan_info()
    plan_info = get_plan_json(plan_info)
    creative_info = get_creative()
    creative_info['title_list'] = creative_info['title_list'].fillna('[]')
    creative_info['ad_keywords'] = creative_info['ad_keywords'].fillna('[]')
    creative_info['title_list'] = creative_info['title_list'].apply(json.loads)
    creative_info['ad_keywords'] = creative_info['ad_keywords'].apply(json.loads)

    now_plan_roi = get_now_plan_roi()
    now_plan_roi = pd.merge(now_plan_roi, creative_info, on=['channel_id', 'source_id'], how='left')

    df_create = pd.merge(plan_info, now_plan_roi, on=['channel_id', 'source_id'], how='inner')

    df_create['platform'] = df_create['platform'].astype(str)
    df_create['platform'] = df_create['platform'].map({"['ANDROID']": 1, "['IOS']": 2})
    df_create['platform'] = df_create['platform'].astype(int)

    df_create = df_create[df_create['platform'] == 1]
    df_create = df_create.dropna(subset=['ad_keywords','title_list','third_industry_id'],how='any')
    
    df_create['inventory_type'] = df_create['inventory_type'].astype(str)
    df_create['retargeting_tags_include'] = df_create['retargeting_tags_include'].astype(str)
    df_create['retargeting_tags_exclude'] = df_create['retargeting_tags_exclude'].astype(str)
    df_create['ad_keywords'] = df_create['ad_keywords'].astype(str)
    df_create['title_list'] = df_create['title_list'].astype(str)
    inventory_type_info = df_create['inventory_type'].value_counts().to_dict()
    retargeting_tags_include_info = df_create['retargeting_tags_include'].value_counts().to_dict()
    retargeting_tags_exclude_info = df_create['retargeting_tags_exclude'].value_counts().to_dict()
    ad_keywords_info = df_create['ad_keywords'].value_counts().to_dict()
    title_list_info = df_create['title_list'].value_counts().to_dict()
    third_industry_id_info = df_create['third_industry_id'].value_counts().to_dict()
    return inventory_type_info,retargeting_tags_include_info,retargeting_tags_exclude_info,ad_keywords_info,title_list_info,third_industry_id_info

In [130]:
# 获取image_id,label_ids
def get_image_info():
    conn = pymysql.connect(host='db-slave-modelfenxi-001.ch', port=3306, user='model_read',
                           passwd='aZftlm6PcFjN{DxIKOPr)BcutuJd<uYOC0P<8')
    cur = conn.cursor(cursor=pymysql.cursors.DictCursor)
    sql = '''
        SELECT
            a.chl_user_id AS channel_id,
            a.source_id,
            a.image_id,
            b.label_ids
        FROM
            db_data_ptom.ptom_plan a
            LEFT JOIN
            db_data_ptom.ptom_image_info b
        on a.image_id = b.image_id
        WHERE
            a.game_id IN ( SELECT dev_game_id AS game_id FROM db_data.t_game_config WHERE game_id = 1140 AND dev_game_id IS NOT NULL ) 
            AND a.create_time >= date( NOW() - INTERVAL 2880 HOUR ) 
        GROUP BY
            a.chl_user_id,
            a.source_id,
            a.image_id
    '''
    cur.execute(sql)
    result_df = pd.read_sql(sql, conn)
    result_df = result_df.dropna(axis=0, how='any')
    result_df['channel_id'] = result_df['channel_id'].map(int)
    result_df['source_id'] = result_df['source_id'].map(int)
    result_df['image_id'] = result_df['image_id'].map(int)
    cur.close()
    conn.close()
    return result_df

In [131]:
# # 获取score_image (分数大于550的image_id)
# def get_score_image():
#     conn = connect(host='192.168.0.97', port=10000, auth_mechanism='PLAIN', user='hadoop',
#                     password='Ycjh8FxiaoMtShZRd3-97%3hCEL0CK4ns1w', database='default')
#     cursor = conn.cursor()
#     sql_engine = 'set hive.execution.engine=tez'
#     sql_queue = 'set tez.queue.name=offline'
#     sql = '''
#         SELECT
#             image_id,
#             label_ids 
#         FROM
#             dws.dws_image_score_d 
#         WHERE
#             dt = CURRENT_DATE 
#             AND media_id = 10 
#             AND image_create_role_roi >= 0.005 
#             AND ( image_create_role_retain_1d >= 0.07 OR image_create_role_retain_1d IS NULL ) 
#             AND score >= 500 
#         GROUP BY
#             image_id,
#             label_ids
#     '''
    
#     cursor.execute(sql_engine)
#     cursor.execute(sql_queue)
#     cursor.execute(sql)
#     result = as_pandas(cursor)
#     result['label_ids'] = result['label_ids'].astype(str)
#     result['label_ids'] = result['label_ids'].apply(lambda x: x.strip('-1;') if '-1' in x else x)
#     result['label_ids'] = pd.to_numeric(result['label_ids'],errors='coerce')
# #     result = result[result['label_ids'].isin([27])]
# #     print(result)
#     # 关闭链接
#     cursor.close()
#     conn.close()
    
#     return result['image_id'].values

In [132]:
# def get_score_image_other():
#     conn = connect(host='192.168.0.97', port=10000, auth_mechanism='PLAIN', user='hadoop',
#                     password='Ycjh8FxiaoMtShZRd3-97%3hCEL0CK4ns1w', database='default')
#     cursor = conn.cursor()
#     sql_engine = 'set hive.execution.engine=tez'
#     sql_queue = 'set tez.queue.name=offline'
#     sql = '''
#         SELECT
#             image_id,
#             label_ids 
#         FROM
#             dws.dws_image_score_d 
#         WHERE
#             dt = CURRENT_DATE 
#             AND media_id in (45,16,32) 
#             AND image_create_role_roi >= 0.008 
#             AND ( image_create_role_retain_1d >= 0.07 OR image_create_role_retain_1d IS NULL ) 
#             AND score >= 550 
#         GROUP BY
#             image_id,
#             label_ids
#     '''
#     cursor.execute(sql_engine)
#     cursor.execute(sql_queue)
#     cursor.execute(sql)
#     result = as_pandas(cursor)
#     result['label_ids'] = result['label_ids'].astype(str)
#     result['label_ids'] = result['label_ids'].apply(lambda x: x.strip('-1;') if '-1' in x else x)
#     result['label_ids'] = pd.to_numeric(result['label_ids'],errors='coerce')
# #     result = result[result['label_ids'].isin([27])]
# #     print(result)
#     # 关闭链接
#     cursor.close()
#     conn.close()
    
#     return result['image_id'].values

In [190]:
# 获取近5天回款率高的素材
def get_good_image():
    conn = pymysql.connect(host='db-slave-modelfenxi-001.ch', port=3306, user='model_read',
                           passwd='aZftlm6PcFjN{DxIKOPr)BcutuJd<uYOC0P<8')
    cur = conn.cursor(cursor=pymysql.cursors.DictCursor)
    sql = '''
        /*手动查询*/ 
        SELECT
            a.image_id AS 'image_id',
            a.image_name AS 'image_name',
            a.media_id,
            a.label_ids,
            ifnull( a.image_run_date_amount, 0 ) AS 'image_run_date_amount',
            ifnull( a.image_create_role_pay_num, 0 ) AS 'image_create_role_pay_num',
            ifnull( a.image_create_role_num, 0 ) AS 'image_create_role_num',
            ifnull( a.image_create_role_pay_sum, 0 ) AS 'image_create_role_pay_sum',
            ifnull( a.image_source_num, 0 ) AS 'image_source_num',
            (CASE WHEN ifnull( a.image_create_role_num, 0 )= 0 THEN
                    0 ELSE IFNULL( a.image_create_role_pay_num, 0 ) / ifnull( a.image_create_role_num, 0 ) 
                END ) AS 'image_create_role_pay_rate',
                (CASE WHEN ifnull( a.image_create_role_num, 0 )= 0 THEN
                        0 ELSE IFNULL( a.image_run_date_amount, 0 ) / ifnull( a.image_create_role_num, 0 ) 
                    END ) AS 'image_create_role_cost',
                    (CASE WHEN ifnull( a.image_create_role_pay_num, 0 )= 0 THEN
                            0 ELSE IFNULL( a.image_run_date_amount, 0 ) / ifnull( a.image_create_role_pay_num, 0 ) 
                        END ) AS 'image_create_role_pay_cost',
                        (CASE WHEN ifnull( a.image_run_date_amount, 0 )= 0 THEN
                                0 ELSE IFNULL( a.image_create_role_pay_sum, 0 ) / ifnull( a.image_run_date_amount, 0 ) 
                            END ) AS 'image_create_role_roi' 
                        FROM
                            (
                            SELECT
                                aa.image_id AS 'image_id',
                                aa.image_name AS 'image_name',
                                aa.media_id AS 'media_id',
                                aa.label_ids AS 'label_ids',
                                sum( aa.amount ) AS 'image_run_date_amount',
                                IFNULL( sum( aa.create_role_num ), 0 ) AS 'image_create_role_num',
                                IFNULL( sum( bb.pay_role_user_num ), 0 ) AS 'image_create_role_pay_num',
                                IFNULL( sum( bb.new_role_money ), 0 ) AS 'image_create_role_pay_sum',
                                IFNULL( sum( aa.image_source_num ), 0 ) AS 'image_source_num' 
                            FROM
                                (
                                SELECT
                                    a.game_id,
                                    a.channel_id,
                                    a.source_id,
                                    a.media_id,
                                    c.image_id,
                                    c.image_name,
                                    c.label_ids,
                                    IFNULL( sum( a.amount ), 0 ) AS amount,
                                    IFNULL( sum( create_role_num ), 0 ) AS create_role_num,
                                    count( DISTINCT b.plan_id ) AS 'image_source_num' 
                                FROM
                                    db_stdata.st_lauch_report a
                                    INNER JOIN db_data_ptom.ptom_plan b ON a.game_id = b.game_id 
                                    AND a.source_id = b.source_id 
                                    AND a.channel_id = b.chl_user_id
                                    LEFT JOIN db_data_ptom.ptom_image_info c ON b.image_id = c.image_id 
                                WHERE
                                    a.tdate_type = 'day' 
                                    AND a.tdate <= date( NOW()) AND a.tdate >= DATE_SUB( date( NOW()), INTERVAL 5 DAY ) 
                                    AND a.amount > 0 
                                    AND a.media_id IN ( 10 ) 
                                    AND b.image_id IS NOT NULL 
                                    AND b.image_id <> '' 
                                    AND a.game_id IN ( SELECT dev_game_id AS game_id FROM db_data.t_game_config WHERE game_id = 1140 AND dev_game_id IS NOT NULL ) 
                                GROUP BY
                                    a.game_id,
                                    a.channel_id,
                                    a.source_id 
                                HAVING
                                    c.image_id IS NOT NULL 
                                    AND c.image_name <> '' 
                                ) aa
                                LEFT JOIN (
                                SELECT
                                    game_id,
                                    channel_id,
                                    source_id,
                                    IFNULL( sum( m.new_role_money ), 0 ) AS new_role_money,
                                    IFNULL( sum( m.pay_role_user_num ), 0 ) AS pay_role_user_num 
                                FROM
                                    (
                                    SELECT
                                        a.game_id,
                                        a.channel_id,
                                        a.source_id,
                                        IFNULL( sum( a.new_role_money ), 0 ) AS new_role_money,
                                        IFNULL( sum( a.pay_role_user_num ), 0 ) AS pay_role_user_num 
                                    FROM
                                        db_stdata.st_lauch_report a
                                        INNER JOIN db_data_ptom.ptom_plan pp ON ( a.game_id = pp.game_id AND a.channel_id = pp.chl_user_id AND a.source_id = pp.source_id ) 
                                    WHERE
                                        a.tdate = date(
                                        NOW()) 
                                        AND a.tdate_type = 'day' 
                                    GROUP BY
                                        a.game_id,
                                        a.channel_id,
                                        a.source_id 
                                    HAVING
                                        ( new_role_money > 0 OR pay_role_user_num > 0 ) UNION ALL
                                    SELECT
                                        c.game_id,
                                        c.channel_id,
                                        c.source_id,
                                        sum( c.create_role_money ) new_role_money,
                                        IFNULL( sum( c.pay_role_user_num ), 0 ) AS pay_role_user_num 
                                    FROM
                                        db_stdata.st_game_days c 
                                    WHERE
                                        c.report_days = 5 
                                        AND c.tdate = date( NOW() - INTERVAL 24 HOUR ) 
                                        AND c.tdate_type = 'day' 
                                        AND c.query_type = 13 
                                    GROUP BY
                                        c.game_id,
                                        c.channel_id,
                                        c.source_id 
                                    HAVING
                                    ( new_role_money > 0 OR pay_role_user_num > 0 )) m 
                                GROUP BY
                                    game_id,
                                    channel_id,
                                    source_id 
                                ) bb ON aa.game_id = bb.game_id 
                                AND aa.channel_id = bb.channel_id 
                                AND aa.source_id = bb.source_id 
                            GROUP BY
                                aa.image_id,
                                aa.image_name,
                                aa.media_id 
                            HAVING
                            image_run_date_amount >= 100 
            ) a
            WHERE a.image_create_role_pay_sum >0 and 
                a.media_id = 10
                ORDER BY image_create_role_roi Desc
    '''
#     finalSql = sql.format(game_id)
    cur.execute(sql)
    result_df = pd.read_sql(sql, conn)
    cur.close()
    conn.close()
    result_df = result_df[['image_id','image_run_date_amount','image_create_role_pay_num','image_create_role_pay_sum',
                        'image_create_role_pay_cost','image_create_role_roi']]
    result_df = result_df[result_df['image_create_role_roi']>=0.05]
#     result_df['roi_rank'] = result_df['image_create_role_roi'].rank(ascending=False)
#     result_df = result_df[result_df['roi_rank'] <= np.ceil((result_df.shape[0] / 2))]
    return result_df['image_id'].values
#     return result_df

In [191]:
get_good_image()

array([48746, 48756, 48759, 48792, 48741, 48718], dtype=int64)

In [192]:
# 冷启动选素材
def get_image_cold():
    conn = pymysql.connect(host='db-slave-modelfenxi-001.ch', port=3306, user='model_read',
                           passwd='aZftlm6PcFjN{DxIKOPr)BcutuJd<uYOC0P<8')
    cur = conn.cursor(cursor=pymysql.cursors.DictCursor)
    sql = '''
        /*手动查询*/ 
            SELECT
            * 
            FROM
                db_data_ptom.ptom_image_info 
            WHERE
                NOT FIND_IN_SET( 10, exclude_media_ids ) 
                AND FIND_IN_SET(1002166,game_ids)
                '''
    cur.execute(sql)
    result = pd.read_sql(sql, conn)
    cur.close()
    conn.close()
    
    return result['image_id'].values

In [193]:
def filter_exclude_image(image_ids, media_id):
    image_ids = [str(i) for i in image_ids]
    image_ids = ','.join(image_ids)

    conn = pymysql.connect(host='db-slave-modelfenxi-001.ch', port=3306, user='model_read',
                           passwd='aZftlm6PcFjN{DxIKOPr)BcutuJd<uYOC0P<8')
    cur = conn.cursor(cursor=pymysql.cursors.DictCursor)
    sql = '''
        SELECT
            image_id,
            image_name
        FROM
            db_data_ptom.ptom_image_info
        WHERE
            image_id IN ({})
            AND NOT FIND_IN_SET({}, exclude_media_ids)
    '''
    result = pd.read_sql(sql.format(image_ids, media_id), conn)

    # 关闭链接
    cur.close()
    conn.close()

    return result['image_id'].values

In [136]:
def filter_game_image(image_ids, game_id):
    image_ids = [str(i) for i in image_ids]
    image_ids = ','.join(image_ids)

    conn = pymysql.connect(host='db-slave-modelfenxi-001.ch', port=3306, user='model_read',
                           passwd='aZftlm6PcFjN{DxIKOPr)BcutuJd<uYOC0P<8')
    cur = conn.cursor(cursor=pymysql.cursors.DictCursor)
    sql = '''
        SELECT
            image_id,
            image_name
        FROM
            db_data_ptom.ptom_image_info
        WHERE
            image_id IN ({})
            AND FIND_IN_SET({}, game_ids)
    '''
    cur.execute(sql.format(image_ids, game_id))
    result = pd.read_sql(sql.format(image_ids, game_id), conn)

    # 关闭链接
    cur.close()
    conn.close()

    return result['image_id'].values

In [137]:
# 303机器人勿上
def get_lable_image():
    conn = pymysql.connect(host='db-slave-modeltoufang-001.ch', port=3306, user='model_read',
                           passwd='aZftlm6PcFjN{DxIKOPr)BcutuJd<uYOC0P<8', db='db_ptom')
    cur = conn.cursor(cursor=pymysql.cursors.DictCursor)
    sql = '''
       SELECT
            image_id 
        FROM
            db_ptom.ptom_image_info a 
        WHERE
            FIND_IN_SET( 303, label_ids ) 

    '''
    cur.execute(sql)
    result_df = pd.read_sql(sql, conn)
    cur.close()
    conn.close()
    return result_df['image_id'].values

In [138]:
# 对长期累积roi不达标的素材进行过滤
# 获取数据-1-6天
# def get_data_1_6():
#     game_id = get_game_id()
#     game_id = list(map(lambda x: x['game_id'], game_id))
#     game_id = [str(i) for i in game_id]
#     game_id = ','.join(game_id)
#     conn = connect(host='192.168.0.97', port=10000, auth_mechanism='PLAIN', user='hadoop',
#                    password='Ycjh8FxiaoMtShZRd3-97%3hCEL0CK4ns1w', database='default')
#     cursor = conn.cursor()
#     sql = '''
#             SELECT
#                 user_id,
#                 game_id,
#                 channel_id,
#                 source_id,
#                 role_id,
#                 platform,
#                 media_id,
#                 pay_num,
#                 pay_sum,
#                 create_role_time,
#                 created_role_day,
#                 pay_7_pred,
#                 dt 
#             FROM
#                 tmp_data.tmp_roles_portrait_info_predict 
#             WHERE
#                 dt = CURRENT_DATE
#                 AND channel_id = 21206
#                 AND game_id IN ({})
    
#     '''
#     finalSql = sql.format(game_id)
#     cursor.execute(finalSql)
#     result = as_pandas(cursor)

#     # 关闭链接
#     cursor.close()
#     conn.close()

#     return result

# def get_data_7():
#     game_id = get_game_id()
#     game_id = list(map(lambda x: x['game_id'], game_id))
#     game_id = [str(i) for i in game_id]
#     game_id = ','.join(game_id)
#     conn = connect(host='192.168.0.97', port=10000, auth_mechanism='PLAIN', user='hadoop',
#                    password='Ycjh8FxiaoMtShZRd3-97%3hCEL0CK4ns1w', database='default')
#     cursor = conn.cursor()
#     sql = '''
#         SELECT
#             user_id,
#             game_id,
#             channel_id,
#             source_id,
#             role_id,
#             platform,
#             media_id,
#             pay_num,
#             pay_sum,
#             create_role_time,
#             created_role_day,
#             pay_sum AS pay_7_pred,
#             dt 
#         FROM
#             tmp_data.tmp_roles_portrait_info_train2 
#         WHERE
#             dt = CURRENT_DATE 
#             AND created_role_day = 7
#             AND channel_id = 21206
#             AND game_id IN ({})
#     '''
#     finalSql = sql.format(game_id)
#     cursor.execute(finalSql)
#     result = as_pandas(cursor)

#     # 关闭链接
#     cursor.close()
#     conn.close()

#     return result

# # 获取近期所有计划的消耗情况
# def get_amount_info():
#     game_id = get_game_id()
#     game_id = list(map(lambda x: x['game_id'], game_id))
#     game_id = [str(i) for i in game_id]
#     game_id = ','.join(game_id)
#     conn = pymysql.connect(host='db-slave-modelfenxi-001.ch', port=3306, user='model_read',
#                            passwd='aZftlm6PcFjN{DxIKOPr)BcutuJd<uYOC0P<8')
#     cur = conn.cursor(cursor=pymysql.cursors.DictCursor)
#     sql = '''
#     /*手动查询*/
#             SELECT
#                 tdate,
#                 channel_id,
#                 source_id,
#                 game_id,
#                 media_id,
#                 platform,
#                 amount 
#             FROM
#                 db_stdata.st_lauch_report 
#             WHERE
#                 game_id IN ({}) 
#                 AND tdate_type = 'day' 
#                 AND channel_id = 21206
#                 AND tdate >= date( NOW() - INTERVAL 7 DAY )
#                 AND tdate <= date( NOW() - INTERVAL 1 DAY )
#     '''
#     finalSql = sql.format(game_id)
#     result_df = pd.read_sql(finalSql, conn)
#     cur.close()
#     conn.close()
    
#     return result_df

# def calculate_roi(groupby_list=['media_id','platform','image_id']):
#     # 获取预测数据
#     df_1 = get_data_7()
#     df_2 = get_data_1_6()
#     df = df_1.append(df_2)
#     df['create_role_time'] = pd.to_datetime(df['create_role_time']).dt.date
#     # 聚合生成计划维度的回款预测数据
#     source_df = pd.DataFrame({'7_pay_sum':df.groupby(['game_id','channel_id','source_id','create_role_time','media_id','platform'])['pay_7_pred'].sum()}).reset_index()
#     source_df['media_id'] = source_df['media_id'].map(int)
#     source_df = source_df[source_df['media_id'].isin([10,16,32,45])]
#     # 获取计划消耗数据，只取4个主流媒体
#     amount_info = get_amount_info()
#     amount_info = amount_info[amount_info['media_id'].isin([10,16,32,45])]
#     image_info = get_image_info()
#     # 拼接数据
#     source_df.rename(columns={'create_role_time':'tdate'}, inplace=True)
#     source_df['tdate'] = pd.to_datetime(source_df['tdate'])
#     source_df = pd.merge(source_df,amount_info,on=['channel_id','source_id','tdate','media_id','platform','game_id'],how='outer')
#     source_df['amount'] = source_df['amount'].fillna(0)
#     source_df['7_pay_sum'] = source_df['7_pay_sum'].fillna(0)
#     data = pd.merge(source_df,image_info,on=['channel_id','source_id'],how='left')
    
#     df_pay_sum = pd.DataFrame({'7_pay_sum': data.groupby(groupby_list)['7_pay_sum'].sum()}).reset_index()
#     df_amount = pd.DataFrame({'7_amount': data.groupby(groupby_list)['amount'].sum()}).reset_index()
#     df = pd.merge(df_amount,df_pay_sum,on=groupby_list,how='left')
#     df['7_pay_sum'] = df['7_pay_sum'].apply(lambda x: round(x,2))
#     df['7_amount'] = df['7_amount'].apply(lambda x: round(x,2))
#     df = df[df['7_amount']>0]
#     df['7_roi'] = round(df['7_pay_sum'] / df['7_amount'],4)
    
#     df = df[(df['media_id']==10)&(df['platform']==1)&(df['7_amount']>=15000)&(df['7_roi']<0.05)]
#     df['image_id'] = df['image_id'].astype(int)
#     return df['image_id'].values

In [222]:
def select_cold_image(game_id, media_id):
    """
    获取基础素材
    """
    score_image = get_image_cold()
    score_image = filter_exclude_image(score_image, media_id)
    score_image = filter_game_image(score_image, game_id)
#     score_image = np.setdiff1d(score_image,calculate_roi())
#     score_image = np.setdiff1d(score_image, get_lable_image())  # 过滤指定标签的素材
#     print('匹配的素材ID', score_image)
    return score_image

In [223]:
def select_good_image(game_id, media_id):
    """
    获取基础素材
    """
    score_image = get_good_image()
    if score_image.size != 0:
        score_image = filter_exclude_image(score_image, media_id)
        score_image = filter_game_image(score_image, game_id)
#     score_image = np.setdiff1d(score_image,calculate_roi())
#     score_image = np.setdiff1d(score_image, get_lable_image())  # 过滤指定标签的素材
#     print('匹配的素材ID', score_image)
    return score_image

In [141]:
# def select_image(game_id, media_id):
#     # 选定高分素材，并对不能跑的素材进行过滤
#     score_image_1 = get_score_image_other()
#     score_image_2 = get_score_image()
#     score_image = np.union1d(score_image_1,score_image_2)
# #     # 跑历史拉环
# #     score_image = get_old_im()
#     score_image = filter_game_image(score_image, game_id)
#     image_id_group = filter_exclude_image(score_image, media_id)
#     image_id_group = np.setdiff1d(image_id_group,calculate_roi())
#     image_id_group = np.setdiff1d(image_id_group, get_lable_image())  # 过滤指定标签的素材
#     return image_id_group

In [142]:
# def select_image_old(game_id, media_id):
#     # 选定高分素材，并对不能跑的素材进行过滤
#     score_image = get_old_image()
#     score_image = filter_game_image(score_image, game_id)
#     image_id_group = filter_exclude_image(score_image, media_id)
#     image_id_group = np.setdiff1d(image_id_group,calculate_roi())
#     image_id_group = np.setdiff1d(image_id_group, get_lable_image())  # 过滤指定标签的素材
#     return image_id_group

In [224]:
# 账号优先排斥素材
def get_priority_rejection():
    conn = pymysql.connect(host='db-slave-modelfenxi-001.ch', port=3306, user='model_read',
                           passwd='aZftlm6PcFjN{DxIKOPr)BcutuJd<uYOC0P<8')
    cur = conn.cursor(cursor=pymysql.cursors.DictCursor)
    sql = '''
        /*手动查询*/ 
        SELECT
            aa.ad_account_id AS 'ad_account_id',
            aa.image_id AS 'image_id',
            aa.image_name AS 'image_name',
            aa.media_id AS 'media_id',
            aa.label_ids AS 'label_ids',
            sum( aa.amount ) AS 'image_run_date_amount',
            IFNULL( sum( aa.create_role_num ), 0 ) AS 'image_create_role_num',
            IFNULL( sum( bb.pay_role_user_num ), 0 ) AS 'image_create_role_pay_num',
            IFNULL( sum( bb.new_role_money ), 0 ) AS 'image_create_role_pay_sum',
            IFNULL( sum( aa.image_source_num ), 0 ) AS 'image_source_num' 
        FROM
            (
            SELECT
                a.game_id,
                a.channel_id,
                a.source_id,
                a.media_id,
                b.ad_account_id,
                c.image_id,
                c.image_name,
                c.label_ids,
                IFNULL( sum( a.amount ), 0 ) AS amount,
                IFNULL( sum( create_role_num ), 0 ) AS create_role_num,
                count( DISTINCT b.plan_id ) AS 'image_source_num' 
            FROM
                db_stdata.st_lauch_report a
                INNER JOIN db_data_ptom.ptom_plan b ON a.game_id = b.game_id 
                AND a.source_id = b.source_id 
                AND a.channel_id = b.chl_user_id
                LEFT JOIN db_data_ptom.ptom_image_info c ON b.image_id = c.image_id 
            WHERE
                a.tdate_type = 'day' 
                AND a.tdate <= date( NOW()) AND a.tdate >= DATE_SUB( date( NOW()), INTERVAL 5 DAY ) 
                AND a.amount > 0 
                AND a.media_id IN ( 10 ) 
                AND b.image_id IS NOT NULL 
                AND b.image_id <> '' 
                AND a.game_id IN ( SELECT dev_game_id AS game_id FROM db_data.t_game_config WHERE game_id = 1140 AND dev_game_id IS NOT NULL ) 
            GROUP BY
                a.game_id,
                a.channel_id,
                a.source_id 
            HAVING
                c.image_id IS NOT NULL 
                AND c.image_name <> '' 
            ) aa
            LEFT JOIN (
            SELECT
                game_id,
                channel_id,
                source_id,
                IFNULL( sum( m.new_role_money ), 0 ) AS new_role_money,
                IFNULL( sum( m.pay_role_user_num ), 0 ) AS pay_role_user_num 
            FROM
                (
                SELECT
                    a.game_id,
                    a.channel_id,
                    a.source_id,
                    IFNULL( sum( a.new_role_money ), 0 ) AS new_role_money,
                    IFNULL( sum( a.pay_role_user_num ), 0 ) AS pay_role_user_num 
                FROM
                    db_stdata.st_lauch_report a
                    INNER JOIN db_data_ptom.ptom_plan pp ON ( a.game_id = pp.game_id AND a.channel_id = pp.chl_user_id AND a.source_id = pp.source_id ) 
                WHERE
                    a.tdate = date(
                    NOW()) 
                    AND a.tdate_type = 'day' 
                GROUP BY
                    a.game_id,
                    a.channel_id,
                    a.source_id 
                HAVING
                    ( new_role_money > 0 OR pay_role_user_num > 0 ) UNION ALL
                SELECT
                    c.game_id,
                    c.channel_id,
                    c.source_id,
                    sum( c.create_role_money ) new_role_money,
                    IFNULL( sum( c.pay_role_user_num ), 0 ) AS pay_role_user_num 
                FROM
                    db_stdata.st_game_days c 
                WHERE
                    c.report_days = 5 
                    AND c.tdate = date( NOW() - INTERVAL 24 HOUR ) 
                    AND c.tdate_type = 'day' 
                    AND c.query_type = 13 
                GROUP BY
                    c.game_id,
                    c.channel_id,
                    c.source_id 
                HAVING
                ( new_role_money > 0 OR pay_role_user_num > 0 )) m 
            GROUP BY
                game_id,
                channel_id,
                source_id 
            ) bb ON aa.game_id = bb.game_id 
            AND aa.channel_id = bb.channel_id 
            AND aa.source_id = bb.source_id 
        GROUP BY
            aa.ad_account_id,
            aa.image_id,
            aa.image_name,
            aa.media_id 
        HAVING
            image_run_date_amount >= 100
    '''
#     finalSql = sql.format(game_id)
    cur.execute(sql)
    result_df = pd.read_sql(sql, conn)
    cur.close()
    conn.close()
    if result_df.shape[0] != 0:
        result_df['roi'] = result_df['image_create_role_pay_sum'] / result_df['image_run_date_amount']
        result_df['pay_cost'] = result_df.apply(lambda x: x.image_run_date_amount if x.image_create_role_pay_sum==0 else x.image_run_date_amount/x.image_create_role_pay_num, axis=1)
        # 优选条件
        df_1 = result_df[(result_df['pay_cost']<=5000)&(result_df['roi']>=0.05)&(result_df['image_create_role_pay_sum']>=100)&(result_df['image_source_num']<=10)][['ad_account_id','image_id']]
        # 排斥条件
        df_2 = result_df[(result_df['image_run_date_amount']>=5000)&(result_df['image_create_role_pay_sum']==0)][['ad_account_id','image_id']] 
        return df_1, df_2
    else:
        print('数据为空')

In [225]:
def get_ad_create(plan_result):
    ad_info = []
    for i in range(plan_result.shape[0]):
        ad_info.append(json.loads(plan_result.iloc[i].to_json()))
    open_api_url_prefix = "https://ptom.caohua.com/"
#     open_api_url_prefix = "https://ptom-pre.caohua.com/"   ## 预发布环境
    uri = "model/generationPlanBatchTask"
    url = open_api_url_prefix + uri
    params = {
        "secretkey": "abc2018!@**@888",
        "mediaId": 10
    }
    rsp = requests.post(url, json=ad_info, params=params)
    rsp_data = rsp.json()
    print('结束....')
    return rsp_data

In [145]:
# image_id_group = select_image(global_var.game_id, global_var.media_id)
# print('匹配到的素材', image_id_group)

In [146]:
# image = select_cold_image(global_var.game_id, global_var.media_id)

In [226]:
image = np.array([48671,48770,48771,48706,48845,48769,48740,48835,48776,48757,48777,48739,48746,48707,48764,48738,48723,48805,48711,48712,48806,48824,48741,48778,48756,48772,48728,48759,48760,48721,48724,48826,48779,48685,48736,48717,
          48720,48809,48773,48730,48729,48810,48761,48727,48812,48762,48813,48716,48774,48710,48719,48718,48763,48709,48753,48743,48815,48792,48797,48827,48834])

In [227]:
select_good_image(global_var.game_id, global_var.media_id)

array([48718, 48741, 48746, 48756, 48759, 48792], dtype=int64)

In [228]:
try:
    df_1, df_2 = get_priority_rejection()
except:
    df_1 = pd.DataFrame(columns=['ad_account_id','image_id'])
    df_2 = pd.DataFrame(columns=['ad_account_id','image_id'])

In [229]:
# 每个账号分配素材并建计划
plan_result = pd.DataFrame()
image_3 = select_good_image(global_var.game_id, global_var.media_id)
for ad_account_id in global_var.ad_account_id_group:
    # 该账号素材 image_1(账号优先素材)，image_2(冷启动素材)，image_3(全局优先素材)
    image_1 = df_1[df_1['ad_account_id']==ad_account_id]['image_id'].values  
    image_3 = np.setdiff1d(image_3, image_1)
    image_3 = np.setdiff1d(image_3, df_2[df_2['ad_account_id']==ad_account_id]['image_id'].values)
    image_2 = np.setdiff1d(image, df_2[df_2['ad_account_id']==ad_account_id]['image_id'].values)
    image_2 = np.setdiff1d(image_2, image_1)
    image_2 = np.setdiff1d(image_2, image_3)
    if image_1.size>=global_var.plan_num:
        image_group = np.random.choice(image_1, size=global_var.plan_num, replace=False)
    elif (image_1.size<global_var.plan_num) & (image_3.size >=(global_var.plan_num - image_1.size)//2):
        image_group =np.random.choice(image_3, size=(global_var.plan_num - image_1.size)//2, replace=False)
        image_group = np.union1d(image_group,image_1)
        if image_2.size >= global_var.plan_num-image_group.size:
            image_group =  np.union1d(image_group,np.random.choice(image_2, size=(global_var.plan_num-image_group.size), replace=False))
        else:
            image_group =  np.union1d(image_group,image_2)
    else:
        image_group =np.union1d(image_3,image_1)
        if image_2.size >= global_var.plan_num-image_group.size:
            image_group =  np.union1d(image_group,np.random.choice(image_2, size=(global_var.plan_num-image_group.size), replace=False))
        else:
            image_group =  np.union1d(image_group,image_2)
    
    for image_id in image_group:
        temp = pd.DataFrame({'ad_account_id': [ad_account_id], 'image_id': [image_id]})
        plan_result = plan_result.append(temp)
plan_result = plan_result.reset_index(drop=True)

In [168]:
# 每个账号分配素材并建计划
# plan_result = pd.DataFrame()
# for ad_account_id in global_var.ad_account_id_group:
#     # 该账号素材 image_1(账号优先素材)，image_2(冷启动素材)，image_3(全局优先素材)
#     image_1 = df_1[df_1['ad_account_id']==ad_account_id]['image_id'].values
#     image_3 = select_good_image(global_var.game_id, global_var.media_id)
#     # 从全局优先素材中选部分素材
# #     if np.setdiff1d(image_3, image_1).size >= 
# #     np.random.choice(np.setdiff1d(image_3, image_1),)
# #     np.setdiff1d(image_3, image_1)
#     image_1 = np.union1d(image_1,image_3)
#     image_2 = np.setdiff1d(image, df_2[df_2['ad_account_id']==ad_account_id]['image_id'].values)
#     image_2 = np.setdiff1d(image_2, image_1)
#     if image_1.size>=global_var.plan_num:
#         image_group = np.random.choice(image_1, size=global_var.plan_num, replace=False)
#     else:
#         if image_2.size >= global_var.plan_num-image_1.size:
# #             print(global_var.plan_num-image_1.size)
#             image_group =  np.union1d(image_1,np.random.choice(image_2, size=(global_var.plan_num-image_1.size), replace=False))
#         else:
#             image_group =  np.union1d(image_1,image_2)
#     for image_id in image_group:
#         temp = pd.DataFrame({'ad_account_id': [ad_account_id], 'image_id': [image_id]})
#         plan_result = plan_result.append(temp)
# plan_result = plan_result.reset_index(drop=True)

In [230]:
plan_result

    ad_account_id  image_id
0           12441     48706
1           12441     48707
2           12441     48711
3           12441     48741
4           12441     48756
5           12441     48762
6           12441     48792
7           12449     48729
8           12449     48739
9           12449     48746
10          12449     48756
11          12449     48773
12          12449     48792
13          12449     48809
14          12450     48718
15          12450     48730
16          12450     48739
17          12450     48746
18          12450     48759
19          12450     48777
20          12450     48835
21          12451     48716
22          12451     48746
23          12451     48759
24          12451     48761
25          12451     48774
26          12451     48778
27          12451     48792
28          12452     48706
29          12452     48717
30          12452     48721
31          12452     48728
32          12452     48741
33          12452     48759
34          12452     48792

In [231]:
inventory_type_info,retargeting_tags_include_info,retargeting_tags_exclude_info,ad_keywords_info,title_list_info,third_industry_id_info = get_info()

In [232]:
# 基础固定参数
plan_result['game_id'] = global_var.game_id
plan_result['platform'] = global_var.platform
plan_result['budget'] = global_var.budget
plan_result['android_osv'] = plan_result.apply(lambda x:np.random.choice(["9.0","10.0","None"],p=[0.4,0.2,0.4]), axis=1)
plan_result['ios_osv'] = "None"
# plan_result['inventory_type'] = plan_result.apply(lambda x:np.random.choice(list(inventory_type_info.keys()), p=np.divide(list(inventory_type_info.values()), sum(list(inventory_type_info.values()))).tolist()), axis=1)
plan_result['inventory_type'] = plan_result.apply(lambda x:"['INVENTORY_AWEME_FEED', 'INVENTORY_FEED']",axis=1)
plan_result['delivery_range'] = plan_result.apply(lambda x:'UNION' if x.inventory_type == "['INVENTORY_UNION_SLOT']" else 'DEFAULT', axis=1)
plan_result['schedule_time'] = plan_result['ad_account_id'].apply(lambda x: "111111111111111111111111111111111111111111"
                                                                            "111111111111111111111111111111111111111111"
                                                                            "111111111111111111111111111111111111111111"
                                                                            "111111111111111111111111111111111111111111"
                                                                            "111111111111111111111111111111111111111111"
                                                                            "111111111111111111111111111111111111111111"
                                                                            "111111111111111111111111111111111111111111"
                                                                            "111111111111111111111111111111111111111111")
plan_result['flow_control_mode'] = "FLOW_CONTROL_MODE_FAST"                                        #竞价策略
plan_result['plan_auto_task_id'] = "12755,12756"
plan_result['op_id'] = 13268
plan_result['district'] = 'CITY'
plan_result['flag'] = 'DGFZ'
plan_result['web_url'] = "https://www.chengzijianzhan.com/tetris/page/7132678558640111653/"

In [233]:
# 定向池  retargeting_tags_include\retargeting_tags_exclude\
# plan_result['retargeting_tags_include'] = plan_result.apply(lambda x:np.random.choice(list(retargeting_tags_include_info.keys()), p=np.divide(list(retargeting_tags_include_info.values()), sum(list(retargeting_tags_include_info.values()))).tolist()), axis=1)
# plan_result['retargeting_tags_exclude'] = plan_result.apply(lambda x:np.random.choice(list(retargeting_tags_exclude_info.keys()), p=np.divide(list(retargeting_tags_exclude_info.values()), sum(list(retargeting_tags_exclude_info.values()))).tolist()), axis=1)
# plan_result['retargeting_tags_include'] = "[]"
# plan_result['retargeting_tags_exclude'] = "[341029460, 341029326]"
plan_result['retargeting_tags_include'] = "[]"
plan_result['retargeting_tags_exclude'] = "[]"

plan_result['city'] = plan_result.apply(lambda x:"[]", axis=1)
plan_result['location_type'] = "CURRENT"
plan_result['gender'] = plan_result.apply(lambda x:np.random.choice(["GENDER_MALE","None"],p=[0.8,0.2]), axis=1)
plan_result['age'] = plan_result.apply(lambda x:"['AGE_BETWEEN_24_30', 'AGE_BETWEEN_31_40', 'AGE_BETWEEN_41_49']", axis=1)
plan_result['ac'] = "[]"
plan_result['launch_price'] = plan_result.apply(lambda x:np.random.choice(["[]", "[2000, 11000]"],p=[0.8,0.2]), axis=1)
plan_result['auto_extend_enabled'] = 0
plan_result['hide_if_exists'] = 0
plan_result['hide_if_converted'] = plan_result.apply(lambda x:np.random.choice(["AD", "CUSTOMER"],p=[0.65,0.35]), axis=1)

# 兴趣
plan_result['interest_action_mode'] = 'UNLIMITED'
plan_result['action_scene'] = np.nan
plan_result['action_days'] = np.nan
plan_result['action_categories'] = np.nan
plan_result['interest_categories'] = np.nan

In [234]:
# 创意参数
plan_result['ad_keywords'] = plan_result.apply(lambda x:np.random.choice(list(ad_keywords_info.keys()), p=np.divide(list(ad_keywords_info.values()), sum(list(ad_keywords_info.values()))).tolist()), axis=1)
plan_result['title_list'] = plan_result.apply(lambda x:np.random.choice(list(title_list_info.keys()), p=np.divide(list(title_list_info.values()), sum(list(title_list_info.values()))).tolist()), axis=1)
plan_result['third_industry_id'] = plan_result.apply(lambda x:np.random.choice(list(third_industry_id_info.keys()), p=np.divide(list(third_industry_id_info.values()), sum(list(third_industry_id_info.values()))).tolist()), axis=1)

In [174]:
# 出价——每次付费
# plan_result['cpa_bid'] = plan_result.apply(lambda x:random.randint(760, 800), axis=1)
# plan_result['smart_bid_type'] = plan_result.apply(lambda x:np.random.choice(['SMART_BID_CUSTOM', 'SMART_BID_NO_BID']), axis=1)
# plan_result['deep_bid_type'] = 'BID_PER_ACTION'
# plan_result['roi_goal'] = np.nan
# plan_result['adjust_cpa'] = 0
# plan_result['convertIndex'] = plan_result['deep_bid_type'].apply(lambda x:23 if x == 'BID_PER_ACTION'
#                                                                                 else 24 if x == 'ROI_COEFFICIENT'
#                                                                                     else np.nan)

In [235]:
# 出价——付费出价
plan_result['cpa_bid'] = plan_result.apply(lambda x:random.randint(3300, 3400), axis=1)
# plan_result['smart_bid_type'] = 'SMART_BID_CUSTOM'
plan_result['smart_bid_type'] = plan_result.apply(lambda x:np.random.choice(['SMART_BID_CUSTOM', 'SMART_BID_NO_BID']), axis=1)
plan_result['deep_bid_type'] = 'DEEP_BID_DEFAULT'
plan_result['roi_goal'] = np.nan
plan_result['adjust_cpa'] = 0
plan_result['convertIndex'] = plan_result['deep_bid_type'].apply(lambda x:23 if (x == 'BID_PER_ACTION') | (x =='DEEP_BID_DEFAULT')
                                                                                else 24 if x == 'ROI_COEFFICIENT'
                                                                                    else np.nan)

In [236]:
# 穿山甲版位不支持nobid
plan_result['inventory_type'] = plan_result['inventory_type'].apply(lambda x: "[]" if x ==
                  "['INVENTORY_UNION_SLOT', 'INVENTORY_AWEME_FEED', 'INVENTORY_FEED', 'INVENTORY_UNION_SPLASH_SLOT', "
                  "'INVENTORY_VIDEO_FEED', 'INVENTORY_HOTSOON_FEED', 'INVENTORY_TOMATO_NOVEL']" else x)
plan_result['smart_bid_type'] = plan_result.apply(lambda x: 'SMART_BID_CUSTOM' if 'INVENTORY_UNION_SLOT' in x.inventory_type else x.smart_bid_type, axis=1)

In [237]:
plan_result['inventory_type'] = plan_result['inventory_type'].apply(ast.literal_eval)
plan_result['platform'] = plan_result['platform'].apply(ast.literal_eval)
plan_result['retargeting_tags_include'] = plan_result['retargeting_tags_include'].apply(ast.literal_eval)
plan_result['retargeting_tags_exclude'] = plan_result['retargeting_tags_exclude'].apply(ast.literal_eval)
plan_result['city'] = plan_result['city'].apply(ast.literal_eval)
plan_result['age'] = plan_result['age'].apply(ast.literal_eval)
plan_result['ac'] = plan_result['ac'].apply(ast.literal_eval)
plan_result['launch_price'] = plan_result['launch_price'].apply(ast.literal_eval)
plan_result['ad_keywords'] = plan_result['ad_keywords'].apply(ast.literal_eval)
plan_result['title_list'] = plan_result['title_list'].apply(ast.literal_eval)
# 限制手机价格
# plan_result['launch_price'] = plan_result['launch_price'].apply(lambda x: "[3000, 11000]")
# plan_result['launch_price'] = plan_result['launch_price'].apply(ast.literal_eval)
# plan_result['operation'] = 'disable'

In [238]:
plan_result.head()

,ad_account_id,image_id,game_id,platform,budget,android_osv,ios_osv,inventory_type,delivery_range,schedule_time,flow_control_mode,plan_auto_task_id,op_id,district,flag,web_url,retargeting_tags_include,retargeting_tags_exclude,city,location_type,gender,age,ac,launch_price,auto_extend_enabled,hide_if_exists,hide_if_converted,interest_action_mode,action_scene,action_days,action_categories,interest_categories,ad_keywords,title_list,third_industry_id,cpa_bid,smart_bid_type,deep_bid_type,roi_goal,adjust_cpa,convertIndex
0,12441,48706,1002166,[ANDROID],4000,10.0,None,"[INVENTORY_AWEME_FEED, INVENTORY_FEED]",DEFAULT,1111111111111111111111111111111111111111111111...,FLOW_CONTROL_MODE_FAST,"12755,12756",13268,CITY,DGFZ,https://www.chengzijianzhan.com/tetris/page/71...,[],[],[],CURRENT,GENDER_MALE,"[AGE_BETWEEN_24_30, AGE_BETWEEN_31_40, AGE_BET...",[],[],0,0,AD,UNLIMITED,NaN,NaN,NaN,NaN,"[手游, SLG, 策略, 战争策略, 策略手游, 最强王者, 我的使命, 红警, 帝国文明...","[{'title': '【帝国纷争】全新SLG手游首发！新帝国！新秩序！新王当立！', 'c...",19131201,3391,SMART_BID_CUSTOM,DEEP_BID_DEFAULT,NaN,0,23
1,12441,48707,1002166,[ANDROID],4000,9.0,None,"[INVENTORY_AWEME_FEED, INVENTORY_FEED]",DEFAULT,1111111111111111111111111111111111111111111111...,FLOW_CONTROL_MODE_FAST,"12755,12756",13268,CITY,DGFZ,https://www.chengzijianzhan.com/tetris/page/71...,[],[],[],CURRENT,GENDER_MALE,"[AGE_BETWEEN_24_30, AGE_BETWEEN_31_40, AGE_BET...",[],[],0,0,AD,UNLIMITED,NaN,NaN,NaN,NaN,"[帝国时代, SLG, 战争策略, 策略游戏, 网易, 腾讯, 帝国战纪, 黎明之海, 文明...","[{'title': '重返中世纪，征服多文明，2022年全新策略手游今日安卓首测！', '...",19131201,3370,SMART_BID_NO_BID,DEEP_BID_DEFAULT,NaN,0,23
2,12441,48711,1002166,[ANDROID],4000,None,None,"[INVENTORY_AWEME_FEED, INVENTORY_FEED]",DEFAULT,1111111111111111111111111111111111111111111111...,FLOW_CONTROL_MODE_FAST,"12755,12756",13268,CITY,DGFZ,https://www.chengzijianzhan.com/tetris/page/71...,[],[],[],CURRENT,GENDER_MALE,"[AGE_BETWEEN_24_30, AGE_BETWEEN_31_40, AGE_BET...",[],[],0,0,AD,UNLIMITED,NaN,NaN,NaN,NaN,"[三国志, 文明与征服, 铺路, 打地, 三国, 率土之滨, 海战, 策略, 攻城, 集结,...","[{'title': '8分钟开局建城，1天招兵买马，7天成为一州之主，你来试试？', 'c...",19131201,3375,SMART_BID_NO_BID,DEEP_BID_DEFAULT,NaN,0,23
3,12441,48741,1002166,[ANDROID],4000,None,None,"[INVENTORY_AWEME_FEED, INVENTORY_FEED]",DEFAULT,1111111111111111111111111111111111111111111111...,FLOW_CONTROL_MODE_FAST,"12755,12756",13268,CITY,DGFZ,https://www.chengzijianzhan.com/tetris/page/71...,[],[],[],CURRENT,GENDER_MALE,"[AGE_BETWEEN_24_30, AGE_BETWEEN_31_40, AGE_BET...",[],"[2000, 11000]",0,0,CUSTOMER,UNLIMITED,NaN,NaN,NaN,NaN,"[手游, SLG, 策略, 战争策略, 策略手游, 最强王者, 我的使命, 红警, 帝国文明...","[{'title': '【帝国纷争】全新SLG手游首发！新帝国！新秩序！新王当立！', 'c...",19131201,3326,SMART_BID_CUSTOM,DEEP_BID_DEFAULT,NaN,0,23
4,12441,48756,1002166,[ANDROID],4000,None,None,"[INVENTORY_AWEME_FEED, INVENTORY_FEED]",DEFAULT,1111111111111111111111111111111111111111111111...,FLOW_CONTROL_MODE_FAST,"12755,12756",13268,CITY,DGFZ,https://www.chengzijianzhan.com/tetris/page/71...,[],[],[],CURRENT,GENDER_MALE,"[AGE_BETWEEN_24_30, AGE_BETWEEN_31_40, AGE_BET...",[],"[2000, 11000]",0,0,AD,UNLIMITED,NaN,NaN,NaN,NaN,"[游戏, 手游, 对战, 军事手游, 三国志, 三国志策略版, 万国觉醒, 传奇, 深蓝战舰...","[{'title': '8分钟开局建城，1天招兵买马，7天成为一州之主，你来试试？', 'c...",19131201,3312,SMART_BID_CUSTOM,DEEP_BID_DEFAULT,NaN,0,23

In [239]:
print('计划数量%d' % plan_result.shape[0])
rsp_data = get_ad_create(plan_result)
print(rsp_data)

计划数量35
结束....
{'code': 200, 'data': True, 'msg': ''}

In [240]:
plan_result.to_csv('./plan_result.csv',index=0)

In [241]:
plan_result['image_id'].value_counts()

48792    4
48746    3
48759    3
48706    2
48741    2
48756    2
48739    2
48777    1
48721    1
48717    1
48778    1
48774    1
48761    1
48716    1
48835    1
48718    1
48730    1
48707    1
48809    1
48773    1
48729    1
48762    1
48711    1
48728    1
Name: image_id, dtype: int64