In [237]:
import pandas as pd
from os import walk

In [264]:
files = []
for i in range(1,31):
    os = './data' +'/' +str(i) + '.xls'
    files.append(os)
dataframe_list = pd.DataFrame()
i = 1
for file in files:
    df = pd.read_excel(file)
    df['time'] = i
    dataframe_list = dataframe_list.append(df)
    i += 1

In [265]:
dataframe_list = dataframe_list[dataframe_list['投放媒体']=='今日头条']

In [266]:
dataframe_list.head()

,投放计划名称,game_id,channel_id,source_id,30ROI,新建时间,投放计划ID,投放媒体,投放广告位,投放游戏,素材,投放账号,投放人,优化比例,账面消耗金额,实际消耗金额,点击率,采集点击,下载率,激活数,注册数,创角账号数,新建角色数,激活成本,创角成本,激活率,创角率,新增付费创角数,新创角付费次数,新创角付费成本,当日新增付费设备,新创角付费率,新设备付费率,新设备充值金额,新创角充值金额,激活总流水,新创角回款率,新激活设备回款率,激活次留,激活3留,激活7留,激活30留,激活1日ltv,激活3日ltv,激活7日ltv,激活30日ltv,创角次留,创角3留,创角4留,创角5留,创角6留,创角7留,创角10留,创角15留,创角30留,创角1日LTV,创角2日LTV,创角3日LTV,创角4日LTV,创角5日LTV,创角6日LTV,创角7日LTV,创角10日LTV,创角15日LTV,创角30日LTV,代投,time
1,HSX-TT-CH103-迷城-SSR1356-0701_4,1000960.0,20540.0,323114.0,0.0,2020-07-01,313328.0,今日头条,NaN,迷城起源-联运,SSR1356-横版（测试）,caohua103@wiseimp.com,侯绍鑫,无,618.96,589.49,0.00392,553.0,0.00000,0.0,0.0,0.0,0.0,589.490,589.490,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,否,1
2,HSX-TT-CH103-迷城-SSR1356-0701_3,1000960.0,20540.0,323113.0,0.0,2020-07-01,313325.0,今日头条,NaN,迷城起源-联运,SSR1356-横版（测试）,caohua103@wiseimp.com,侯绍鑫,无,563.06,536.25,0.00730,660.0,0.00000,0.0,0.0,0.0,0.0,536.250,536.250,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,否,1
3,全民投资4-末日-new-7.1_2,1000840.0,20953.0,323225.0,0.0,2020-07-01,313438.0,今日头条,NaN,末日危城-联运,SSR488-竖版（扒）,guoshizhan19910713@163.com,蔡金城,无,1124.90,1071.33,0.00357,379.0,0.00526,2.0,2.0,2.0,2.0,535.665,535.665,0.005277,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,否,1
4,Wu-fpftt-mrwc_6.30_97,1000840.0,21116.0,322970.0,0.0,2020-06-30,313183.0,今日头条,NaN,末日危城-联运,SSR1316-横版（3D混剪）,wuji19910117@163.com,范平凡,无,550.15,523.95,0.01519,389.0,0.00257,1.0,1.0,1.0,1.0,523.950,523.950,0.002571,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,否,1
5,投资87-末日-7.1_1,1000840.0,20953.0,323072.0,0.0,2020-07-01,313283.0,今日头条,NaN,末日危城-联运,SSR1365-横版（混剪测试）,gonglang19680919@163.com,蔡金城,无,526.01,500.96,0.01305,368.0,0.00272,1.0,1.0,1.0,1.0,500.960,500.960,0.002717,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,否,1

In [267]:
dataframe_list.shape

(44210, 67)

In [268]:
pd.set_option('display.max_columns',None)
data = dataframe_list[['channel_id','source_id','30ROI','创角30日LTV','创角账号数','实际消耗金额','time']]

In [269]:
data.dropna(subset=['channel_id'],inplace=True)
data.fillna(0,inplace=True)
data = data.rename(columns={'实际消耗金额':'amount'})
data['pay_sum'] = data['创角账号数'] * data['创角30日LTV']

C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Administrator\anaconda3\lib\site-packages\pandas\core\frame.py:4153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [270]:
data.head()

   channel_id  source_id  30ROI  创角30日LTV  创角账号数   amount  time  pay_sum
1     20540.0   323114.0    0.0       0.0    0.0   589.49     1      0.0
2     20540.0   323113.0    0.0       0.0    0.0   536.25     1      0.0
3     20953.0   323225.0    0.0       0.0    2.0  1071.33     1      0.0
4     21116.0   322970.0    0.0       0.0    1.0   523.95     1      0.0
5     20953.0   323072.0    0.0       0.0    1.0   500.96     1      0.0

In [271]:
data.to_csv('./data.csv')

In [257]:
data['amount'].sum()

26990651.54

In [263]:
data[data['source_id'] ==321941]

,channel_id,source_id,30ROI,创角30日LTV,创角账号数,amount,time,pay_sum
280,20754.0,321941.0,0.313311,2.834320,2366.0,21403.66,1,6706.001120
298,20754.0,321941.0,0.471127,4.691869,1402.0,13962.26,2,6578.000338
279,20754.0,321941.0,2.544016,18.543295,3788.0,27610.68,3,70242.001460
344,20754.0,321941.0,1533.283724,0.484211,475.0,0.15,4,230.000225
1362,20754.0,321941.0,0.000000,0.000000,121.0,0.00,5,0.000000
298,20754.0,321941.0,0.058783,0.374364,983.0,6260.29,6,367.999812
307,20754.0,321941.0,0.019080,0.095643,941.0,4716.98,7,90.000063
388,20754.0,321941.0,0.027984,0.161963,815.0,4716.98,8,131.999845
1537,20754.0,321941.0,0.000000,1.295775,71.0,0.00,9,92.000025
410,20754.0,321941.0,0.065296,0.445087,692.0,4716.98,10,308.000204
1391,20754.0,321941.0,0.000000,0.000000,63.0,0.00,11,0.000000
1310,20754.0,321941.0,0.000000,0.000000,36.0,0.00,12,0.000000
1252,20754.0,321941.0,0.000000,0.000000,29.0,0.00,13,0.000000
1316,20754.0,321941.0,0.000000,0.000000,15.0,0.00,14,0.000000
1259,20754.0,321941.0,0.000000,0.000000,7.0,0.00,15,0.000000
1761,20754.0,321941.0,0.000000,0.000000,7.0,0.00,16,0.000000
2089,20754.0,321941.0,0.000000,0.000000,9.0,0.00,17,0.000000
1807,20754.0,321941.0,0.000000,0.000000,9.0,0.00,18,0.000000
1648,20754.0,321941.0,0.000000,0.000000,21.0,0.00,19,0.000000
1604,20754.0,321941.0,0.000000,62.285714,7.0,0.00,20,435.999998
1578,20754.0,321941.0,0.000000,0.000000,7.0,0.00,21,0.000000
1450,20754.0,321941.0,0.000000,0.000000,9.0,0.00,22,0.000000
1597,20754.0,321941.0,0.000000,0.000000,7.0,0.00,23,0.000000
1497,20754.0,321941.0,0.000000,126.571429,7.0,0.00,24,886.000003
1342,20754.0,321941.0,0.000000,0.000000,3.0,0.00,25,0.000000
1189,20754.0,321941.0,0.000000,0.000000,3.0,0.00,26,0.000000
1196,20754.0,321941.0,0.000000,190.000000,5.0,0.00,27,950.000000
1282,20754.0,321941.0,0.000000,0.000000,7.0,0.00,28,0.000000
1409,20754.0,321941.0,0.000000,0.000000,2.0,0.00,29,0.000000
1634,20754.0,321941.0,0.000000,0.000000,7.0,0.00,30,0.000000

In [258]:
# 余量充量金额
data[data['amount']==0]['pay_sum'].sum()

2616921.998377

In [260]:
# 余量充量金额
data[data['amount']==0]['pay_sum'].sum()/data['pay_sum'].sum()

0.21109248650767673

In [259]:
data['pay_sum'].sum()

12397039.997356

In [248]:
data['pay_sum'].sum()/data['amount'].sum()

0.362352051507084

In [139]:
data_1 = data[data['amount']<500]
data_1['pay_sum'].sum()/data_1['amount'].sum()

0.16512880350036113

In [140]:
data_1['amount'].sum()

909241.48

In [190]:
data['channel_id'] = data['channel_id'].astype(np.int64)
data['source_id'] = data['source_id'].astype(np.int64)

In [191]:
data.head()

   channel_id  source_id  30ROI   amount  time  pay_sum
1       20540     323114    0.0   589.49     1      0.0
2       20540     323113    0.0   536.25     1      0.0
3       20953     323225    0.0  1071.33     1      0.0
4       21116     322970    0.0   523.95     1      0.0
5       20953     323072    0.0   500.96     1      0.0

In [208]:
source_info_1 = pd.read_csv('./source_info_1.csv')

In [209]:
source_info_1['source_run_date'] = pd.to_datetime(source_info_1['source_run_date'])

In [210]:
import numpy as np

In [211]:
source_info_1['time'] = source_info_1['source_run_date'].astype(np.str).str[-2:].astype(np.int64)

In [212]:
source_info_1 = source_info_1[['channel_id','source_id','time','source_run_date_amount','media_id','source_30_predict_amount']]

In [213]:
source_info_1 = source_info_1[source_info_1['media_id']==10]

In [214]:
source_info_1.drop('media_id',axis=1,inplace=True)

In [215]:
source_info_1.head()

,channel_id,source_id,time,source_run_date_amount,source_30_predict_amount
0,6770,325137,6,0.08,0.0
1,6770,325137,7,0.05,0.0
2,6770,325137,8,0.46,0.0
3,6770,325138,6,44.93,0.0
4,6770,325138,7,19.48,0.0

In [216]:
data_merge = pd.merge(data,source_info_1,on=['channel_id','source_id','time'],how='left',validate='one_to_one')

In [217]:
data_merge.isna().sum()

channel_id                      0
source_id                       0
30ROI                           0
amount                          0
time                            0
pay_sum                         0
source_run_date_amount      41006
source_30_predict_amount    41006
dtype: int64

In [218]:
data_merge.dropna(how='any',inplace=True)

In [221]:
data_merge.shape

(3204, 8)

In [222]:
data_merge.head()

,channel_id,source_id,30ROI,amount,time,pay_sum,source_run_date_amount,source_30_predict_amount
0,20540,323114,0.0,589.49,1,0.0,589.49,0.0
1,20540,323113,0.0,536.25,1,0.0,536.25,0.0
2,20953,323225,0.0,1071.33,1,0.0,1071.33,0.0
3,21116,322970,0.0,523.95,1,0.0,523.95,0.0
4,20953,323072,0.0,500.96,1,0.0,500.96,0.0

In [225]:
data_merge.sort_values('pay_sum',ascending=False)

,channel_id,source_id,30ROI,amount,time,pay_sum,source_run_date_amount,source_30_predict_amount
226,20755,322389,18.146644,5660.11,1,102712.000193,5660.11,26146.81
12363,20754,322678,4.639232,18817.77,10,87300.000577,18817.77,2296.86
2783,20754,321941,2.544016,27610.68,3,70242.001194,27610.68,8870.93
1455,20754,322312,3.387376,18435.51,2,62447.999154,18435.51,13560.79
10711,20755,324504,12.454156,4417.16,9,55012.000056,4417.16,2567.81
...,...,...,...,...,...,...,...,...
5364,20754,323939,0.000000,643.81,5,0.000000,643.81,0.00
5366,6867,324786,0.000000,69.33,5,0.000000,69.33,0.00
5368,20953,323749,0.000000,1159.74,5,0.000000,1159.74,0.00
5370,20953,323959,0.000000,191.97,5,0.000000,191.97,0.00
12415,20647,326836,0.000000,0.01,10,0.000000,0.01,0.00

In [223]:
data_merge['source_30_predict_amount'].sum()

532186.1000000001

In [224]:
data_merge['pay_sum'].sum()

1664917.9910779786

In [227]:
data[data['source_id']==322678]

      channel_id  source_id     30ROI    amount  time       pay_sum
278        20754     322678  0.039709   3525.66     1    139.999920
313        20754     322678  0.365308   5140.87     2   1878.000327
15         20754     322678  0.000000   9638.45     3      0.000000
308        20754     322678  0.229734   2777.12     4    637.999838
1470       20754     322678  0.000000      0.00     5      0.000000
285        20754     322678  1.372227   8384.91     6  11506.000312
1381       20754     322678  0.000000      0.00     7      0.000000
374        20754     322678  8.122146   4716.98     8  38311.999800
402        20754     322678  0.345549  11269.01     9   3893.999504
399        20754     322678  4.639232  18817.77    10  87300.000577
450        20754     322678  0.047875   4302.89    11    205.999826
363        20754     322678  0.083281  10974.96    12    914.000279
398        20754     322678  0.000000   2606.85    13      0.000000
392        20754     322678  0.052318   6498.78    14    339.999965
1333       20754     322678  0.000000      0.00    15      0.000000
502        20754     322678  0.004240   2830.19    16     11.999900
443        20754     322678  0.000000   2830.19    17      0.000000
1891       20754     322678  0.000000      0.00    18      0.000000
1718       20754     322678  0.000000      0.00    19      0.000000
1666       20754     322678  0.000000      0.00    20      0.000000
1653       20754     322678  0.000000      0.00    21      0.000000
1519       20754     322678  0.000000      0.00    22      0.000000
1665       20754     322678  0.000000      0.00    23      0.000000
1552       20754     322678  0.000000      0.00    24      0.000000
1403       20754     322678  0.000000      0.00    25      0.000000
1247       20754     322678  0.000000      0.00    26      0.000000
1246       20754     322678  0.000000      0.00    27      0.000000
1342       20754     322678  0.000000      0.00    28      0.000000
1473       20754     322678  0.000000      0.00    29      0.000000
1696       20754     322678  0.000000      0.00    30      0.000000