In [42]:
import pandas as pd
import numpy as np
import warnings
import datetime
warnings.filterwarnings('ignore')

In [61]:
source_predict_1 = pd.read_csv('./source_predict_1.csv')
source_predict_2 = pd.read_csv('./source_predict_2.csv')
source_predict_3 = pd.read_csv('./source_predict_3.csv')
source_predict_7 = pd.read_csv('./source_predict_7.csv')
pd.set_option('display.max_columns',None)

In [62]:
source_predict_7['source_run_date'] = pd.to_datetime(source_predict_7['source_run_date']).dt.date
source_predict_7.drop_duplicates(inplace=True)

In [63]:
source_predict_7=source_predict_7[source_predict_7['media_id']==10]

In [64]:
df_0 = source_predict_7[source_predict_7['source_model_predict_type'] == 0]

In [65]:
df_0.sort_values('source_run_date',inplace=True)

In [66]:
df_0_1 = df_0.drop_duplicates(subset=['channel_id','source_id'],keep='first')

In [67]:
df_0_1 = df_0_1[['channel_id','source_id','source_run_date']]
df_0_1['time_0'] = df_0_1['source_run_date'].astype(np.str).str[-2:].astype(np.int64)
df_0_1.drop('source_run_date',axis=1,inplace=True)

In [294]:
data = pd.read_csv('./data.csv',index_col=0)

In [295]:
data['channel_id'] = data['channel_id'].astype(np.int64)
data['source_id'] = data['source_id'].astype(np.int64)

In [297]:
data_500= data[(data['time']<=10)&(data['amount']>=500)]

In [298]:
data_500.head()

   channel_id  source_id  30ROI  创角30日LTV  创角账号数   amount  time  pay_sum
1       20540     323114    0.0       0.0    0.0   589.49     1      0.0
2       20540     323113    0.0       0.0    0.0   536.25     1      0.0
3       20953     323225    0.0       0.0    2.0  1071.33     1      0.0
4       21116     322970    0.0       0.0    1.0   523.95     1      0.0
5       20953     323072    0.0       0.0    1.0   500.96     1      0.0

In [299]:
df_0_1.head()

      channel_id  source_id  time_0
1426       20143     321957       1
5673       20754     322678       1
5667       20754     322677       1
9698       21116     322495       1
1438       20143     321959       1

In [300]:
df_0_1.shape

(1348, 3)

In [302]:
data_500.shape

(1584, 8)

In [303]:
data_merge = pd.merge(data_500,df_0_1,on=['channel_id','source_id'],how='left',validate='many_to_one')

In [304]:
data_merge.shape

(1584, 9)

In [305]:
data_merge.head()

,channel_id,source_id,30ROI,创角30日LTV,创角账号数,amount,time,pay_sum,time_0
0,20540,323114,0.0,0.0,0.0,589.49,1,0.0,2.0
1,20540,323113,0.0,0.0,0.0,536.25,1,0.0,2.0
2,20953,323225,0.0,0.0,2.0,1071.33,1,0.0,1.0
3,21116,322970,0.0,0.0,1.0,523.95,1,0.0,2.0
4,20953,323072,0.0,0.0,1.0,500.96,1,0.0,1.0

In [306]:
data_merge.isna().sum()

channel_id     0
source_id      0
30ROI          0
创角30日LTV       0
创角账号数          0
amount         0
time           0
pay_sum        0
time_0        96
dtype: int64

In [307]:
data_merge.head()

,channel_id,source_id,30ROI,创角30日LTV,创角账号数,amount,time,pay_sum,time_0
0,20540,323114,0.0,0.0,0.0,589.49,1,0.0,2.0
1,20540,323113,0.0,0.0,0.0,536.25,1,0.0,2.0
2,20953,323225,0.0,0.0,2.0,1071.33,1,0.0,1.0
3,21116,322970,0.0,0.0,1.0,523.95,1,0.0,2.0
4,20953,323072,0.0,0.0,1.0,500.96,1,0.0,1.0

In [308]:
data_merge.dropna(how='any',inplace=True)
data_merge['time_0'] = data_merge['time_0'].astype(np.int64)

In [309]:
data_merge['istrue'] = (data_merge['time']>=data_merge['time_0'])

In [310]:
data_merge_true=data_merge[data_merge['istrue']==1]

In [311]:
data_merge_true.shape

(1085, 10)

In [312]:
data_merge_true.head()

,channel_id,source_id,30ROI,创角30日LTV,创角账号数,amount,time,pay_sum,time_0,istrue
2,20953,323225,0.0,0.0,2.0,1071.33,1,0.0,1,True
4,20953,323072,0.0,0.0,1.0,500.96,1,0.0,1,True
5,20540,323110,0.0,0.0,2.0,704.30,1,0.0,1,True
6,20540,323111,0.0,0.0,1.0,627.43,1,0.0,1,True
8,21117,323205,0.0,0.0,5.0,1838.10,1,0.0,1,True

In [313]:
groups = data_merge_true.groupby(['channel_id','source_id','time'])
groups.ngroups

1085

In [314]:
data_merge_true['pay_sum'].sum()/data_merge_true['amount'].sum()

0.49539707159011426

In [315]:
data_merge_true['pay_sum'].sum()

1290752.002116

In [316]:
data_merge_true['amount'].sum()

2605489.7699999996

In [318]:
data_500['pay_sum'].sum()/data_500['amount'].sum()

0.4408462689216105

In [268]:
data['amount'].sum()

3668376.29

In [319]:
data['amount'].sum()-data_merge_true['amount'].sum()

12662123.25

In [320]:
data['pay_sum'].sum()-data_merge_true['pay_sum'].sum()

4200155.995463

In [321]:
(data['pay_sum'].sum()-data_merge_true['pay_sum'].sum())/(data['amount'].sum()-data_merge_true['amount'].sum())

0.33171024420908235

In [203]:
data_merge.sort_values(['source_id','time'],inplace=True)

In [209]:
data_merge.sort_values('pay_sum',ascending=False).head(20)

,channel_id,source_id,30ROI,创角30日LTV,创角账号数,amount,time,pay_sum,time_0,istrue
120,20755,322389,18.146644,221.840173,463.0,5660.11,1,102712.000099,1,True
1566,20754,322678,4.639232,37.678032,2317.0,18817.77,10,87300.000144,1,True
461,20754,321941,2.544016,18.543295,3788.0,27610.68,3,70242.001460,1,True
299,20754,322312,3.387376,40.237113,1552.0,18435.51,2,62447.999376,1,True
1308,20755,324504,12.454156,454.644628,121.0,4417.16,9,55011.999988,5,True
414,21116,322699,20.845508,408.895522,134.0,2628.48,3,54791.999948,3,True
758,20754,324409,4.499833,66.978947,760.0,11312.42,5,50903.999720,3,True
1045,21116,323734,6.962956,132.157303,356.0,6756.90,7,47047.999868,2,True
1191,20754,322678,8.122146,75.269155,509.0,4716.98,8,38311.999895,1,True
542,21117,322743,15.508201,651.843137,51.0,2143.64,4,33243.999987,2,True
152,20646,322830,38.471290,8194.000000,4.0,851.96,2,32776.000000,1,True
1036,21116,322468,1.889397,49.637500,640.0,16813.83,7,31768.000000,1,True
394,20754,319109,2.081558,82.974648,355.0,14150.94,3,29456.000040,1,True
1256,20144,324907,6.151917,503.191489,47.0,3844.33,9,23649.999983,5,True
202,21116,322695,5.046256,392.250000,56.0,4352.93,2,21966.000000,2,True
115,21087,322892,13.375200,184.706897,116.0,1601.92,1,21426.000052,1,True
365,20953,322975,3.927737,308.892308,65.0,5111.85,3,20078.000020,3,True
896,20755,322389,1.405560,40.674847,489.0,14150.94,6,19890.000183,1,True
654,20954,324403,2.705452,521.555556,36.0,6940.06,5,18776.000016,9,False
305,20540,322365,4.173021,43.768817,372.0,3901.73,2,16281.999924,2,True

In [233]:
data[data['source_id']==322468]

,channel_id,source_id,30ROI,创角30日LTV,创角账号数,amount,time,pay_sum
264,21116,322468,1.704245,20.104012,673.0,7939.00,1,13530.000076
265,21116,322468,0.005210,0.073529,408.0,5758.12,2,29.999832
244,21116,322468,0.234512,2.752525,396.0,4647.95,3,1089.999900
267,21116,322468,0.000000,0.000000,98.0,1202.82,4,0.000000
204,21116,322468,0.145094,1.863248,117.0,1502.47,5,218.000016
254,21116,322468,0.000000,0.000000,152.0,2499.21,6,0.000000
253,21116,322468,1.889397,49.637500,640.0,16813.83,7,31768.000000
324,21116,322468,0.127161,2.807980,401.0,8854.90,8,1125.999980
307,21116,322468,0.281578,8.856089,1084.0,34093.56,9,9600.000476
322,21116,322468,0.001740,0.043796,274.0,6898.19,10,12.000104

In [234]:
source_predict_7[source_predict_7['source_id']==322468]

,channel_id,source_id,game_id,media_id,source_run_date_amount,source_run_date,source_30_roi_predict,add_time,up_time,source_model_type,source_model_predict_type,source_30_predict_amount
9594,21116,322468,1000840,10,32501.70,2020-07-01,0.327607,2020-9-5 20:24:54,2020-9-5 20:24:54,3,0,10647.77
9595,21116,322468,1000840,10,33659.72,2020-07-02,0.462084,2020-9-5 20:28:40,2020-9-5 20:28:40,3,1,15553.61
9596,21116,322468,1000840,10,24884.34,2020-07-03,0.375626,2020-9-5 20:32:04,2020-9-5 20:32:04,3,0,9347.20
9597,21116,322468,1000840,10,18345.07,2020-07-04,0.544742,2020-9-5 20:35:34,2020-9-5 20:35:34,3,1,9993.33
9598,21116,322468,1000840,10,11608.89,2020-07-05,0.171310,2020-9-5 20:39:27,2020-9-5 20:39:27,3,0,1988.72
9599,21116,322468,1000840,10,7353.24,2020-07-06,0.352186,2020-9-5 20:42:09,2020-9-5 20:42:09,3,0,2589.71
9600,21116,322468,1000840,10,5204.50,2020-07-07,0.144331,2020-9-5 20:45:31,2020-9-5 20:45:31,3,0,751.17
9601,21116,322468,1000840,10,20815.51,2020-07-08,0.093919,2020-9-5 20:48:52,2020-9-5 20:48:52,3,0,1954.97
9602,21116,322468,1000840,10,28167.94,2020-07-09,0.260294,2020-9-5 20:53:29,2020-9-5 20:53:29,3,0,7331.95
9603,21116,322468,1000840,10,59762.29,2020-07-10,0.297007,2020-9-5 20:57:07,2020-9-5 20:57:07,3,0,17749.81

In [248]:
data_merge['istrue_f'] = (data_merge['time']<data_merge['time_0'])

In [249]:
data_merge_true_f=data_merge[data_merge['istrue_f']==1]

In [250]:
data_merge_true_f['pay_sum'].sum()

156047.998711

In [251]:
data_merge_true['amount'].sum()

2605489.7699999996

In [252]:
data_merge_true_f['pay_sum'].sum()/data_merge_true['amount'].sum()

0.059892002074911244