In [16]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
source_predict_1 = pd.read_csv('./source_predict_1.csv')
# # source_predict_2 = pd.read_csv('./source_predict_2.csv')
# # source_predict_3 = pd.read_csv('./source_predict_3.csv')
# source_predict_7 = pd.read_csv('./source_predict_7.csv')
pd.set_option('display.max_columns',None)

In [3]:
source_predict_1['source_run_date'] = pd.to_datetime(source_predict_1['source_run_date'])
source_predict_1.drop_duplicates(inplace=True)

In [5]:
df_0 = source_predict_1[source_predict_1['source_predict_type'] == 0]
df_0.sort_values('source_run_date',inplace=True)
df_0_1 = df_0.drop_duplicates(subset=['channel_id','source_id'],keep='first')

In [6]:
df_0_1 = df_0_1[['channel_id','source_id','source_run_date']]
df_0_1['time_0'] = df_0_1['source_run_date'].astype(np.str).str[-2:].astype(np.int64)
df_0_1.drop('source_run_date',axis=1,inplace=True)

In [7]:
df_0_1.head()

      channel_id  source_id  time_0
2946       20953     322286       1
2996       20953     323226       1
763        20143     320312       1
2976       20953     323070       1
1262       20540     322381       1

In [8]:
data = pd.read_csv('./data.csv',index_col=0)

In [9]:
data['channel_id'] = data['channel_id'].astype(np.int64)
data['source_id'] = data['source_id'].astype(np.int64)

In [10]:
data_merge = pd.merge(data,df_0_1,on=['channel_id','source_id'],how='left',validate='many_to_one')

In [15]:
data_merge.head()

   channel_id  source_id  30ROI   amount  time  pay_sum  time_0  istrue
0       20540     323114    0.0   589.49     1      0.0       2   False
2       20953     323225    0.0  1071.33     1      0.0       1   False
3       21116     322970    0.0   523.95     1      0.0       1   False
4       20953     323072    0.0   500.96     1      0.0       1   False
5       20540     323112    0.0   494.91     1      0.0       2   False

In [11]:
data_merge.dropna(how='any',inplace=True)
data_merge['time_0'] = data_merge['time_0'].astype(np.int64)

In [12]:
data_merge['istrue'] = (data_merge['time']>data_merge['time_0'])

In [13]:
data_merge_true=data_merge[data_merge['istrue']==1]

In [14]:
data_merge_true['pay_sum'].sum()/data_merge_true['amount'].sum()

0.4220959765209708