In [1]:
import pandas as pd
import numpy as np
import datetime
import warnings
import joblib
warnings.filterwarnings('ignore')

In [3]:
source_pay_sum_1d_info = pd.read_csv('./source_pay_sum_1d_info.csv')
source_pay_sum_2d_info = pd.read_csv('./source_pay_sum_2d_info.csv')
source_pay_sum_3d_info = pd.read_csv('./source_pay_sum_3d_info.csv')
source_pay_sum_4d_info = pd.read_csv('./source_pay_sum_4d_info.csv')
source_pay_sum_5d_info = pd.read_csv('./source_pay_sum_5d_info.csv')
source_pay_sum_6d_info = pd.read_csv('./source_pay_sum_6d_info.csv')
source_pay_sum_7d_info = pd.read_csv('./source_pay_sum_7d_info.csv')

In [17]:
source_pay_sum_3d_info.shape

(30845, 4)

In [8]:
source_pay_sum_1d_info.rename(columns={'create_role_money_sum':'create_role_1d_money_sum'},inplace=True)
source_pay_sum_2d_info.rename(columns={'create_role_money_sum':'create_role_2d_money_sum'},inplace=True)
source_pay_sum_3d_info.rename(columns={'create_role_money_sum':'create_role_3d_money_sum'},inplace=True)
source_pay_sum_4d_info.rename(columns={'create_role_money_sum':'create_role_4d_money_sum'},inplace=True)
source_pay_sum_5d_info.rename(columns={'create_role_money_sum':'create_role_5d_money_sum'},inplace=True)
source_pay_sum_6d_info.rename(columns={'create_role_money_sum':'create_role_6d_money_sum'},inplace=True)
source_pay_sum_7d_info.rename(columns={'create_role_money_sum':'create_role_7d_money_sum'},inplace=True)

In [14]:
source_pay_sum_1d_info.drop_duplicates(['channel_id','source_id','tdate'],inplace=True)
source_pay_sum_2d_info.drop_duplicates(['channel_id','source_id','tdate'],inplace=True)
source_pay_sum_3d_info.drop_duplicates(['channel_id','source_id','tdate'],inplace=True)
source_pay_sum_4d_info.drop_duplicates(['channel_id','source_id','tdate'],inplace=True)
source_pay_sum_5d_info.drop_duplicates(['channel_id','source_id','tdate'],inplace=True)
source_pay_sum_6d_info.drop_duplicates(['channel_id','source_id','tdate'],inplace=True)
source_pay_sum_7d_info.drop_duplicates(['channel_id','source_id','tdate'],inplace=True)

In [9]:
source_pay_sum_1d_info.head()

                tdate  channel_id  source_id  create_role_1d_money_sum
0  2020-6-21 00:00:00          -1         -1                      6206
1  2020-6-21 00:00:00          -1         -1                         0
2  2020-6-21 00:00:00          -1         -1                         0
3  2020-6-21 00:00:00          -1         -1                         0
4  2020-6-21 00:00:00          -1         -1                         0

In [5]:
source_pay_sum_2d_info.shape

(46416, 4)

In [6]:
source_pay_sum_3d_info.shape

(46488, 4)

In [18]:
df = pd.merge(source_pay_sum_1d_info,source_pay_sum_2d_info,on=['channel_id','source_id','tdate'],how='inner',validate='one_to_one')

In [20]:
df = pd.merge(df,source_pay_sum_3d_info,on=['channel_id','source_id','tdate'],how='inner',validate='one_to_one')
df = pd.merge(df,source_pay_sum_4d_info,on=['channel_id','source_id','tdate'],how='inner',validate='one_to_one')
df = pd.merge(df,source_pay_sum_5d_info,on=['channel_id','source_id','tdate'],how='inner',validate='one_to_one')
df = pd.merge(df,source_pay_sum_6d_info,on=['channel_id','source_id','tdate'],how='inner',validate='one_to_one')
df = pd.merge(df,source_pay_sum_7d_info,on=['channel_id','source_id','tdate'],how='inner',validate='one_to_one')

In [21]:
df.head()

,tdate,channel_id,source_id,create_role_1d_money_sum,create_role_2d_money_sum,create_role_3d_money_sum,create_role_4d_money_sum,create_role_5d_money_sum,create_role_6d_money_sum,create_role_7d_money_sum
0,2020-6-21 00:00:00,-1,-1,6206,11946,15596,19328,23854,26072,31208
1,2020-6-21 00:00:00,6770,214140,0,0,0,0,0,0,0
2,2020-6-21 00:00:00,6770,214852,0,0,0,0,0,0,0
3,2020-6-21 00:00:00,6770,255940,0,0,0,0,0,0,0
4,2020-6-21 00:00:00,6770,257299,0,0,0,0,0,0,0

In [23]:
df.to_csv('./source_pay_sum_1d_7d_info.csv')