In [64]:
import pandas as pd
import numpy as np

In [67]:
# device = pd.read_csv('./device.csv')
# device_ios = pd.read_csv('./device_ios.csv')
device = pd.read_csv('./df_device.csv')

In [66]:
# device = pd.concat([device, device_ios])
# len(device)

5479328

In [68]:
device.columns

Index(['device_no', 'game_id', 'first_active', 'active_time', 'ip', 'net_w',
       'net_type', 'p_model', 'sdk_no', 'sys_ver'],
      dtype='object')

In [69]:
# device.drop(['position'], axis=1, inplace=True)
device.drop(['game_id'], axis=1, inplace=True)

In [70]:
device.head()

,device_no,first_active,active_time,ip,net_w,net_type,p_model,sdk_no,sys_ver
0,0001068D594C1C572F3010D3BAC06CE0,1,2019-08-18 14:09:04,119.39.231.165,wifi,1,V1829A,3003001,9
1,005CA5270C1CE672D1E62FD1AE659A45,1,2019-08-18 18:33:11,120.239.32.35,wifi,1,Redmi 5A,3000000,27
2,005CBE8B24EEA9DBF52059AE437515F0,1,2019-08-18 10:39:33,111.35.247.114,wifi,0,V1813T,3003001,8.1.0
3,00632010F55599BDE60B5022DB5FF8F2,1,2019-08-18 13:26:07,113.91.35.43,wifi,0,PADM00,1004005_0419,27
4,007B9A1860CAF58F574BFE2563775DDA,1,2019-08-18 10:18:05,117.136.56.164,4g,1,vivo Y66i,3003001,7.1.2

In [10]:
# device['first_active'].value_counts()

1    5192952
0     286376
Name: first_active, dtype: int64

In [11]:
# device['device_no'].nunique()

5426019

In [36]:
# device.sort_values(by='active_time', inplace=True)
# device.drop_duplicates(['device_no'], keep='last', inplace=True)

In [12]:
user_info = pd.read_csv('./user_info.csv')

In [13]:
user_info.columns

Index(['user_id', 'user_name', 'user_flag', 'mobile', 'game_pay_num',
       'device_no', 'platform', 'reg_date', 'first_pay_time',
       'first_login_time', 'last_pay_time', 'last_login_time',
       'sdk_vip_level'],
      dtype='object')

In [17]:
user_info.drop(['user_name', 'mobile'], axis=1, inplace=True)

In [15]:
user_info['user_id'].value_counts()

113252349    1
101457391    1
103256487    1
110137247    1
107465132    1
            ..
112544771    1
112871042    1
108356614    1
104164359    1
113248257    1
Name: user_id, Length: 5092783, dtype: int64

In [20]:
pay_user = pd.read_csv('./pay_user.csv')

In [21]:
user_info_pay = pd.merge(user_info, pay_user, on='user_id', how='left')

In [22]:
user_info_pay.columns

Index(['user_id', 'user_flag', 'game_pay_num', 'device_no', 'platform',
       'reg_date', 'first_pay_time', 'first_login_time', 'last_pay_time',
       'last_login_time', 'sdk_vip_level', 'ispay'],
      dtype='object')

In [25]:
user_info_pay['ispay'].isna().sum()

4966436

In [29]:
user_info_pay['ispay'].fillna(0, inplace=True)
user_info_pay['ispay'].value_counts()   # 部分有付费的用户，在user_info中没有记录

0.0    4966436
1.0     126347
Name: ispay, dtype: int64

In [30]:
user_info_pay.head()

,user_id,user_flag,game_pay_num,device_no,platform,reg_date,first_pay_time,first_login_time,last_pay_time,last_login_time,sdk_vip_level,ispay
0,95547136,1,0,3845940267E1FFAE91DB0E77F143A257,1,8/10/2019 11:20:19,1/1/1000 00:00:00,8/10/2019 11:20:21,1/1/1000 00:00:00,8/10/2019 11:21:39,NaN,0.0
1,96318464,1,0,6DAAD89AED393A8FCE0FB628A63E65B7,1,22/10/2019 15:49:17,1/1/1000 00:00:00,22/10/2019 15:50:13,1/1/1000 00:00:00,11/6/2020 21:42:49,NaN,0.0
2,96353024,1,0,1A617CFF7F3BC292556BA450E69520A3,1,23/10/2019 14:10:27,1/1/1000 00:00:00,23/10/2019 14:11:19,1/1/1000 00:00:00,9/11/2019 09:40:02,NaN,0.0
3,96389760,1,0,3FDB6BC0CBCD783BB4A2031B9387D024,1,24/10/2019 11:18:47,1/1/1000 00:00:00,24/10/2019 11:20:53,1/1/1000 00:00:00,31/10/2019 09:51:12,NaN,0.0
4,96432384,1,0,7E7A203DB75A6CA50AF4EDCFE37D49B8,1,25/10/2019 12:38:55,1/1/1000 00:00:00,25/10/2019 12:38:59,1/1/1000 00:00:00,28/10/2019 12:27:29,NaN,0.0

In [33]:
user_info_pay['sdk_vip_level'].fillna(0, inplace=True)
user_info_pay['sdk_vip_level'].value_counts()

0.0     4994342
1.0       23426
3.0       21743
4.0       17597
2.0       16336
5.0       12124
6.0        4878
7.0        1842
8.0         392
9.0          86
10.0         17
Name: sdk_vip_level, dtype: int64

In [40]:
user_info_pay.shape

(5092783, 12)

In [41]:
user_df = pd.merge(user_info_pay, device, on='device_no', how='left')

In [43]:
user_df.head()

,user_id,user_flag,game_pay_num,device_no,platform,reg_date,first_pay_time,first_login_time,last_pay_time,last_login_time,sdk_vip_level,ispay,p_model,ip,active_time,sys_ver,first_active
0,95547136,1,0,3845940267E1FFAE91DB0E77F143A257,1,8/10/2019 11:20:19,1/1/1000 00:00:00,8/10/2019 11:20:21,1/1/1000 00:00:00,8/10/2019 11:21:39,0.0,0.0,LYA-AL00,111.194.44.171,30/9/2019 17:16:13,9,0.0
1,96318464,1,0,6DAAD89AED393A8FCE0FB628A63E65B7,1,22/10/2019 15:49:17,1/1/1000 00:00:00,22/10/2019 15:50:13,1/1/1000 00:00:00,11/6/2020 21:42:49,0.0,0.0,MI MAX 3,111.17.128.111,22/10/2019 12:51:52,9,1.0
2,96353024,1,0,1A617CFF7F3BC292556BA450E69520A3,1,23/10/2019 14:10:27,1/1/1000 00:00:00,23/10/2019 14:11:19,1/1/1000 00:00:00,9/11/2019 09:40:02,0.0,0.0,JSN-AL00a,223.64.222.39,29/10/2019 17:06:44,28,0.0
3,96389760,1,0,3FDB6BC0CBCD783BB4A2031B9387D024,1,24/10/2019 11:18:47,1/1/1000 00:00:00,24/10/2019 11:20:53,1/1/1000 00:00:00,31/10/2019 09:51:12,0.0,0.0,hm 1s,117.188.21.87,9/10/2019 21:51:43,5.1.1,1.0
4,96432384,1,0,7E7A203DB75A6CA50AF4EDCFE37D49B8,1,25/10/2019 12:38:55,1/1/1000 00:00:00,25/10/2019 12:38:59,1/1/1000 00:00:00,28/10/2019 12:27:29,0.0,0.0,V1911A,112.97.244.77,24/10/2019 22:53:37,9,0.0

In [57]:
user_df['game_pay_num'].value_counts()

0       4963885
1         42280
2         15552
3         10479
4          7775
         ...
318           1
315           1
312           1
308           1
1124          1
Name: game_pay_num, Length: 389, dtype: int64

In [44]:
user_df.to_csv('./user_df.csv', index=False)

In [60]:
# 增加用户玩过的游戏数u
play_game_num = pd.read_csv('./device_game_num.csv')
matrix = pd.merge(user_df, play_game_num, on='device_no', how='left')
# print(matrix.shape)
print(matrix.head())

In [63]:
print(matrix.head())

    user_id  user_flag  game_pay_num                         device_no  \
0  95547136          1             0  3845940267E1FFAE91DB0E77F143A257
1  96318464          1             0  6DAAD89AED393A8FCE0FB628A63E65B7
2  96353024          1             0  1A617CFF7F3BC292556BA450E69520A3
3  96389760          1             0  3FDB6BC0CBCD783BB4A2031B9387D024
4  96432384          1             0  7E7A203DB75A6CA50AF4EDCFE37D49B8

   platform             reg_date     first_pay_time     first_login_time  \
0         1   8/10/2019 11:20:19  1/1/1000 00:00:00   8/10/2019 11:20:21
1         1  22/10/2019 15:49:17  1/1/1000 00:00:00  22/10/2019 15:50:13
2         1  23/10/2019 14:10:27  1/1/1000 00:00:00  23/10/2019 14:11:19
3         1  24/10/2019 11:18:47  1/1/1000 00:00:00  24/10/2019 11:20:53
4         1  25/10/2019 12:38:55  1/1/1000 00:00:00  25/10/2019 12:38:59

       last_pay_time      last_login_time  sdk_vip_level  ispay    p_model  \
0  1/1/1000 00:00:00   8/10/2019 11:21:39            0.0    0.0   LYA-AL00
1  1/1/1000 00:00:00   11/6/2020 21:42:49            0.0    0.0   MI MAX 3
2  1/1/1000 00:00:00   9/11/2019 09:40:02            0.0    0.0  JSN-AL00a
3  1/1/1000 00:00:00  31/10/2019 09:51:12            0.0    0.0      hm 1s
4  1/1/1000 00:00:00  28/10/2019 12:27:29            0.0    0.0     V1911A

               ip          active_time sys_ver  first_active  play_game_num
0  111.194.44.171   30/9/2019 17:16:13       9           0.0            2.0
1  111.17.128.111  22/10/2019 12:51:52       9           1.0            1.0
2   223.64.222.39  29/10/2019 17:06:44      28           0.0            2.0
3   117.188.21.87   9/10/2019 21:51:43   5.1.1           1.0            1.0
4   112.97.244.77  24/10/2019 22:53:37       9           0.0            2.0