In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./user_info(2021-03-25提取前1周1天).csv')

C:\Users\Administrator\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.shape

(168549, 17)

In [4]:
df.head()

,cp_server_no,channel_id,source_id,user_id,mgame_id,role_id,create_role_time,cp_server_no_create_time,money,online_time,action,n_day,user_type,big_r_money_standard,mid_r_money_standard,create_role_date,create_role_cost
0,662139,20545,537499,140269658,1056,174740594,2021-03-21 00:27:57,2021-03-20 23:03:22,16260.0,35064,1,1,big_R,226.0,86.0,2021-03-21,54.494314
1,662138,20637,543860,140253827,1056,174724029,2021-03-20 21:45:43,2021-03-20 21:12:17,8714.0,74392,1,1,big_R,226.0,86.0,2021-03-20,164.736250
2,662137,20754,544104,140243374,1056,174712871,2021-03-20 20:28:17,2021-03-20 19:21:18,6818.0,55830,1,1,big_R,226.0,86.0,2021-03-20,55.597931
3,662140,20540,543440,140288034,1056,174760310,2021-03-21 09:14:57,2021-03-21 02:37:05,6710.0,58080,1,1,big_R,226.0,86.0,2021-03-21,139.849811
4,662129,6770,536700,140117326,1056,174580542,2021-03-19 21:39:48,2021-03-19 20:03:33,6274.0,3006,1,1,big_R,226.0,86.0,2021-03-19,148.427273

In [5]:
df_big = df[df['user_type']=='big_R']

In [6]:
df_big['source_id'].nunique()

207