In [1]:
import pandas as pd

In [10]:
import pandas as pd
import numpy as np
import json
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
import gc
import warnings
import requests

warnings.filterwarnings('ignore')
import lightgbm as lgb
from impala.dbapi import connect
from impala.util import as_pandas
import pymysql
import logging

In [3]:
launch_report = pd.read_csv('./hist_data/launch_report.csv')

In [4]:
launch_report.head()

,tdate,channel_id,source_id,amount,create_role_num,pay_role_user_num,new_role_money
0,2020-01-06,6770,254303,881.00,24,0,0.0
1,2020-01-07,6770,254303,706.89,18,0,0.0
2,2020-01-08,6770,254303,239.25,11,0,0.0
3,2020-01-09,6770,254303,1.93,1,0,0.0
4,2020-01-10,6770,254303,123.87,5,0,0.0

In [5]:
launch_report.shape

(161846, 7)

In [6]:
launch_report['tdate'].min()

'2020-01-01'

In [11]:
def get_game_id():
    conn = pymysql.connect(host='192.168.0.79', port=3306, user='readonly',
                           passwd='Kc&r+z1ql9x8za4kzfk761weq8ozGv3ZpI;RMe,#+s%c>t')
    cur = conn.cursor(cursor=pymysql.cursors.DictCursor)
    sql = '''
        SELECT dev_game_id AS game_id FROM db_data.t_game_config WHERE game_id = 1056 AND dev_game_id IS NOT NULL 
    '''
    cur.execute(sql)
    result_df = cur.fetchall()
    cur.close()
    conn.close()
    return result_df

In [12]:
def get_launch_report():
    game_id = get_game_id()
    game_id = list(map(lambda x: x['game_id'], game_id))
    game_id = [str(i) for i in game_id]
    game_id = ','.join(game_id)

    conn = pymysql.connect(host='192.168.0.79', port=3306, user='readonly',
                           passwd='Kc&r+z1ql9x8za4kzfk761weq8ozGv3ZpI;RMe,#+s%c>t')
    cur = conn.cursor(cursor=pymysql.cursors.DictCursor)
    sql = '''
        /*手动查询*/
        SELECT
            a.chl_user_id AS channel_id,
            a.source_id AS source_id,
            b.tdate,
            b.amount,
            b.new_role_money,
            b.new_role_money / b.amount as roi,
            b.pay_role_user_num / b.create_role_num as pay_rate
        FROM
            db_data_ptom.ptom_plan a
            LEFT JOIN db_stdata.st_lauch_report b ON a.chl_user_id = b.channel_id 
            AND a.source_id = b.source_id 
        WHERE
            a.create_time >= '2020-01-01' 
            AND b.tdate >= '2020-01-01' 
            AND b.tdate_type = 'day' 
            AND b.media_id = 10
            AND b.game_id IN ({})
            AND b.amount >= 500
    '''
    finalSql = sql.format(game_id)
    cur.execute(finalSql)
    result_df = pd.read_sql(finalSql, conn)
    cur.close()
    conn.close()
    result_df['tdate'] = pd.to_datetime(result_df['tdate'])
    result_df = result_df.sort_values('tdate')
    result_df = result_df.drop_duplicates(['channel_id', 'source_id'], keep='first')

    return result_df

In [13]:
launch_report_all = get_launch_report()

In [14]:
launch_report_all.head()

,channel_id,source_id,tdate,amount,new_role_money,roi,pay_rate
0,20754,252975,2020-01-02,767.89,0.0,0.000000,0.000
13,20953,252800,2020-01-02,1582.19,0.0,0.000000,0.000
11,20953,252798,2020-01-02,979.96,0.0,0.000000,0.000
10,20953,252733,2020-01-02,2200.00,30.0,0.013636,0.005
9,20953,252732,2020-01-02,2280.22,0.0,0.000000,0.000

In [15]:
launch_report_all['tdate'].min()

Timestamp('2020-01-02 00:00:00')

In [16]:
launch_report_all['tdate'].max()

Timestamp('2021-05-12 00:00:00')

In [17]:
launch_report_all.shape

(40966, 7)

In [18]:
launch_report_all = launch_report_all[launch_report_all['tdate']<='2021-05-10']

In [19]:
launch_report_all.to_csv('./launch_report.csv',index=0)