In [114]:
import pandas as pd
import numpy as np
import joblib
import warnings
warnings.filterwarnings('ignore')

In [115]:
user_info = pd.read_csv('./user_info.csv')
user_info['reg_date'] = pd.to_datetime(user_info['reg_date']).dt.date

In [116]:
user_info.head()

,user_id,reg_date,mobile,user_type,user_flag,platform,channel_id,source_id,user_creates_3_server_num,user_creates_3_role_num
0,45035796,2020-04-14,NaN,2,1,1,639,576,NaN,NaN
1,45051454,2020-03-16,NaN,1,1,1,639,576,1.0,1.0
2,45059816,2019-05-24,NaN,2,1,2,20021,22791,NaN,NaN
3,45130799,2020-07-06,NaN,1,1,1,639,576,1.0,1.0
4,45208326,2020-05-23,NaN,1,1,1,639,576,NaN,NaN

In [117]:
source_1 = pd.read_csv('./source_1.csv')
source_2 = pd.read_csv('./source_2.csv')

In [118]:
source_1.rename(columns={'chl_user_id':'channel_id'},inplace=True)
source_1.drop_duplicates(subset=['channel_id','source_id'],inplace=True)
source = pd.merge(source_1,source_2,on=['channel_id','source_id'],how='left',validate='one_to_many')
source.dropna(inplace=True)

In [119]:
source['create_time'] = pd.to_datetime(source['create_time']).dt.date
source['tdate'] = pd.to_datetime(source['tdate']).dt.date

source.rename(columns={'tdate':'reg_date'},inplace=True)

In [120]:
# 统计cpc(计划创角成本)
source['cpc'] = source['amount']/(source['create_role_num']+1e-4)

In [56]:
source.head()

,channel_id,source_id,create_time,reg_date,amount,paper_use_amount,click_num,down_num,pv,create_role_num,cpc
0,20953,252731,2020-01-02,2020-01-02,1562.56,1562.56,1552.0,55.0,53605.0,51.0,30.638371
1,20953,252731,2020-01-02,2020-01-03,0.71,0.71,6.0,3.0,1054.0,6.0,0.118331
2,20953,252731,2020-01-02,2020-01-05,0.00,0.00,0.0,2.0,0.0,1.0,0.000000
3,20953,252731,2020-01-02,2020-01-08,0.00,0.00,0.0,0.0,0.0,1.0,0.000000
4,20953,252731,2020-01-02,2020-01-11,0.00,0.00,0.0,1.0,0.0,1.0,0.000000

In [121]:
source[(source['create_role_num']==0)&(source['amount']!=0)]

,channel_id,source_id,create_time,reg_date,amount,paper_use_amount,click_num,down_num,pv,create_role_num,cpc
397,20754,253111,2020-01-02,2020-01-04,0.88,0.88,7.0,0.0,321.0,0.0,8800.0
1073,20953,253653,2020-01-04,2020-01-05,54.94,54.94,53.0,0.0,5634.0,0.0,549400.0
1075,20953,253653,2020-01-04,2020-01-07,3.58,3.58,4.0,0.0,130.0,0.0,35800.0
1138,20754,253704,2020-01-04,2020-01-04,556.06,556.06,185.0,0.0,17035.0,0.0,5560600.0
1197,20754,253714,2020-01-04,2020-01-04,190.68,190.68,14.0,0.0,4973.0,0.0,1906800.0
...,...,...,...,...,...,...,...,...,...,...,...
278903,20646,334706,2020-07-22,2020-07-23,0.13,0.17,1.0,0.0,293.0,0.0,1300.0
278931,20646,334881,2020-07-23,2020-07-23,26.64,35.16,184.0,0.0,11692.0,0.0,266400.0
279023,20646,336221,2020-07-27,2020-07-28,0.23,0.31,1.0,0.0,823.0,0.0,2300.0
279034,20646,336224,2020-07-27,2020-07-28,41.61,54.93,158.0,0.0,65517.0,0.0,416100.0
279192,20646,340268,2020-08-06,2020-08-06,261.39,345.03,686.0,0.0,55609.0,0.0,2613900.0

In [122]:
source.drop_duplicates(subset=['channel_id','source_id','reg_date'],inplace=True)

In [123]:
source.shape

(275486, 11)

In [59]:
source.to_csv('./source.csv')

In [124]:
source_notna = source[source['amount'] != 0]

In [125]:
source_notna['amount'].describe()

count     69686.000000
mean       2165.596918
std        5564.881730
min           0.010000
25%         134.032500
50%         598.320000
75%        2132.702500
max      209752.390000
Name: amount, dtype: float64

In [126]:
source_notna.shape

(69686, 11)

In [127]:
user_info = user_info[['user_id','channel_id','source_id','reg_date']]
user_info.drop_duplicates(inplace=True)

In [128]:
user_info.shape

(30226034, 4)

In [129]:
user_info.head()

    user_id  channel_id  source_id    reg_date
0  45035796         639        576  2020-04-14
1  45051454         639        576  2020-03-16
2  45059816       20021      22791  2019-05-24
3  45130799         639        576  2020-07-06
4  45208326         639        576  2020-05-23

In [130]:
source_info = pd.merge(source,user_info,on=['channel_id','source_id','reg_date'],how='left',validate='one_to_many')

In [131]:
source_info.dropna(inplace=True)

In [132]:
source_info.shape

(5679074, 12)

In [133]:
source_info.head()

,channel_id,source_id,create_time,reg_date,amount,paper_use_amount,click_num,down_num,pv,create_role_num,cpc,user_id
0,20953,252731,2020-01-02,2020-01-02,1562.56,1562.56,1552.0,55.0,53605.0,51.0,30.638371,100261967.0
1,20953,252731,2020-01-02,2020-01-02,1562.56,1562.56,1552.0,55.0,53605.0,51.0,30.638371,100262535.0
2,20953,252731,2020-01-02,2020-01-02,1562.56,1562.56,1552.0,55.0,53605.0,51.0,30.638371,100268013.0
3,20953,252731,2020-01-02,2020-01-02,1562.56,1562.56,1552.0,55.0,53605.0,51.0,30.638371,100269429.0
4,20953,252731,2020-01-02,2020-01-02,1562.56,1562.56,1552.0,55.0,53605.0,51.0,30.638371,100273946.0

In [ ]:
# source_info.set_index(['channel_id','source_id'],drop=False,inplace=True)

In [134]:
role_info_1d = pd.read_pickle('./role_info_1d.pkl')

In [135]:
role_info_1d.shape

(5141450, 24)

In [136]:
source_info['user_id'] = source_info['user_id'].astype(np.int64)
role_info_1d['user_id'] = role_info_1d['user_id'].astype(np.int64)
data_1 = pd.merge(source_info,role_info_1d,on='user_id',how='left',validate='one_to_many')
data_1.dropna(inplace=True)

In [137]:
# 统计每条计划的30天回款source_pay_sum
group_1 = data_1.groupby(['channel_id','source_id','reg_date'])
temp = group_1['role_created_30_pay_sum'].agg([('source_pay_sum', 'sum')]).reset_index()
data_1 = pd.merge(data_1,temp,on=['channel_id','source_id','reg_date'],how='left',validate='many_to_one')

In [138]:
pd.set_option('display.max_columns',None)
data_1.head()

,channel_id,source_id,create_time,reg_date,amount,paper_use_amount,click_num,down_num,pv,create_role_num,cpc,user_id,cp_server_no,cp_role_id,role_created_login_num,role_created_active,role_created_online,max_role_level,ip_num,pay_num,pay_sum,active_0-8,active_8-12,active_12-14,active_14-18,active_18-24,pay_grade_1,pay_grade_2,pay_grade_3,pay_grade_4,pay_grade_5,pay_grade_6,pay_rate,pay_avg,role_created_30_pay_sum,source_pay_sum
0,20953,252731,2020-01-02,2020-01-02,1562.56,1562.56,1552.0,55.0,53605.0,51.0,30.638371,100261967,660192,13814061,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,20953,252731,2020-01-02,2020-01-02,1562.56,1562.56,1552.0,55.0,53605.0,51.0,30.638371,100262535,660191,13814172,16.0,1.0,34068.0,44.0,1.0,0.0,0.0,40.0,22.0,6.0,13.0,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,20953,252731,2020-01-02,2020-01-02,1562.56,1562.56,1552.0,55.0,53605.0,51.0,30.638371,100262535,660192,13814172,9.0,1.0,29334.0,42.0,1.0,0.0,0.0,14.0,0.0,0.0,20.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,20953,252731,2020-01-02,2020-01-02,1562.56,1562.56,1552.0,55.0,53605.0,51.0,30.638371,100262535,660193,13814172,4.0,1.0,6350.0,36.0,1.0,0.0,0.0,8.0,6.0,5.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,20953,252731,2020-01-02,2020-01-02,1562.56,1562.56,1552.0,55.0,53605.0,51.0,30.638371,100268013,660192,13815011,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [139]:
data_1.shape

(3992564, 36)

In [ ]:
data_1[role_info_3d['role_created_30_pay_sum']!=0]

## 预测

In [140]:
df_pay = role_info_1d[role_info_1d['pay_sum']!=0]
df_nopay = role_info_1d[role_info_1d['pay_sum']==0]

In [141]:
df_nopay_online_n = df_nopay[(df_nopay['role_created_online']<=600) & (df_nopay['role_created_login_num']<=2)&(df_nopay['max_role_level']<=10)]
df_nopay_online_y = df_nopay.loc[np.setdiff1d(df_nopay.index, df_nopay_online_n.index),:]

In [142]:
# 标记角户质量不付费不在线0;不付费在线1;付费2
df_nopay_online_n['role_type'] = 0
df_nopay_online_y['role_type'] = 1
df_pay['role_type'] = 2

In [143]:
print('0类的角色占比：%.4f' % (df_nopay_online_n.shape[0]/role_info_1d.shape[0]))
print('1类的角色占比：%.4f' % (df_nopay_online_y.shape[0]/role_info_1d.shape[0]))
print('2类的角色占比：%.4f' % (df_pay.shape[0]/role_info_1d.shape[0]))

0类的角色占比：0.6122
1类的角色占比：0.3723
2类的角色占比：0.0155

In [144]:
df_nopay_online_n['predict_30_pay'] = 0
df_nopay_online_y['predict_30_pay'] = 0

In [145]:
lgb_r_1d = joblib.load('./lgb_r_1d.pkl')

In [146]:
df_pay['predict_30_pay'] = np.expm1(lgb_r_1d.predict(df_pay.drop(['user_id','cp_server_no','role_type',
                                                            'cp_role_id','role_created_30_pay_sum'],axis=1)))*2.1

In [147]:
df_pay['predict_30_pay'].sum()/role_info_1d['role_created_30_pay_sum'].sum()

0.8452350400226288

In [149]:
df_predict = pd.concat([df_pay,df_nopay_online_n,df_nopay_online_y],axis=0)

In [150]:
df_predict.head()

,user_id,cp_server_no,cp_role_id,role_created_login_num,role_created_active,role_created_online,max_role_level,ip_num,pay_num,pay_sum,active_0-8,active_8-12,active_12-14,active_14-18,active_18-24,pay_grade_1,pay_grade_2,pay_grade_3,pay_grade_4,pay_grade_5,pay_grade_6,pay_rate,pay_avg,role_created_30_pay_sum,role_type,predict_30_pay
19,102551485,14403653,14403653,51.0,1.0,34815.0,1.0,1.0,1.0,12.0,27,37,29,30,32,0,1,0,0,0,0,0.9999,11.998800,218.0,2,100.952175
163,102942389,14503750,14503750,32.0,1.0,14152.0,39.0,1.0,1.0,12.0,34,0,15,0,19,0,1,0,0,0,0,0.9999,11.998800,210.0,2,63.406752
191,102968330,14509735,14509735,38.0,1.0,27311.0,1.0,2.0,3.0,110.0,24,17,2,21,59,0,2,1,0,0,0,2.9997,36.665444,256.0,2,971.444733
214,102987110,14514764,14514764,52.0,1.0,72236.0,1.0,3.0,4.0,200.0,8,27,10,63,16,0,3,0,1,0,0,3.9996,49.998750,444.0,2,1777.523515
262,103029390,14524806,14524806,38.0,1.0,15612.0,44.0,2.0,2.0,42.0,0,19,5,7,59,0,2,0,0,0,0,1.9998,20.998950,42.0,2,266.128208

In [151]:
source_info['user_id'] = source_info['user_id'].astype(np.int64)
data = pd.merge(source_info,df_predict,on='user_id',how='left',validate='one_to_many')
data.dropna(inplace=True)

In [152]:
data.shape

(3992564, 37)

In [153]:
pd.set_option('display.max_columns',None)
data.head()

,channel_id,source_id,create_time,reg_date,amount,paper_use_amount,click_num,down_num,pv,create_role_num,cpc,user_id,cp_server_no,cp_role_id,role_created_login_num,role_created_active,role_created_online,max_role_level,ip_num,pay_num,pay_sum,active_0-8,active_8-12,active_12-14,active_14-18,active_18-24,pay_grade_1,pay_grade_2,pay_grade_3,pay_grade_4,pay_grade_5,pay_grade_6,pay_rate,pay_avg,role_created_30_pay_sum,role_type,predict_30_pay
0,20953,252731,2020-01-02,2020-01-02,1562.56,1562.56,1552.0,55.0,53605.0,51.0,30.638371,100261967,660192,13814061,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,20953,252731,2020-01-02,2020-01-02,1562.56,1562.56,1552.0,55.0,53605.0,51.0,30.638371,100262535,660191,13814172,16.0,1.0,34068.0,44.0,1.0,0.0,0.0,40.0,22.0,6.0,13.0,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,20953,252731,2020-01-02,2020-01-02,1562.56,1562.56,1552.0,55.0,53605.0,51.0,30.638371,100262535,660192,13814172,9.0,1.0,29334.0,42.0,1.0,0.0,0.0,14.0,0.0,0.0,20.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,20953,252731,2020-01-02,2020-01-02,1562.56,1562.56,1552.0,55.0,53605.0,51.0,30.638371,100262535,660193,13814172,4.0,1.0,6350.0,36.0,1.0,0.0,0.0,8.0,6.0,5.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,20953,252731,2020-01-02,2020-01-02,1562.56,1562.56,1552.0,55.0,53605.0,51.0,30.638371,100268013,660192,13815011,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [154]:
groups = data.groupby(['channel_id','source_id','reg_date'])

In [155]:
groups.ngroups

79849

In [156]:
# 统计计划（天）的30天真实回款
temp = groups['role_created_30_pay_sum'].agg([('source_30_pay_sum','sum')]).reset_index()
df = pd.merge(data,temp,on=['channel_id','source_id','reg_date'],how='left',validate='many_to_one')

In [157]:
# 统计计划（天）的30天预测回款
temp = groups['predict_30_pay'].agg([('source_30_predict_pay','sum')]).reset_index()
df = pd.merge(df,temp,on=['channel_id','source_id','reg_date'],how='left',validate='many_to_one')

In [187]:
def count_0(list):
    count = 0
    for num in list:
        if num ==0:
            count += 1
    return count

def count_1(list):
    count = 0
    for num in list:
        if num ==1:
            count += 1
    return count

def count_2(list):
    count = 0
    for num in list:
        if num ==2:
            count += 1
    return count

In [212]:
temp = groups['role_type'].apply(count_0).reset_index().rename(columns = {'role_type':'type_0_num'})
temp['reg_date'] = temp['reg_date'].astype(str)
df['reg_date'] = df['reg_date'].astype(str)
df = pd.merge(df,temp,on=['channel_id','source_id','reg_date'],how='left',validate='many_to_one')

In [216]:
temp = groups['role_type'].apply(count_1).reset_index().rename(columns = {'role_type':'type_1_num'})
temp['reg_date'] = temp['reg_date'].astype(str)
df['reg_date'] = df['reg_date'].astype(str)
df = pd.merge(df,temp,on=['channel_id','source_id','reg_date'],how='left',validate='many_to_one')

In [217]:
temp = groups['role_type'].apply(count_2).reset_index().rename(columns = {'role_type':'type_2_num'})
temp['reg_date'] = temp['reg_date'].astype(str)
df['reg_date'] = df['reg_date'].astype(str)
df = pd.merge(df,temp,on=['channel_id','source_id','reg_date'],how='left',validate='many_to_one')

In [219]:
df['type_0_rate'] = df['type_0_num']/(df['type_0_num']+df['type_1_num']+df['type_2_num'])
df['type_1_rate'] = df['type_1_num']/(df['type_0_num']+df['type_1_num']+df['type_2_num'])
df['type_2_rate'] = df['type_2_num']/(df['type_0_num']+df['type_1_num']+df['type_2_num'])
df['source_role_num'] = df['type_0_num']+df['type_1_num']+df['type_2_num']

In [220]:
df.head()

,channel_id,source_id,create_time,reg_date,amount,paper_use_amount,click_num,down_num,pv,create_role_num,user_id,cp_server_no,cp_role_id,role_created_login_num,role_created_active,role_created_online,max_role_level,ip_num,pay_num,pay_sum,active_0-8,active_8-12,active_12-14,active_14-18,active_18-24,pay_grade_1,pay_grade_2,pay_grade_3,pay_grade_4,pay_grade_5,pay_grade_6,pay_rate,pay_avg,role_created_30_pay_sum,role_type,predict_30_pay,source_30_pay_sum,source_30_predict_pay,type_0_num,type_1_num,type_2_num,type_0_rate,type_1_rate,type_2_rate,source_role_num
0,20953,252731,2020-01-02,2020-01-02,1562.56,1562.56,1552.0,55.0,53605.0,51.0,100261967,660192,13814061,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,48,3,0,0.941176,0.058824,0.0,51
1,20953,252731,2020-01-02,2020-01-02,1562.56,1562.56,1552.0,55.0,53605.0,51.0,100262535,660191,13814172,16.0,1.0,34068.0,44.0,1.0,0.0,0.0,40.0,22.0,6.0,13.0,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,48,3,0,0.941176,0.058824,0.0,51
2,20953,252731,2020-01-02,2020-01-02,1562.56,1562.56,1552.0,55.0,53605.0,51.0,100262535,660192,13814172,9.0,1.0,29334.0,42.0,1.0,0.0,0.0,14.0,0.0,0.0,20.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,48,3,0,0.941176,0.058824,0.0,51
3,20953,252731,2020-01-02,2020-01-02,1562.56,1562.56,1552.0,55.0,53605.0,51.0,100262535,660193,13814172,4.0,1.0,6350.0,36.0,1.0,0.0,0.0,8.0,6.0,5.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,48,3,0,0.941176,0.058824,0.0,51
4,20953,252731,2020-01-02,2020-01-02,1562.56,1562.56,1552.0,55.0,53605.0,51.0,100268013,660192,13815011,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,48,3,0,0.941176,0.058824,0.0,51

In [225]:
df_source = df.drop_duplicates(subset=['channel_id','source_id','reg_date'])
col = ['channel_id','source_id','create_time','reg_date','amount','paper_use_amount','click_num','down_num','pv',
       'create_role_num','source_30_pay_sum','source_30_predict_pay','type_0_num','type_1_num','type_2_num','type_0_rate',
       'type_1_rate','type_2_rate','source_role_num']
df_source = df_source[col]

In [226]:
df_source.shape

(79849, 19)

In [228]:
df_source['30_ROI'] = df_source['source_30_pay_sum']/df_source['amount']

In [242]:
df_source['30_ROI_predict'] = df_source['source_30_predict_pay']/df_source['amount']

In [243]:
df_source.head()

,channel_id,source_id,create_time,reg_date,amount,paper_use_amount,click_num,down_num,pv,create_role_num,source_30_pay_sum,source_30_predict_pay,type_0_num,type_1_num,type_2_num,type_0_rate,type_1_rate,type_2_rate,source_role_num,30_ROI,30_ROI_predict
0,20953,252731,2020-01-02,2020-01-02,1562.56,1562.56,1552.0,55.0,53605.0,51.0,0.0,0.0,48,3,0,0.941176,0.058824,0.0,51,0.0,0.0
51,20953,252731,2020-01-02,2020-01-03,0.71,0.71,6.0,3.0,1054.0,6.0,0.0,0.0,6,0,0,1.000000,0.000000,0.0,6,0.0,0.0
57,20953,252731,2020-01-02,2020-01-05,0.00,0.00,0.0,2.0,0.0,1.0,0.0,0.0,1,0,0,1.000000,0.000000,0.0,1,NaN,NaN
58,20953,252731,2020-01-02,2020-01-11,0.00,0.00,0.0,1.0,0.0,1.0,0.0,0.0,1,0,0,1.000000,0.000000,0.0,1,NaN,NaN
59,20953,252732,2020-01-02,2020-01-02,2280.22,2280.22,3002.0,119.0,108335.0,117.0,0.0,0.0,112,2,0,0.982456,0.017544,0.0,114,0.0,0.0

In [244]:
df_source_no_amount = df_source[df_source['amount']==0]
df_source_amount = df_source[df_source['amount']>500]

In [231]:
df_source_no_amount['create_role_num'].value_counts()

1.0       23375
2.0        6259
3.0        2792
4.0        1691
5.0        1059
          ...
367.0         1
454.0         1
370.0         1
98.0          1
1052.0        1
Name: create_role_num, Length: 372, dtype: int64

In [232]:
df_source_no_amount[df_source_no_amount['create_role_num'] ==1052]

,channel_id,source_id,create_time,reg_date,amount,paper_use_amount,click_num,down_num,pv,create_role_num,source_30_pay_sum,source_30_predict_pay,type_0_num,type_1_num,type_2_num,type_0_rate,type_1_rate,type_2_rate,source_role_num,30_ROI
254480,7162,261129,2020-01-21,2020-01-30,0.0,0.0,0.0,1084.0,0.0,1052.0,23082.0,29194.561164,934,118,23,0.868837,0.109767,0.021395,1075,inf

In [245]:
df_source_amount.head()

,channel_id,source_id,create_time,reg_date,amount,paper_use_amount,click_num,down_num,pv,create_role_num,source_30_pay_sum,source_30_predict_pay,type_0_num,type_1_num,type_2_num,type_0_rate,type_1_rate,type_2_rate,source_role_num,30_ROI,30_ROI_predict
0,20953,252731,2020-01-02,2020-01-02,1562.56,1562.56,1552.0,55.0,53605.0,51.0,0.0,0.000000,48,3,0,0.941176,0.058824,0.000000,51,0.000000,0.000000
59,20953,252732,2020-01-02,2020-01-02,2280.22,2280.22,3002.0,119.0,108335.0,117.0,0.0,0.000000,112,2,0,0.982456,0.017544,0.000000,114,0.000000,0.000000
173,20953,252732,2020-01-02,2020-01-03,700.59,700.59,1049.0,45.0,34087.0,45.0,0.0,0.000000,42,1,0,0.976744,0.023256,0.000000,43,0.000000,0.000000
223,20953,252733,2020-01-02,2020-01-02,2200.00,2200.00,666.0,219.0,53623.0,202.0,132.0,73.155306,189,3,1,0.979275,0.015544,0.005181,193,0.060000,0.033252
440,20953,252733,2020-01-02,2020-01-25,2200.00,2200.00,1394.0,450.0,103385.0,419.0,546.0,492.333356,361,20,1,0.945026,0.052356,0.002618,382,0.248182,0.223788

In [248]:
# 消耗大于500但30天回款为0的计划,消耗占比（消耗大于500的计划数）
df_source_amount[df_source_amount['30_ROI'] == 0]['amount'].sum()/df_source_amount['amount'].sum()

0.1526535339253292

In [246]:
# 消耗大于500但30天回款为0的计划数占比（消耗大于500的计划数）
df_source_amount[df_source_amount['30_ROI'] == 0].shape[0]/df_source_amount.shape[0]

0.3999621785173979

In [250]:
df_source_amount[df_source_amount['30_ROI']==0]['type_0_rate'].mean()

0.8758651632325264

In [240]:
df_source_amount[df_source_amount['30_ROI']>=0.7]['type_0_rate'].mean()

0.8439712528488261

In [241]:
df_source_amount[df_source_amount['30_ROI']<0.7]['type_0_rate'].mean()

0.861684137086141

In [252]:
df_1 = df_source_amount[['type_0_rate','type_1_rate','type_2_rate','30_ROI_predict','30_ROI']]

In [254]:
df_1['30_ROI'] = df_1['30_ROI'].apply(lambda x:0 if x==0 else 1)

In [256]:
df_1.head()

     type_0_rate  type_1_rate  type_2_rate  30_ROI_predict  30_ROI
0       0.941176     0.058824     0.000000        0.000000       0
59      0.982456     0.017544     0.000000        0.000000       0
173     0.976744     0.023256     0.000000        0.000000       0
223     0.979275     0.015544     0.005181        0.033252       1
440     0.945026     0.052356     0.002618        0.223788       1

In [278]:
df_1.corr()

,type_0_rate,type_1_rate,type_2_rate,30_ROI_predict,30_ROI
type_0_rate,1.000000,-0.970998,-0.241080,-0.031872,-0.073621
type_1_rate,-0.970998,1.000000,0.002054,-0.015006,0.009100
type_2_rate,-0.241080,0.002054,1.000000,0.194220,0.270985
30_ROI_predict,-0.031872,-0.015006,0.194220,1.000000,0.190295
30_ROI,-0.073621,0.009100,0.270985,0.190295,1.000000

In [257]:
df_1['30_ROI'].value_counts()

1    15865
0    10575
Name: 30_ROI, dtype: int64

In [292]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score,f1_score,accuracy_score,precision_score,classification_report
import lightgbm as lgb

In [262]:
df_train,df_test = train_test_split(df_1,test_size=0.2)

In [263]:
X_val, x_test, Y_val, y_test = train_test_split(df_train.drop('30_ROI',axis=1),df_train['30_ROI'],test_size=0.3)

In [264]:
# 不调参
params = {
"objective": "binary",
"boosting_type": "gbdt",
"learning_rate": 0.03,
"max_depth":3,
"num_leaves":35,
"min_child_samples":15,
"feature_fraction": 0.7,
"bagging_fraction":0.7,
"bagging_freq":10,
"lambda_l1":2,
"lambda_l2":2,
"metric": "auc",
# "is_unbalance":True
}

train_data = lgb.Dataset(X_val, label=Y_val)
val_data = lgb.Dataset(x_test, label=y_test, reference=train_data)
lgb_b = lgb.train(params, train_data, num_boost_round=8000, early_stopping_rounds=100, valid_sets=[train_data, val_data])

[1]	training's auc: 0.922357	valid_1's auc: 0.927281
Training until validation scores don't improve for 100 rounds
[2]	training's auc: 0.922402	valid_1's auc: 0.927326
[3]	training's auc: 0.922402	valid_1's auc: 0.927326
[4]	training's auc: 0.922402	valid_1's auc: 0.927326
[5]	training's auc: 0.922402	valid_1's auc: 0.927326
[6]	training's auc: 0.922459	valid_1's auc: 0.927478
[7]	training's auc: 0.922459	valid_1's auc: 0.927478
[8]	training's auc: 0.92252	valid_1's auc: 0.927478
[9]	training's auc: 0.92252	valid_1's auc: 0.927478
[10]	training's auc: 0.92252	valid_1's auc: 0.927478
[11]	training's auc: 0.924737	valid_1's auc: 0.929375
[12]	training's auc: 0.924745	valid_1's auc: 0.929399
[13]	training's auc: 0.924851	valid_1's auc: 0.929553
[14]	training's auc: 0.924852	valid_1's auc: 0.929553
[15]	training's auc: 0.924852	valid_1's auc: 0.929553
[16]	training's auc: 0.924861	valid_1's auc: 0.929534
[17]	training's auc: 0.924867	valid_1's auc: 0.929548
[18]	training's auc: 0.924901	valid_1's auc: 0.929615
[19]	training's auc: 0.924901	valid_1's auc: 0.929615
[20]	training's auc: 0.924901	valid_1's auc: 0.929615
[21]	training's auc: 0.924901	valid_1's auc: 0.929615
[22]	training's auc: 0.924895	valid_1's auc: 0.929615
[23]	training's auc: 0.9249	valid_1's auc: 0.929618
[24]	training's auc: 0.924894	valid_1's auc: 0.929618
[25]	training's auc: 0.924894	valid_1's auc: 0.929618
[26]	training's auc: 0.924894	valid_1's auc: 0.929618
[27]	training's auc: 0.924894	valid_1's auc: 0.929618
[28]	training's auc: 0.924894	valid_1's auc: 0.929618
[29]	training's auc: 0.924894	valid_1's auc: 0.929618
[30]	training's auc: 0.924894	valid_1's auc: 0.929618
[31]	training's auc: 0.924894	valid_1's auc: 0.929612
[32]	training's auc: 0.924894	valid_1's auc: 0.929612
[33]	training's auc: 0.924895	valid_1's auc: 0.92964
[34]	training's auc: 0.924907	valid_1's auc: 0.929637
[35]	training's auc: 0.924907	valid_1's auc: 0.929637
[36]	training's auc: 0.924914	valid_1's auc: 0.929626
[37]	training's auc: 0.924935	valid_1's auc: 0.929554
[38]	training's auc: 0.924935	valid_1's auc: 0.929635
[39]	training's auc: 0.924935	valid_1's auc: 0.929635
[40]	training's auc: 0.924935	valid_1's auc: 0.929627
[41]	training's auc: 0.925829	valid_1's auc: 0.929682
[42]	training's auc: 0.92583	valid_1's auc: 0.929682
[43]	training's auc: 0.92583	valid_1's auc: 0.929689
[44]	training's auc: 0.92583	valid_1's auc: 0.929682
[45]	training's auc: 0.92583	valid_1's auc: 0.929689
[46]	training's auc: 0.925851	valid_1's auc: 0.929677
[47]	training's auc: 0.925851	valid_1's auc: 0.929669
[48]	training's auc: 0.925851	valid_1's auc: 0.929677
[49]	training's auc: 0.925855	valid_1's auc: 0.929667
[50]	training's auc: 0.925855	valid_1's auc: 0.929667
[51]	training's auc: 0.925856	valid_1's auc: 0.929656
[52]	training's auc: 0.925856	valid_1's auc: 0.929648
[53]	training's auc: 0.925856	valid_1's auc: 0.929648
[54]	training's auc: 0.92586	valid_1's auc: 0.929659
[55]	training's auc: 0.925856	valid_1's auc: 0.929669
[56]	training's auc: 0.925856	valid_1's auc: 0.929669
[57]	training's auc: 0.925856	valid_1's auc: 0.929669
[58]	training's auc: 0.925856	valid_1's auc: 0.929669
[59]	training's auc: 0.925856	valid_1's auc: 0.929669
[60]	training's auc: 0.925856	valid_1's auc: 0.929669
[61]	training's auc: 0.925856	valid_1's auc: 0.929669
[62]	training's auc: 0.925856	valid_1's auc: 0.929669
[63]	training's auc: 0.925856	valid_1's auc: 0.929669
[64]	training's auc: 0.925853	valid_1's auc: 0.929668
[65]	training's auc: 0.925853	valid_1's auc: 0.929668
[66]	training's auc: 0.925853	valid_1's auc: 0.929668
[67]	training's auc: 0.925853	valid_1's auc: 0.929712
[68]	training's auc: 0.925853	valid_1's auc: 0.929712
[69]	training's auc: 0.925852	valid_1's auc: 0.929712
[70]	training's auc: 0.925852	valid_1's auc: 0.929712
[71]	training's auc: 0.925861	valid_1's auc: 0.929725
[72]	training's auc: 0.925861	valid_1's auc: 0.929724
[73]	training's auc: 0.92589	valid_1's auc: 0.929692
[74]	training's auc: 0.92589	valid_1's auc: 0.929692
[75]	training's auc: 0.9259	valid_1's auc: 0.929708
[76]	training's auc: 0.925902	valid_1's auc: 0.929703
[77]	training's auc: 0.925905	valid_1's auc: 0.929702
[78]	training's auc: 0.925906	valid_1's auc: 0.9297
[79]	training's auc: 0.925906	valid_1's auc: 0.9297
[80]	training's auc: 0.925909	valid_1's auc: 0.929698
[81]	training's auc: 0.926128	valid_1's auc: 0.929695
[82]	training's auc: 0.926128	valid_1's auc: 0.929695
[83]	training's auc: 0.926128	valid_1's auc: 0.929695
[84]	training's auc: 0.926128	valid_1's auc: 0.929695
[85]	training's auc: 0.926128	valid_1's auc: 0.929695
[86]	training's auc: 0.926128	valid_1's auc: 0.929695
[87]	training's auc: 0.926172	valid_1's auc: 0.930406
[88]	training's auc: 0.926172	valid_1's auc: 0.930406
[89]	training's auc: 0.926172	valid_1's auc: 0.930406
[90]	training's auc: 0.926173	valid_1's auc: 0.930364
[91]	training's auc: 0.926252	valid_1's auc: 0.930383
[92]	training's auc: 0.926252	valid_1's auc: 0.930383
[93]	training's auc: 0.926252	valid_1's auc: 0.930383
[94]	training's auc: 0.926283	valid_1's auc: 0.930463
[95]	training's auc: 0.926282	valid_1's auc: 0.93046
[96]	training's auc: 0.926283	valid_1's auc: 0.930463
[97]	training's auc: 0.926283	valid_1's auc: 0.930463
[98]	training's auc: 0.926283	valid_1's auc: 0.930465
[99]	training's auc: 0.926283	valid_1's auc: 0.930463
[100]	training's auc: 0.926283	valid_1's auc: 0.930463
[101]	training's auc: 0.926279	valid_1's auc: 0.930478
[102]	training's auc: 0.926279	valid_1's auc: 0.930478
[103]	training's auc: 0.926279	valid_1's auc: 0.930478
[104]	training's auc: 0.926279	valid_1's auc: 0.930478
[105]	training's auc: 0.926274	valid_1's auc: 0.930479
[106]	training's auc: 0.926274	valid_1's auc: 0.930479
[107]	training's auc: 0.926273	valid_1's auc: 0.930485
[108]	training's auc: 0.926274	valid_1's auc: 0.930487
[109]	training's auc: 0.926531	valid_1's auc: 0.930166
[110]	training's auc: 0.926525	valid_1's auc: 0.930147
[111]	training's auc: 0.926766	valid_1's auc: 0.930144
[112]	training's auc: 0.927074	valid_1's auc: 0.930764
[113]	training's auc: 0.92714	valid_1's auc: 0.930636
[114]	training's auc: 0.927142	valid_1's auc: 0.930639
[115]	training's auc: 0.927141	valid_1's auc: 0.930621
[116]	training's auc: 0.927137	valid_1's auc: 0.930653
[117]	training's auc: 0.927137	valid_1's auc: 0.930653
[118]	training's auc: 0.927137	valid_1's auc: 0.930653
[119]	training's auc: 0.927137	valid_1's auc: 0.930664
[120]	training's auc: 0.927138	valid_1's auc: 0.930666
[121]	training's auc: 0.927184	valid_1's auc: 0.930717
[122]	training's auc: 0.927183	valid_1's auc: 0.930719
[123]	training's auc: 0.9272	valid_1's auc: 0.930693
[124]	training's auc: 0.9272	valid_1's auc: 0.930693
[125]	training's auc: 0.927646	valid_1's auc: 0.930912
[126]	training's auc: 0.927667	valid_1's auc: 0.930939
[127]	training's auc: 0.927694	valid_1's auc: 0.930829
[128]	training's auc: 0.92769	valid_1's auc: 0.930831
[129]	training's auc: 0.927691	valid_1's auc: 0.930824
[130]	training's auc: 0.927691	valid_1's auc: 0.930824
[131]	training's auc: 0.927763	valid_1's auc: 0.930877
[132]	training's auc: 0.927843	valid_1's auc: 0.93066
[133]	training's auc: 0.927892	valid_1's auc: 0.930663
[134]	training's auc: 0.927881	valid_1's auc: 0.930546
[135]	training's auc: 0.927934	valid_1's auc: 0.930536
[136]	training's auc: 0.927931	valid_1's auc: 0.930442
[137]	training's auc: 0.927958	valid_1's auc: 0.930442
[138]	training's auc: 0.927934	valid_1's auc: 0.930463
[139]	training's auc: 0.927941	valid_1's auc: 0.930466
[140]	training's auc: 0.927944	valid_1's auc: 0.930498
[141]	training's auc: 0.927939	valid_1's auc: 0.93049
[142]	training's auc: 0.927917	valid_1's auc: 0.930688
[143]	training's auc: 0.927918	valid_1's auc: 0.930683
[144]	training's auc: 0.927916	valid_1's auc: 0.930664
[145]	training's auc: 0.927947	valid_1's auc: 0.930831
[146]	training's auc: 0.927948	valid_1's auc: 0.930825
[147]	training's auc: 0.927948	valid_1's auc: 0.930825
[148]	training's auc: 0.927949	valid_1's auc: 0.93082
[149]	training's auc: 0.927948	valid_1's auc: 0.93083
[150]	training's auc: 0.927945	valid_1's auc: 0.930831
[151]	training's auc: 0.928133	valid_1's auc: 0.930872
[152]	training's auc: 0.928248	valid_1's auc: 0.930956
[153]	training's auc: 0.928404	valid_1's auc: 0.930966
[154]	training's auc: 0.928567	valid_1's auc: 0.931005
[155]	training's auc: 0.928575	valid_1's auc: 0.931025
[156]	training's auc: 0.928771	valid_1's auc: 0.931036
[157]	training's auc: 0.928773	valid_1's auc: 0.93105
[158]	training's auc: 0.92879	valid_1's auc: 0.931092
[159]	training's auc: 0.928785	valid_1's auc: 0.93111
[160]	training's auc: 0.928836	valid_1's auc: 0.931165
[161]	training's auc: 0.928847	valid_1's auc: 0.931149
[162]	training's auc: 0.928844	valid_1's auc: 0.931149
[163]	training's auc: 0.928841	valid_1's auc: 0.931143
[164]	training's auc: 0.928841	valid_1's auc: 0.931144
[165]	training's auc: 0.928845	valid_1's auc: 0.931132
[166]	training's auc: 0.928843	valid_1's auc: 0.931106
[167]	training's auc: 0.928848	valid_1's auc: 0.931108
[168]	training's auc: 0.928849	valid_1's auc: 0.93111
[169]	training's auc: 0.92885	valid_1's auc: 0.931105
[170]	training's auc: 0.928851	valid_1's auc: 0.931098
[171]	training's auc: 0.928918	valid_1's auc: 0.93109
[172]	training's auc: 0.928946	valid_1's auc: 0.931047
[173]	training's auc: 0.928992	valid_1's auc: 0.930897
[174]	training's auc: 0.928988	valid_1's auc: 0.930898
[175]	training's auc: 0.929128	valid_1's auc: 0.930852
[176]	training's auc: 0.929127	valid_1's auc: 0.930848
[177]	training's auc: 0.929101	valid_1's auc: 0.930762
[178]	training's auc: 0.9291	valid_1's auc: 0.930766
[179]	training's auc: 0.929103	valid_1's auc: 0.930754
[180]	training's auc: 0.929233	valid_1's auc: 0.930562
[181]	training's auc: 0.929244	valid_1's auc: 0.93053
[182]	training's auc: 0.929244	valid_1's auc: 0.930525
[183]	training's auc: 0.929244	valid_1's auc: 0.930506
[184]	training's auc: 0.929243	valid_1's auc: 0.930505
[185]	training's auc: 0.929243	valid_1's auc: 0.930506
[186]	training's auc: 0.929249	valid_1's auc: 0.930482
[187]	training's auc: 0.92929	valid_1's auc: 0.930632
[188]	training's auc: 0.929248	valid_1's auc: 0.930588
[189]	training's auc: 0.929254	valid_1's auc: 0.930587
[190]	training's auc: 0.929234	valid_1's auc: 0.930581
[191]	training's auc: 0.92924	valid_1's auc: 0.930569
[192]	training's auc: 0.929241	valid_1's auc: 0.930577
[193]	training's auc: 0.92924	valid_1's auc: 0.93059
[194]	training's auc: 0.929243	valid_1's auc: 0.93059
[195]	training's auc: 0.92925	valid_1's auc: 0.930583
[196]	training's auc: 0.929276	valid_1's auc: 0.930589
[197]	training's auc: 0.929311	valid_1's auc: 0.930593
[198]	training's auc: 0.92931	valid_1's auc: 0.930607
[199]	training's auc: 0.92945	valid_1's auc: 0.930634
[200]	training's auc: 0.929472	valid_1's auc: 0.930641
[201]	training's auc: 0.929469	valid_1's auc: 0.930637
[202]	training's auc: 0.929488	valid_1's auc: 0.930632

[203]	training's auc: 0.929495	valid_1's auc: 0.930643
[204]	training's auc: 0.929479	valid_1's auc: 0.930894
[205]	training's auc: 0.92948	valid_1's auc: 0.930896
[206]	training's auc: 0.929485	valid_1's auc: 0.930899
[207]	training's auc: 0.929532	valid_1's auc: 0.930865
[208]	training's auc: 0.929528	valid_1's auc: 0.930852
[209]	training's auc: 0.929562	valid_1's auc: 0.930946
[210]	training's auc: 0.929658	valid_1's auc: 0.930992
[211]	training's auc: 0.92966	valid_1's auc: 0.93097
[212]	training's auc: 0.92966	valid_1's auc: 0.93097
[213]	training's auc: 0.929658	valid_1's auc: 0.930964
[214]	training's auc: 0.92976	valid_1's auc: 0.931026
[215]	training's auc: 0.929876	valid_1's auc: 0.931093
[216]	training's auc: 0.929877	valid_1's auc: 0.931094
[217]	training's auc: 0.930033	valid_1's auc: 0.931369
[218]	training's auc: 0.930034	valid_1's auc: 0.931353
[219]	training's auc: 0.930059	valid_1's auc: 0.93147
[220]	training's auc: 0.930069	valid_1's auc: 0.931449
[221]	training's auc: 0.930102	valid_1's auc: 0.931476
[222]	training's auc: 0.930257	valid_1's auc: 0.931598
[223]	training's auc: 0.930436	valid_1's auc: 0.931329
[224]	training's auc: 0.930446	valid_1's auc: 0.93134
[225]	training's auc: 0.930459	valid_1's auc: 0.931366
[226]	training's auc: 0.930495	valid_1's auc: 0.931345
[227]	training's auc: 0.93051	valid_1's auc: 0.931347
[228]	training's auc: 0.930437	valid_1's auc: 0.931119
[229]	training's auc: 0.930461	valid_1's auc: 0.931104
[230]	training's auc: 0.930622	valid_1's auc: 0.931176
[231]	training's auc: 0.930641	valid_1's auc: 0.931192
[232]	training's auc: 0.930651	valid_1's auc: 0.931187
[233]	training's auc: 0.93066	valid_1's auc: 0.931194
[234]	training's auc: 0.930652	valid_1's auc: 0.931202
[235]	training's auc: 0.930677	valid_1's auc: 0.931251
[236]	training's auc: 0.930705	valid_1's auc: 0.931248
[237]	training's auc: 0.930704	valid_1's auc: 0.931248
[238]	training's auc: 0.930721	valid_1's auc: 0.931235
[239]	training's auc: 0.930717	valid_1's auc: 0.931232
[240]	training's auc: 0.930712	valid_1's auc: 0.931223
[241]	training's auc: 0.930721	valid_1's auc: 0.931217
[242]	training's auc: 0.930721	valid_1's auc: 0.931212
[243]	training's auc: 0.930733	valid_1's auc: 0.931215
[244]	training's auc: 0.930744	valid_1's auc: 0.931243
[245]	training's auc: 0.930744	valid_1's auc: 0.931203
[246]	training's auc: 0.930761	valid_1's auc: 0.931198
[247]	training's auc: 0.930726	valid_1's auc: 0.931192
[248]	training's auc: 0.930734	valid_1's auc: 0.931204
[249]	training's auc: 0.930734	valid_1's auc: 0.931202
[250]	training's auc: 0.930722	valid_1's auc: 0.931175
[251]	training's auc: 0.930731	valid_1's auc: 0.931129
[252]	training's auc: 0.930755	valid_1's auc: 0.931084
[253]	training's auc: 0.930748	valid_1's auc: 0.93106
[254]	training's auc: 0.930779	valid_1's auc: 0.931093
[255]	training's auc: 0.930766	valid_1's auc: 0.931006
[256]	training's auc: 0.930778	valid_1's auc: 0.931027
[257]	training's auc: 0.930786	valid_1's auc: 0.931049
[258]	training's auc: 0.930793	valid_1's auc: 0.931027
[259]	training's auc: 0.930794	valid_1's auc: 0.931029
[260]	training's auc: 0.930815	valid_1's auc: 0.931028
[261]	training's auc: 0.93108	valid_1's auc: 0.931194
[262]	training's auc: 0.931126	valid_1's auc: 0.931188
[263]	training's auc: 0.930976	valid_1's auc: 0.931134
[264]	training's auc: 0.930954	valid_1's auc: 0.931113
[265]	training's auc: 0.930932	valid_1's auc: 0.931113
[266]	training's auc: 0.930887	valid_1's auc: 0.931107
[267]	training's auc: 0.930866	valid_1's auc: 0.931102
[268]	training's auc: 0.930875	valid_1's auc: 0.931005
[269]	training's auc: 0.930914	valid_1's auc: 0.931081
[270]	training's auc: 0.930915	valid_1's auc: 0.931076
[271]	training's auc: 0.930951	valid_1's auc: 0.931104
[272]	training's auc: 0.930979	valid_1's auc: 0.931064
[273]	training's auc: 0.930986	valid_1's auc: 0.931046
[274]	training's auc: 0.931011	valid_1's auc: 0.931049
[275]	training's auc: 0.931026	valid_1's auc: 0.931042
[276]	training's auc: 0.931097	valid_1's auc: 0.931071
[277]	training's auc: 0.931133	valid_1's auc: 0.931056
[278]	training's auc: 0.931144	valid_1's auc: 0.931068
[279]	training's auc: 0.931145	valid_1's auc: 0.931069
[280]	training's auc: 0.931153	valid_1's auc: 0.931063
[281]	training's auc: 0.931223	valid_1's auc: 0.931121
[282]	training's auc: 0.931302	valid_1's auc: 0.931153
[283]	training's auc: 0.931409	valid_1's auc: 0.931359
[284]	training's auc: 0.931516	valid_1's auc: 0.931471
[285]	training's auc: 0.931584	valid_1's auc: 0.931426
[286]	training's auc: 0.931642	valid_1's auc: 0.931508
[287]	training's auc: 0.931683	valid_1's auc: 0.931518
[288]	training's auc: 0.931721	valid_1's auc: 0.931481
[289]	training's auc: 0.931729	valid_1's auc: 0.931488
[290]	training's auc: 0.931797	valid_1's auc: 0.931603
[291]	training's auc: 0.931795	valid_1's auc: 0.931612
[292]	training's auc: 0.931814	valid_1's auc: 0.931645
[293]	training's auc: 0.931787	valid_1's auc: 0.931637
[294]	training's auc: 0.931774	valid_1's auc: 0.931651
[295]	training's auc: 0.931786	valid_1's auc: 0.93167
[296]	training's auc: 0.931768	valid_1's auc: 0.93165
[297]	training's auc: 0.931788	valid_1's auc: 0.931689
[298]	training's auc: 0.931803	valid_1's auc: 0.931744
[299]	training's auc: 0.931827	valid_1's auc: 0.931776
[300]	training's auc: 0.931822	valid_1's auc: 0.93181
[301]	training's auc: 0.931835	valid_1's auc: 0.931817
[302]	training's auc: 0.931836	valid_1's auc: 0.931898
[303]	training's auc: 0.931839	valid_1's auc: 0.931893
[304]	training's auc: 0.931858	valid_1's auc: 0.931902
[305]	training's auc: 0.931858	valid_1's auc: 0.931918
[306]	training's auc: 0.931874	valid_1's auc: 0.932063
[307]	training's auc: 0.931929	valid_1's auc: 0.932085
[308]	training's auc: 0.931925	valid_1's auc: 0.932084
[309]	training's auc: 0.931971	valid_1's auc: 0.932108
[310]	training's auc: 0.932061	valid_1's auc: 0.932173
[311]	training's auc: 0.932078	valid_1's auc: 0.932158
[312]	training's auc: 0.932118	valid_1's auc: 0.932147
[313]	training's auc: 0.932117	valid_1's auc: 0.932128
[314]	training's auc: 0.93215	valid_1's auc: 0.93216
[315]	training's auc: 0.932155	valid_1's auc: 0.932166
[316]	training's auc: 0.932174	valid_1's auc: 0.932157
[317]	training's auc: 0.932223	valid_1's auc: 0.932146
[318]	training's auc: 0.932257	valid_1's auc: 0.932124
[319]	training's auc: 0.932405	valid_1's auc: 0.932259
[320]	training's auc: 0.932466	valid_1's auc: 0.932271
[321]	training's auc: 0.932597	valid_1's auc: 0.932377
[322]	training's auc: 0.932703	valid_1's auc: 0.932427
[323]	training's auc: 0.932755	valid_1's auc: 0.932461
[324]	training's auc: 0.93271	valid_1's auc: 0.932407
[325]	training's auc: 0.932804	valid_1's auc: 0.932456
[326]	training's auc: 0.932865	valid_1's auc: 0.932308
[327]	training's auc: 0.932897	valid_1's auc: 0.932271
[328]	training's auc: 0.932926	valid_1's auc: 0.932167
[329]	training's auc: 0.932928	valid_1's auc: 0.932146
[330]	training's auc: 0.932953	valid_1's auc: 0.932132
[331]	training's auc: 0.933031	valid_1's auc: 0.932224
[332]	training's auc: 0.933115	valid_1's auc: 0.932226
[333]	training's auc: 0.933136	valid_1's auc: 0.932173
[334]	training's auc: 0.933216	valid_1's auc: 0.932205
[335]	training's auc: 0.93324	valid_1's auc: 0.932256
[336]	training's auc: 0.933203	valid_1's auc: 0.932208
[337]	training's auc: 0.933193	valid_1's auc: 0.932151
[338]	training's auc: 0.93321	valid_1's auc: 0.932148
[339]	training's auc: 0.933143	valid_1's auc: 0.932116
[340]	training's auc: 0.933168	valid_1's auc: 0.93216
[341]	training's auc: 0.933248	valid_1's auc: 0.93224
[342]	training's auc: 0.933288	valid_1's auc: 0.932223
[343]	training's auc: 0.933336	valid_1's auc: 0.932246
[344]	training's auc: 0.933379	valid_1's auc: 0.932294
[345]	training's auc: 0.933422	valid_1's auc: 0.932338
[346]	training's auc: 0.933472	valid_1's auc: 0.932371
[347]	training's auc: 0.933497	valid_1's auc: 0.932284
[348]	training's auc: 0.933496	valid_1's auc: 0.932308
[349]	training's auc: 0.933507	valid_1's auc: 0.932272
[350]	training's auc: 0.933483	valid_1's auc: 0.932236
[351]	training's auc: 0.933531	valid_1's auc: 0.932214
[352]	training's auc: 0.933572	valid_1's auc: 0.932242
[353]	training's auc: 0.933593	valid_1's auc: 0.932244
[354]	training's auc: 0.933578	valid_1's auc: 0.932176
[355]	training's auc: 0.933605	valid_1's auc: 0.932202
[356]	training's auc: 0.933605	valid_1's auc: 0.932202
[357]	training's auc: 0.933615	valid_1's auc: 0.932172
[358]	training's auc: 0.933614	valid_1's auc: 0.93215
[359]	training's auc: 0.933633	valid_1's auc: 0.932101
[360]	training's auc: 0.933605	valid_1's auc: 0.932094
[361]	training's auc: 0.933604	valid_1's auc: 0.932069
[362]	training's auc: 0.933641	valid_1's auc: 0.932092
[363]	training's auc: 0.933628	valid_1's auc: 0.932063
[364]	training's auc: 0.933659	valid_1's auc: 0.932141
[365]	training's auc: 0.933641	valid_1's auc: 0.932085
[366]	training's auc: 0.933635	valid_1's auc: 0.932177
[367]	training's auc: 0.933642	valid_1's auc: 0.932182
[368]	training's auc: 0.933681	valid_1's auc: 0.932227
[369]	training's auc: 0.933673	valid_1's auc: 0.932238
[370]	training's auc: 0.933665	valid_1's auc: 0.932227
[371]	training's auc: 0.933702	valid_1's auc: 0.932208
[372]	training's auc: 0.933722	valid_1's auc: 0.932196
[373]	training's auc: 0.933724	valid_1's auc: 0.932193
[374]	training's auc: 0.933755	valid_1's auc: 0.932213
[375]	training's auc: 0.933767	valid_1's auc: 0.932252
[376]	training's auc: 0.933776	valid_1's auc: 0.932245
[377]	training's auc: 0.933798	valid_1's auc: 0.932204
[378]	training's auc: 0.933812	valid_1's auc: 0.932169
[379]	training's auc: 0.933811	valid_1's auc: 0.932158
[380]	training's auc: 0.933805	valid_1's auc: 0.93214
[381]	training's auc: 0.933808	valid_1's auc: 0.932137
[382]	training's auc: 0.933811	valid_1's auc: 0.932137
[383]	training's auc: 0.933832	valid_1's auc: 0.932149
[384]	training's auc: 0.933834	valid_1's auc: 0.932162
[385]	training's auc: 0.933834	valid_1's auc: 0.932159
[386]	training's auc: 0.933837	valid_1's auc: 0.932166
[387]	training's auc: 0.933877	valid_1's auc: 0.932172
[388]	training's auc: 0.933886	valid_1's auc: 0.932199
[389]	training's auc: 0.9339	valid_1's auc: 0.932216
[390]	training's auc: 0.933919	valid_1's auc: 0.932229
[391]	training's auc: 0.933947	valid_1's auc: 0.932292
[392]	training's auc: 0.933975	valid_1's auc: 0.932176
[393]	training's auc: 0.933968	valid_1's auc: 0.93213
[394]	training's auc: 0.933979	valid_1's auc: 0.932129
[395]	training's auc: 0.933943	valid_1's auc: 0.932127
[396]	training's auc: 0.933946	valid_1's auc: 0.932062
[397]	training's auc: 0.933957	valid_1's auc: 0.932067
[398]	training's auc: 0.933998	valid_1's auc: 0.932111
[399]	training's auc: 0.934012	valid_1's auc: 0.932088
[400]	training's auc: 0.934034	valid_1's auc: 0.932063
[401]	training's auc: 0.934018	valid_1's auc: 0.932135
[402]	training's auc: 0.934066	valid_1's auc: 0.932145
[403]	training's auc: 0.934151	valid_1's auc: 0.932165
[404]	training's auc: 0.934148	valid_1's auc: 0.932158
[405]	training's auc: 0.934193	valid_1's auc: 0.932192
[406]	training's auc: 0.93419	valid_1's auc: 0.932188
[407]	training's auc: 0.934236	valid_1's auc: 0.932185
[408]	training's auc: 0.934273	valid_1's auc: 0.932217
[409]	training's auc: 0.934315	valid_1's auc: 0.932298
[410]	training's auc: 0.934325	valid_1's auc: 0.932301
[411]	training's auc: 0.934331	valid_1's auc: 0.932236
[412]	training's auc: 0.934374	valid_1's auc: 0.932263
[413]	training's auc: 0.934436	valid_1's auc: 0.93228
[414]	training's auc: 0.934466	valid_1's auc: 0.932248
[415]	training's auc: 0.934442	valid_1's auc: 0.932197
[416]	training's auc: 0.934452	valid_1's auc: 0.932176
[417]	training's auc: 0.934495	valid_1's auc: 0.93221
[418]	training's auc: 0.934545	valid_1's auc: 0.932204
[419]	training's auc: 0.934578	valid_1's auc: 0.932197
[420]	training's auc: 0.934588	valid_1's auc: 0.932203
[421]	training's auc: 0.934631	valid_1's auc: 0.932212
[422]	training's auc: 0.934662	valid_1's auc: 0.932245
[423]	training's auc: 0.934699	valid_1's auc: 0.932257
Early stopping, best iteration is:
[323]	training's auc: 0.932755	valid_1's auc: 0.932461

In [265]:
target_test = df_test['30_ROI']
features_test = df_test.drop('30_ROI', axis=1)
y_predict = lgb_b.predict(features_test)

In [309]:
sessoin = pd.DataFrame(y_predict, columns=['pay_30'])
sessoin['pay_30']=sessoin['pay_30'].apply(lambda x:0 if x<0.3 else 1)
y_predict_val = sessoin['pay_30'].values
print(recall_score(target_test, y_predict_val,average=None))
print(precision_score(target_test, y_predict_val))
print(accuracy_score(target_test, y_predict_val))
print(f1_score(target_test, y_predict_val))

[0.60842803 0.91026448]
0.777568585260893
0.789712556732224
0.8387003191180737

In [310]:
target_names = ['0', '1']
print(classification_report(target_test, y_predict_val, target_names=target_names))

              precision    recall  f1-score   support

           0       0.82      0.61      0.70      2112
           1       0.78      0.91      0.84      3176

    accuracy                           0.79      5288
   macro avg       0.80      0.76      0.77      5288
weighted avg       0.79      0.79      0.78      5288

In [311]:
joblib.dump(lgb_b,'./source_lgb_b.pkl')

['./source_lgb_b.pkl']