In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [84]:
standard_info = pd.read_csv('./standard_info.csv')
standard_info.drop_duplicates(inplace=True)
pd.set_option('display.max_columns',None)
game_info = pd.read_csv('game_info.csv')

C:\Users\Administrator\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [85]:
standard_info = pd.merge(standard_info,game_info,on='game_id',how='left',validate='many_to_one')

In [75]:
columns = ['source_run_7date_bigrate','source_run_7date_midrate','source_run_7date_minrate',
                                                      'source_run_7date_comrate','source_run_7date_rubrate']
for i in range(1,4):
    exec("source_info_2_grade_%s_user = pd.DataFrame(columns=columns)"%(i))

standard_info_duplicates_user = standard_info[standard_info['role_data_type'] == 7].drop_duplicates(['user_id','cp_server_no','cp_role_id'])
standard_info_duplicates_user = standard_info_duplicates_user[standard_info_duplicates_user['source_amount']!=0]
standard_info_duplicates_user['b_r'] = (standard_info_duplicates_user['role_created_30_pay_sum']>=2000).astype(int)
standard_info_duplicates_user['m_r'] = ((standard_info_duplicates_user['role_created_30_pay_sum']<2000) & (standard_info_duplicates_user['role_created_30_pay_sum']>=100)).astype(int)
standard_info_duplicates_user['s_r'] = ((standard_info_duplicates_user['role_created_30_pay_sum']<100) & (standard_info_duplicates_user['role_created_30_pay_sum']>0)).astype(int)
standard_info_duplicates_user['rubbish'] = ((standard_info_duplicates_user['role_created_7_online']<=600) & (standard_info_duplicates_user['role_created_7_login_num']<=2)&
                            (standard_info_duplicates_user['role_created_7_max_role_level']<=10)&(standard_info_duplicates_user['role_created_30_pay_sum']==0)).astype(int)
standard_info_duplicates_user['common'] = (~((standard_info_duplicates_user['role_created_7_online']<=600) & (standard_info_duplicates_user['role_created_7_login_num']<=2)&
            (standard_info_duplicates_user['role_created_7_max_role_level']<=10)) &(standard_info_duplicates_user['role_created_30_pay_sum']==0)).astype(int)
groups = standard_info_duplicates_user.groupby(['channel_id','source_id','create_role_date'])

temp = groups['role_created_30_pay_sum'].agg([('source_30_pay_sum','sum')]).reset_index()
standard_info_duplicates_user = pd.merge(standard_info_duplicates_user,temp,on=['channel_id','source_id','create_role_date'],how='left',validate='many_to_one')

# standard_info_duplicates_user['30_ROI'] = standard_info_duplicates_user['source_30_pay_sum']/(standard_info_duplicates_user['source_amount']+1e-4)

# standard_info_duplicates_m_user = standard_info_duplicates_user[(standard_info_duplicates_user['30_ROI']>=0.5)&(standard_info_duplicates_user['30_ROI']<=0.8)]
# source_grade_1_user = standard_info_duplicates_user[standard_info_duplicates_user['source_amount']>=5000]
# source_grade_2_user = standard_info_duplicates_user[(standard_info_duplicates_user['source_amount']<5000)&(standard_info_duplicates_user['source_amount']>=500)]
# source_grade_3_user = standard_info_duplicates_user[standard_info_duplicates_user['source_amount']<500]

In [21]:
source_grade_1_user['game_platform'].unique()

array([2, 1], dtype=int64)

In [43]:
source_run_7date_bigrate_grade_1 = []
source_run_7date_midrate_grade_1 = []
source_run_7date_minrate_grade_1 = []
source_run_7date_comrate_grade_1 = []
source_run_7date_rubrate_grade_1 = []
#         cols = ['b_r','m_r','s_r','common','rubbish']
for game_platform in range(1,3):
    source_grade_1_game_platform = source_grade_1_user[source_grade_1_user['game_platform'] == game_platform]

    source_run_7date_bigrate_grade_1_game_id = round(source_grade_1_game_platform['b_r'].sum()/source_grade_1_game_platform.shape[0],4)
    source_run_7date_bigrate_grade_1.append(source_run_7date_bigrate_grade_1_game_id)

    source_run_7date_midrate_grade_1_game_id = round(source_grade_1_game_platform['m_r'].sum()/source_grade_1_game_platform.shape[0],4)
    source_run_7date_midrate_grade_1.append(source_run_7date_midrate_grade_1_game_id)

    source_run_7date_minrate_grade_1_game_id = round(source_grade_1_game_platform['s_r'].sum()/source_grade_1_game_platform.shape[0],4)
    source_run_7date_minrate_grade_1.append(source_run_7date_minrate_grade_1_game_id)

    source_run_7date_comrate_grade_1_game_id = round(source_grade_1_game_platform['common'].sum()/source_grade_1_game_platform.shape[0],4)
    source_run_7date_comrate_grade_1.append(source_run_7date_comrate_grade_1_game_id)

    source_run_7date_rubrate_grade_1_game_id = round(source_grade_1_game_platform['rubbish'].sum()/source_grade_1_game_platform.shape[0],4)
    source_run_7date_rubrate_grade_1.append(source_run_7date_rubrate_grade_1_game_id)

In [44]:
source_run_7date_bigrate_grade_1

[0.0008, 0.0027]

In [45]:
source_run_7date_midrate_grade_1

[0.005, 0.0108]

In [46]:
source_run_7date_minrate_grade_1

[0.0063, 0.0108]

In [47]:
source_run_7date_comrate_grade_1

[0.1853, 0.5701]

In [48]:
source_run_7date_rubrate_grade_1

[0.8026, 0.4056]

In [86]:
standard_info_duplicates = standard_info[standard_info['role_data_type'] == 7].drop_duplicates(['user_id','cp_server_no','cp_role_id'])
# standard_info_duplicates = standard_info_duplicates[standard_info_duplicates['source_amount']!=0]

source_grade_1 = standard_info_duplicates[standard_info_duplicates['source_amount']>=5000]
source_grade_2 = standard_info_duplicates[(standard_info_duplicates['source_amount']<5000)&(standard_info_duplicates['source_amount']>=500)]
source_grade_3 = standard_info_duplicates[standard_info_duplicates['source_amount']<500]

In [87]:
source_grade_1.head()

,user_id,mgame_id,cp_server_no,cp_role_id,role_data_type,role_id,channel_id,source_id,game_id,media_id,create_role_date,create_role_time,role_created_7_login_num,role_created_7_max_role_level,role_created_7_online,pay_sum,role_created_30_pay_sum,source_amount,game_platform
1065,115159942,1056,660918,18242942,7,151994428,6867,284945,1001049,16,2020-06-20,2020-06-20 07:34:17,1,1,0,0.0,0.0,14111.56,1
1108,115193296,1056,660920,18254038,7,152023916,6867,284945,1001049,16,2020-06-20,2020-06-20 18:50:17,1,1,10,0.0,0.0,14111.56,1
1109,115166800,1056,660919,18244529,7,152000242,6867,284945,1001049,16,2020-06-20,2020-06-20 11:25:31,1,7,1996,0.0,0.0,14111.56,1
1125,115184223,1056,660920,18250953,7,152015901,6867,284945,1001049,16,2020-06-20,2020-06-20 15:50:12,1,13,1200,0.0,0.0,14111.56,1
1128,115173431,1056,660919,18247080,7,152006480,6867,284945,1001049,16,2020-06-20,2020-06-20 12:56:30,1,1,31,0.0,0.0,14111.56,1

In [88]:
def dell(df):
    groups = df.groupby(['channel_id','source_id'])
    temp = groups['pay_sum'].agg([('pay_sum_nd','sum')]).reset_index()
    df = pd.merge(df,temp,on=['channel_id','source_id'],how='left',validate='many_to_one')


    temp = groups['role_created_30_pay_sum'].agg([('source_30_pay_sum','sum')]).reset_index()
    df = pd.merge(df,temp,on=['channel_id','source_id'],how='left',validate='many_to_one')

    temp = groups['user_id'].agg([('user_num','count')]).reset_index()
    df = pd.merge(df,temp,on=['channel_id','source_id'],how='left',validate='many_to_one')
    df = df[['channel_id','source_id','create_role_date','source_amount','game_platform',
                                                 'pay_sum_nd','source_30_pay_sum','user_num']].drop_duplicates()
    groups = df.groupby(['channel_id','source_id'])
    temp = groups['source_amount'].agg([('source_amount_sum','sum')]).reset_index()
    df = pd.merge(df,temp,on=['channel_id','source_id'],how='left',validate='many_to_one')
    df = df[['channel_id','source_id','source_amount_sum','game_platform',
                                                  'pay_sum_nd','source_30_pay_sum','user_num']].drop_duplicates()
    return df

In [89]:
source_grade_1 = dell(source_grade_1)
source_grade_2 = dell(source_grade_2)
source_grade_3 = dell(source_grade_3)

In [90]:
source_grade_1.head()

,channel_id,source_id,source_amount_sum,game_platform,pay_sum_nd,source_30_pay_sum,user_num
0,6867,284945,109914.02,1,13136.0,60660.0,2559
1,20144,320649,342437.09,2,29532.0,74176.0,2561
2,20545,320012,23128.05,1,1312.0,1764.0,646
3,20635,270722,42129.05,1,8466.0,14652.0,2520
4,20953,320464,8702.01,1,21556.0,26092.0,416

In [98]:
an_1 = source_grade_1[source_grade_1['game_platform']==1]
ios_1 = source_grade_1[source_grade_1['game_platform']==2]

In [99]:
an_1['source_30_pay_sum'].sum()/an_1['source_amount_sum'].sum()

0.5607288676382796

In [100]:
ios_1['source_30_pay_sum'].sum()/ios_1['source_amount_sum'].sum()

0.4351998459612122

In [101]:
an_2 = source_grade_2[source_grade_2['game_platform']==1]
ios_2 = source_grade_2[source_grade_2['game_platform']==2]

In [102]:
an_2['source_30_pay_sum'].sum()/an_2['source_amount_sum'].sum()

0.304036376982379

In [103]:
ios_2['source_30_pay_sum'].sum()/ios_2['source_amount_sum'].sum()

0.3254751305632187

In [104]:
an_3 = source_grade_3[source_grade_3['game_platform']==1]
ios_3 = source_grade_3[source_grade_3['game_platform']==2]

In [105]:
an_3['source_30_pay_sum'].sum()/an_3['source_amount_sum'].sum()

1.5783993842167818

In [106]:
ios_3['source_30_pay_sum'].sum()/ios_3['source_amount_sum'].sum()

4.395218417458397

In [111]:
ios_2['source_30_pay_sum'].sum()

1008174.0

In [107]:
ios_1['source_30_pay_sum'].sum()+ios_2['source_30_pay_sum'].sum()+ios_3['source_30_pay_sum'].sum()

4720900.0

In [108]:
ios_1['source_amount_sum'].sum()+ios_2['source_amount_sum'].sum()+ios_3['source_amount_sum'].sum()

8542158.990000002

In [109]:
an_1['source_30_pay_sum'].sum()+an_2['source_30_pay_sum'].sum()+an_3['source_30_pay_sum'].sum()

5393256.0

In [110]:
an_1['source_amount_sum'].sum()+an_2['source_amount_sum'].sum()+an_3['source_amount_sum'].sum()

11500038.270000001

In [ ]:
groups = standard_info_duplicates.groupby(['channel_id','source_id'])
temp = groups['pay_sum'].agg([('pay_sum_nd','sum')]).reset_index()
standard_info_duplicates = pd.merge(standard_info_duplicates,temp,on=['channel_id','source_id'],how='left',validate='many_to_one')


temp = groups['role_created_30_pay_sum'].agg([('source_30_pay_sum','sum')]).reset_index()
standard_info_duplicates = pd.merge(standard_info_duplicates,temp,on=['channel_id','source_id'],how='left',validate='many_to_one')

temp = groups['user_id'].agg([('user_num','count')]).reset_index()
standard_info_duplicates = pd.merge(standard_info_duplicates,temp,on=['channel_id','source_id'],how='left',validate='many_to_one')

# standard_info_duplicates = standard_info_duplicates[['channel_id','source_id','create_role_date','source_amount','game_platform',
#                                                  'source_30_pay_sum']].drop_duplicates()
# standard_info_duplicates['30_ROI'] = standard_info_duplicates['source_30_pay_sum']/(standard_info_duplicates['source_amount']+1e-4)

# standard_info_duplicates_m = standard_info_duplicates[(standard_info_duplicates['30_ROI']>=0.5)&(standard_info_duplicates['30_ROI']<=0.8)]

In [53]:
standard_info_duplicates = standard_info_duplicates[['channel_id','source_id','create_role_date','source_amount','game_platform',
                                                 'pay_sum_nd','source_30_pay_sum','user_num']].drop_duplicates()
groups = standard_info_duplicates.groupby(['channel_id','source_id'])
temp = groups['source_amount'].agg([('source_amount_sum','sum')]).reset_index()
standard_info_duplicates = pd.merge(standard_info_duplicates,temp,on=['channel_id','source_id'],how='left',validate='many_to_one')

In [54]:
standard_info_duplicates = standard_info_duplicates[['channel_id','source_id','source_amount_sum','game_platform',
                                                  'pay_sum_nd','source_30_pay_sum','user_num']].drop_duplicates()

In [59]:
source_grade_1 = standard_info_duplicates[standard_info_duplicates['source_amount_sum']>=5000]
source_grade_2 = standard_info_duplicates[(standard_info_duplicates['source_amount_sum']<5000)&(standard_info_duplicates['source_amount_sum']>=500)]
source_grade_3 = standard_info_duplicates[standard_info_duplicates['source_amount_sum']<500]

In [112]:
# n天
def standard_compute(standard_info):
    # 用户质量维度
    columns = ['source_run_7date_bigrate','source_run_7date_midrate','source_run_7date_minrate',
                                                      'source_run_7date_comrate','source_run_7date_rubrate']
    for i in range(1,4):
        exec("source_info_2_grade_%s_user = pd.DataFrame(columns=columns)"%(i))

    standard_info_duplicates_user = standard_info[standard_info['role_data_type'] == 7].drop_duplicates(['user_id','cp_server_no','cp_role_id'])
    standard_info_duplicates_user = standard_info_duplicates_user[standard_info_duplicates_user['source_amount']!=0]
    standard_info_duplicates_user['b_r'] = (standard_info_duplicates_user['role_created_30_pay_sum']>=2000).astype(int)
    standard_info_duplicates_user['m_r'] = ((standard_info_duplicates_user['role_created_30_pay_sum']<2000) & (standard_info_duplicates_user['role_created_30_pay_sum']>=100)).astype(int)
    standard_info_duplicates_user['s_r'] = ((standard_info_duplicates_user['role_created_30_pay_sum']<100) & (standard_info_duplicates_user['role_created_30_pay_sum']>0)).astype(int)
    standard_info_duplicates_user['rubbish'] = ((standard_info_duplicates_user['role_created_7_online']<=600) & (standard_info_duplicates_user['role_created_7_login_num']<=2)&
                                (standard_info_duplicates_user['role_created_7_max_role_level']<=10)&(standard_info_duplicates_user['role_created_30_pay_sum']==0)).astype(int)
    standard_info_duplicates_user['common'] = (~((standard_info_duplicates_user['role_created_7_online']<=600) & (standard_info_duplicates_user['role_created_7_login_num']<=2)&
                (standard_info_duplicates_user['role_created_7_max_role_level']<=10)) &(standard_info_duplicates_user['role_created_30_pay_sum']==0)).astype(int)
    groups = standard_info_duplicates_user.groupby(['channel_id','source_id','create_role_date'])

    temp = groups['role_created_30_pay_sum'].agg([('source_30_pay_sum','sum')]).reset_index()
    standard_info_duplicates_user = pd.merge(standard_info_duplicates_user,temp,on=['channel_id','source_id','create_role_date'],how='left',validate='many_to_one')

    # standard_info_duplicates_user['30_ROI'] = standard_info_duplicates_user['source_30_pay_sum']/(standard_info_duplicates_user['source_amount']+1e-4)

    # standard_info_duplicates_m_user = standard_info_duplicates_user[(standard_info_duplicates_user['30_ROI']>=0.5)&(standard_info_duplicates_user['30_ROI']<=0.8)]
    source_grade_1_user = standard_info_duplicates_user[standard_info_duplicates_user['source_amount']>=5000]
    source_grade_2_user = standard_info_duplicates_user[(standard_info_duplicates_user['source_amount']<5000)&(standard_info_duplicates_user['source_amount']>=500)]
    source_grade_3_user = standard_info_duplicates_user[standard_info_duplicates_user['source_amount']<500]
    
    # grade_1
    if len(source_grade_1_user['game_id'].unique())!=0:
        source_run_7date_bigrate_grade_1 = []
        source_run_7date_midrate_grade_1 = []
        source_run_7date_minrate_grade_1 = []
        source_run_7date_comrate_grade_1 = []
        source_run_7date_rubrate_grade_1 = []
#         cols = ['b_r','m_r','s_r','common','rubbish']
        for game_platform in range(1,3):
            source_grade_1_game_platform = source_grade_1_user[source_grade_1_user['game_platform'] == game_platform]

            source_run_7date_bigrate_grade_1_game_id = round(source_grade_1_game_platform['b_r'].sum()/source_grade_1_game_platform.shape[0],4)
            source_run_7date_bigrate_grade_1.append(source_run_7date_bigrate_grade_1_game_id)

            source_run_7date_midrate_grade_1_game_id = round(source_grade_1_game_platform['m_r'].sum()/source_grade_1_game_platform.shape[0],4)
            source_run_7date_midrate_grade_1.append(source_run_7date_midrate_grade_1_game_id)

            source_run_7date_minrate_grade_1_game_id = round(source_grade_1_game_platform['s_r'].sum()/source_grade_1_game_platform.shape[0],4)
            source_run_7date_minrate_grade_1.append(source_run_7date_minrate_grade_1_game_id)

            source_run_7date_comrate_grade_1_game_id = round(source_grade_1_game_platform['common'].sum()/source_grade_1_game_platform.shape[0],4)
            source_run_7date_comrate_grade_1.append(source_run_7date_comrate_grade_1_game_id)

            source_run_7date_rubrate_grade_1_game_id = round(source_grade_1_game_platform['rubbish'].sum()/source_grade_1_game_platform.shape[0],4)
            source_run_7date_rubrate_grade_1.append(source_run_7date_rubrate_grade_1_game_id)
    
    # grade_2
    if len(source_grade_2_user['game_id'].unique())!=0:
        source_run_7date_bigrate_grade_2 = []
        source_run_7date_midrate_grade_2 = []
        source_run_7date_minrate_grade_2 = []
        source_run_7date_comrate_grade_2 = []
        source_run_7date_rubrate_grade_2 = []
        for game_platform in range(1,3):
            source_grade_2_game_platform = source_grade_2_user[source_grade_2_user['game_platform'] == game_platform]

            source_run_7date_bigrate_grade_2_game_id = round(source_grade_2_game_platform['b_r'].sum()/source_grade_2_game_platform.shape[0],4)
            source_run_7date_bigrate_grade_2.append(source_run_7date_bigrate_grade_2_game_id)

            source_run_7date_midrate_grade_2_game_id = round(source_grade_2_game_platform['m_r'].sum()/source_grade_2_game_platform.shape[0],4)
            source_run_7date_midrate_grade_2.append(source_run_7date_midrate_grade_2_game_id)

            source_run_7date_minrate_grade_2_game_id = round(source_grade_2_game_platform['s_r'].sum()/source_grade_2_game_platform.shape[0],4)
            source_run_7date_minrate_grade_2.append(source_run_7date_minrate_grade_2_game_id)

            source_run_7date_comrate_grade_2_game_id = round(source_grade_2_game_platform['common'].sum()/source_grade_2_game_platform.shape[0],4)
            source_run_7date_comrate_grade_2.append(source_run_7date_comrate_grade_2_game_id)

            source_run_7date_rubrate_grade_2_game_id = round(source_grade_2_game_platform['rubbish'].sum()/source_grade_2_game_platform.shape[0],4)
            source_run_7date_rubrate_grade_2.append(source_run_7date_rubrate_grade_2_game_id)
    
    # grade_3
    if len(source_grade_3_user['game_id'].unique())!=0:
        source_run_7date_bigrate_grade_3 = []
        source_run_7date_midrate_grade_3 = []
        source_run_7date_minrate_grade_3 = []
        source_run_7date_comrate_grade_3 = []
        source_run_7date_rubrate_grade_3 = []
        for game_platform in range(1,3):
            source_grade_3_game_platform = source_grade_3_user[source_grade_3_user['game_platform'] == game_platform]

            source_run_7date_bigrate_grade_3_game_id = round(source_grade_3_game_platform['b_r'].sum()/source_grade_3_game_platform.shape[0],4)
            source_run_7date_bigrate_grade_3.append(source_run_7date_bigrate_grade_3_game_id)

            source_run_7date_midrate_grade_3_game_id = round(source_grade_3_game_platform['m_r'].sum()/source_grade_3_game_platform.shape[0],4)
            source_run_7date_midrate_grade_3.append(source_run_7date_midrate_grade_3_game_id)

            source_run_7date_minrate_grade_3_game_id = round(source_grade_3_game_platform['s_r'].sum()/source_grade_3_game_platform.shape[0],4)
            source_run_7date_minrate_grade_3.append(source_run_7date_minrate_grade_3_game_id)

            source_run_7date_comrate_grade_3_game_id = round(source_grade_3_game_platform['common'].sum()/source_grade_3_game_platform.shape[0],4)
            source_run_7date_comrate_grade_3.append(source_run_7date_comrate_grade_3_game_id)

            source_run_7date_rubrate_grade_3_game_id = round(source_grade_3_game_platform['rubbish'].sum()/source_grade_3_game_platform.shape[0],4)
            source_run_7date_rubrate_grade_3.append(source_run_7date_rubrate_grade_3_game_id)
            
    
    source_info_2_grade_1_user['source_run_7date_bigrate'] = source_run_7date_bigrate_grade_1
    source_info_2_grade_1_user['source_run_7date_midrate'] = source_run_7date_midrate_grade_1
    source_info_2_grade_1_user['source_run_7date_minrate'] = source_run_7date_minrate_grade_1
    source_info_2_grade_1_user['source_run_7date_comrate'] = source_run_7date_comrate_grade_1
    source_info_2_grade_1_user['source_run_7date_rubrate'] = source_run_7date_rubrate_grade_1
    

   
    source_info_2_grade_2_user['source_run_7date_bigrate'] = source_run_7date_bigrate_grade_2
    source_info_2_grade_2_user['source_run_7date_midrate'] = source_run_7date_midrate_grade_2
    source_info_2_grade_2_user['source_run_7date_minrate'] = source_run_7date_minrate_grade_2
    source_info_2_grade_2_user['source_run_7date_comrate'] = source_run_7date_comrate_grade_2
    source_info_2_grade_2_user['source_run_7date_rubrate'] = source_run_7date_rubrate_grade_2

    
    source_info_2_grade_3_user['source_run_7date_bigrate'] = source_run_7date_bigrate_grade_3
    source_info_2_grade_3_user['source_run_7date_midrate'] = source_run_7date_midrate_grade_3
    source_info_2_grade_3_user['source_run_7date_minrate'] = source_run_7date_minrate_grade_3
    source_info_2_grade_3_user['source_run_7date_comrate'] = source_run_7date_comrate_grade_3
    source_info_2_grade_3_user['source_run_7date_rubrate'] = source_run_7date_rubrate_grade_3 
    
    source_info_2_user = pd.concat([source_info_2_grade_1_user,source_info_2_grade_2_user,source_info_2_grade_3_user]).reset_index(drop=True)        
            
    # 计划成本、ROI维度
    source_info_2_grade_1 = pd.DataFrame(columns=['source_cost','standard_run_date','game_id','source_run_date_cost','source_run_date_roi_1',
                                                      'source_run_date_roi_2','source_run_date_roi_3','source_run_date_roi_4','source_run_date_roi_5',
                                                      'source_run_date_roi_6','source_run_date_roi_7','source_run_date_predict_roi_30'])
    source_info_2_grade_2 = pd.DataFrame(columns=['source_cost','standard_run_date','game_id','source_run_date_cost','source_run_date_roi_1',
                                                      'source_run_date_roi_2','source_run_date_roi_3','source_run_date_roi_4','source_run_date_roi_5',
                                                      'source_run_date_roi_6','source_run_date_roi_7','source_run_date_predict_roi_30'])
    source_info_2_grade_3 = pd.DataFrame(columns=['source_cost','standard_run_date','game_id','source_run_date_cost','source_run_date_roi_1',
                                                      'source_run_date_roi_2','source_run_date_roi_3','source_run_date_roi_4','source_run_date_roi_5',
                                                      'source_run_date_roi_6','source_run_date_roi_7','source_run_date_predict_roi_30'])
    for i in range(1,8):
        standard_info_duplicates = standard_info[standard_info['role_data_type'] == i].drop_duplicates(['user_id','cp_server_no','cp_role_id'])
        # standard_info_duplicates = standard_info_duplicates[standard_info_duplicates['source_amount']!=0]

        source_grade_1 = standard_info_duplicates[standard_info_duplicates['source_amount']>=5000]
        source_grade_2 = standard_info_duplicates[(standard_info_duplicates['source_amount']<5000)&(standard_info_duplicates['source_amount']>=500)]
        source_grade_3 = standard_info_duplicates[standard_info_duplicates['source_amount']<500]
        
        def dell(df):
            groups = df.groupby(['channel_id','source_id'])
            temp = groups['pay_sum'].agg([('pay_sum_nd','sum')]).reset_index()
            df = pd.merge(df,temp,on=['channel_id','source_id'],how='left',validate='many_to_one')


            temp = groups['role_created_30_pay_sum'].agg([('source_30_pay_sum','sum')]).reset_index()
            df = pd.merge(df,temp,on=['channel_id','source_id'],how='left',validate='many_to_one')

            temp = groups['user_id'].agg([('user_num','count')]).reset_index()
            df = pd.merge(df,temp,on=['channel_id','source_id'],how='left',validate='many_to_one')
            df = df[['channel_id','source_id','create_role_date','source_amount','game_platform',
                                                         'pay_sum_nd','source_30_pay_sum','user_num']].drop_duplicates()
            groups = df.groupby(['channel_id','source_id'])
            temp = groups['source_amount'].agg([('source_amount_sum','sum')]).reset_index()
            df = pd.merge(df,temp,on=['channel_id','source_id'],how='left',validate='many_to_one')
            df = df[['channel_id','source_id','source_amount_sum','game_platform',
                                                          'pay_sum_nd','source_30_pay_sum','user_num']].drop_duplicates()
            return df
        source_grade_1 = dell(source_grade_1)
        source_grade_2 = dell(source_grade_2)
        source_grade_3 = dell(source_grade_3)
        
        
        # grade_1
        if len(source_grade_1['game_platform'].unique())!=0:
            source_run_date_cost_grade_1 = []
            source_run_date_predict_roi_30_grade_1 = []
            exec("source_run_date_roi_%s_grade_1 = []"%(i))    
            for game_platform in range(1,3):
                source_grade_1_game_id = source_grade_1[source_grade_1['game_platform'] == game_platform]
                source_run_date_cost_grade_1_game_id = round(source_grade_1_game_id[source_grade_1_game_id['user_num']!=0]['source_amount_sum'].sum()/source_grade_1_game_id[source_grade_1_game_id['user_num']!=0]['user_num'].sum(),2)
                source_run_date_cost_grade_1.append(source_run_date_cost_grade_1_game_id)
                source_run_date_predict_roi_30_grade_1_game_id = round(source_grade_1_game_id['source_30_pay_sum'].sum()/source_grade_1_game_id['source_amount_sum'].sum(),6)
                source_run_date_predict_roi_30_grade_1.append(source_run_date_predict_roi_30_grade_1_game_id)
                exec("source_run_date_roi_%s_grade_1_game_id = round(source_grade_1_game_id['pay_sum_nd'].sum()/source_grade_1_game_id['source_amount_sum'].sum(),6)"%(i))
                exec("source_run_date_roi_%s_grade_1.append(source_run_date_roi_%s_grade_1_game_id)"%(i,i))
            
        # grade_2
        if len(source_grade_2['game_platform'].unique())!=0:
            source_run_date_cost_grade_2 = []
            source_run_date_predict_roi_30_grade_2 = []
            exec("source_run_date_roi_%s_grade_2 = []"%(i))    
            for game_platform in range(1,3):
                source_grade_2_game_id = source_grade_2[source_grade_2['game_platform'] == game_platform]
                source_run_date_cost_grade_2_game_id = round(source_grade_2_game_id[source_grade_2_game_id['user_num']!=0]['source_amount_sum'].sum()/source_grade_2_game_id[source_grade_2_game_id['user_num']!=0]['user_num'].sum(),2)
                source_run_date_cost_grade_2.append(source_run_date_cost_grade_2_game_id)
                source_run_date_predict_roi_30_grade_2_game_id = round(source_grade_2_game_id['source_30_pay_sum'].sum()/source_grade_2_game_id['source_amount_sum'].sum(),6)
                source_run_date_predict_roi_30_grade_2.append(source_run_date_predict_roi_30_grade_2_game_id)
                exec("source_run_date_roi_%s_grade_2_game_id = round(source_grade_2_game_id['pay_sum_nd'].sum()/source_grade_2_game_id['source_amount_sum'].sum(),6)"%(i))
                exec("source_run_date_roi_%s_grade_2.append(source_run_date_roi_%s_grade_2_game_id)"%(i,i))
            
           

        # grade_3
        if len(source_grade_3['game_platform'].unique())!=0:
            source_run_date_cost_grade_3 = []
            source_run_date_predict_roi_30_grade_3 = []
            exec("source_run_date_roi_%s_grade_3 = []"%(i))    
            for game_platform in range(1,3):
                source_grade_3_game_id = source_grade_3[source_grade_3['game_platform'] == game_platform]
                source_run_date_cost_grade_3_game_id = round(source_grade_3_game_id[source_grade_3_game_id['user_num']!=0]['source_amount_sum'].sum()/source_grade_3_game_id[source_grade_3_game_id['user_num']!=0]['user_num'].sum(),2)
                source_run_date_cost_grade_3.append(source_run_date_cost_grade_3_game_id)
                source_run_date_predict_roi_30_grade_3_game_id = round(source_grade_3_game_id['source_30_pay_sum'].sum()/source_grade_3_game_id['source_amount_sum'].sum(),6)
                source_run_date_predict_roi_30_grade_3.append(source_run_date_predict_roi_30_grade_3_game_id)
                exec("source_run_date_roi_%s_grade_3_game_id = round(source_grade_3_game_id['pay_sum_nd'].sum()/source_grade_3_game_id['source_amount_sum'].sum(),6)"%(i))
                exec("source_run_date_roi_%s_grade_3.append(source_run_date_roi_%s_grade_3_game_id)"%(i,i))
                                           
        source_info_2_grade_1['game_platform'] = range(1,3)
        source_info_2_grade_1['source_run_date_cost'] = source_run_date_cost_grade_1
        exec("source_info_2_grade_1['source_run_date_roi_%s'] = source_run_date_roi_%s_grade_1"%(i,i))
        source_info_2_grade_1['source_run_date_predict_roi_30'] = source_run_date_predict_roi_30_grade_1
        source_info_2_grade_1['source_cost'] = '>=5000'
        source_info_2_grade_1['standard_run_date'] = datetime.date.today()
   
        source_info_2_grade_2['game_platform'] = range(1,3)
        source_info_2_grade_2['source_run_date_cost'] = source_run_date_cost_grade_2
        exec("source_info_2_grade_2['source_run_date_roi_%s'] = source_run_date_roi_%s_grade_2"%(i,i))
        source_info_2_grade_2['source_run_date_predict_roi_30'] = source_run_date_predict_roi_30_grade_2
        source_info_2_grade_2['source_cost'] = '<5000 and >=500'
        source_info_2_grade_2['standard_run_date'] = datetime.date.today()

        source_info_2_grade_3['game_platform'] = range(1,3)
        source_info_2_grade_3['source_run_date_cost'] = source_run_date_cost_grade_3
        exec("source_info_2_grade_3['source_run_date_roi_%s'] = source_run_date_roi_%s_grade_3"%(i,i))
        source_info_2_grade_3['source_run_date_predict_roi_30'] = source_run_date_predict_roi_30_grade_3
        source_info_2_grade_3['source_cost'] = '<500'
        source_info_2_grade_3['standard_run_date'] = datetime.date.today()
    
    source_info_2 = pd.concat([source_info_2_grade_1,source_info_2_grade_2,source_info_2_grade_3]).reset_index(drop=True)
    df = pd.concat([source_info_2,source_info_2_user], axis=1)
    return df

In [30]:
standard_info.head()

,user_id,mgame_id,cp_server_no,cp_role_id,role_data_type,role_id,channel_id,source_id,game_id,media_id,create_role_date,create_role_time,role_created_7_login_num,role_created_7_max_role_level,role_created_7_online,pay_sum,role_created_30_pay_sum,source_amount,game_platform
0,114825296,1056,660845,18145498,4,152028601,6770,298742,1001049,16,2020-06-20,2020-06-20 20:36:16,12,44,8800,0.0,0.0,0.0,1
1,114825296,1056,660845,18145498,7,152028601,6770,298742,1001049,16,2020-06-20,2020-06-20 20:36:16,12,44,8800,0.0,0.0,0.0,1
2,114825296,1056,660845,18145498,6,152028601,6770,298742,1001049,16,2020-06-20,2020-06-20 20:36:16,12,44,8800,0.0,0.0,0.0,1
3,115184473,1056,660920,18251048,0,152016127,6770,298742,1001049,16,2020-06-20,2020-06-20 15:54:56,16,43,25189,0.0,0.0,0.0,1
4,114825296,1056,660845,18145498,1,152028601,6770,298742,1001049,16,2020-06-20,2020-06-20 20:36:16,8,33,6873,0.0,0.0,0.0,1

In [113]:
%%time
df = standard_compute(standard_info)

Wall time: 17.7 s

In [114]:
df

,source_cost,standard_run_date,game_id,source_run_date_cost,source_run_date_roi_1,source_run_date_roi_2,source_run_date_roi_3,source_run_date_roi_4,source_run_date_roi_5,source_run_date_roi_6,source_run_date_roi_7,source_run_date_predict_roi_30,game_platform,source_run_7date_bigrate,source_run_7date_midrate,source_run_7date_minrate,source_run_7date_comrate,source_run_7date_rubrate
0,>=5000,2020-08-29,NaN,19.75,0.066037,0.109233,0.143968,0.165771,0.185659,0.206392,0.222593,0.560729,1,0.0008,0.0050,0.0063,0.1853,0.8026
1,>=5000,2020-08-29,NaN,82.90,0.038840,0.070795,0.092892,0.111733,0.126210,0.145082,0.154908,0.435200,2,0.0027,0.0108,0.0108,0.5701,0.4056
2,<5000 and >=500,2020-08-29,NaN,21.59,0.037315,0.059658,0.078927,0.094000,0.105605,0.116874,0.127383,0.304036,1,0.0006,0.0041,0.0059,0.2067,0.7827
3,<5000 and >=500,2020-08-29,NaN,55.11,0.039272,0.063950,0.080071,0.096123,0.108685,0.120426,0.128262,0.325475,2,0.0014,0.0065,0.0067,0.5154,0.4700
4,<500,2020-08-29,NaN,8.30,0.283611,0.385126,0.493963,0.580518,0.612603,0.659836,0.710978,1.578399,1,0.0008,0.0051,0.0064,0.2706,0.7172
5,<500,2020-08-29,NaN,7.26,0.509354,0.796508,1.124812,1.295473,1.416140,1.565834,1.721301,4.395218,2,0.0009,0.0061,0.0067,0.4516,0.5347