In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('1234.csv')

In [4]:
df.head(10)

     user_id     pay_sum
0  106588555  1109561.22
1   97172692   881997.00
2  101144928   856342.30
3  101242104   550753.56
4  105223261   521909.96
5  122055994   494496.00
6  104031742   488504.20
7  101266404   474680.80
8  111739306   404914.00
9  102026211   401654.00

In [5]:
df['cum_sum'] = df['pay_sum'].cumsum()

In [6]:
df.head(10)

     user_id     pay_sum     cum_sum
0  106588555  1109561.22  1109561.22
1   97172692   881997.00  1991558.22
2  101144928   856342.30  2847900.52
3  101242104   550753.56  3398654.08
4  105223261   521909.96  3920564.04
5  122055994   494496.00  4415060.04
6  104031742   488504.20  4903564.24
7  101266404   474680.80  5378245.04
8  111739306   404914.00  5783159.04
9  102026211   401654.00  6184813.04

In [7]:
df['pay_sum'].sum()

351190249.02

In [8]:
df['pay_sum'].sum()*0.7

245833174.31399998

In [9]:
df['pay_sum'].sum()*0.8

280952199.216

In [10]:
df['pay_sum'].sum()*0.9

316071224.118

In [11]:
df[df['cum_sum'] >=245833174].head()

        user_id  pay_sum       cum_sum
6361  104797987  10276.0  2.458355e+08
6362   95624494  10276.0  2.458458e+08
6363  121365487  10274.0  2.458560e+08
6364  107257959  10268.0  2.458663e+08
6365  100883977  10266.6  2.458766e+08

In [12]:
df[df['cum_sum'] >=280952199.216].head()

         user_id  pay_sum       cum_sum
11389  116130448   4786.0  2.809545e+08
11390  113509376   4786.0  2.809593e+08
11391  122618452   4784.0  2.809641e+08
11392  120311081   4784.0  2.809689e+08
11393  104007158   4784.0  2.809737e+08

In [13]:
df[df['cum_sum'] >=316071224.118].head()

         user_id  pay_sum       cum_sum
24770  101938914   1424.0  3.160719e+08
24771   96143095   1424.0  3.160733e+08
24772  107717544   1424.0  3.160747e+08
24773  105844536   1424.0  3.160762e+08
24774   96861655   1424.0  3.160776e+08

In [14]:
df[df['pay_sum'] <=1424].shape

(165257, 3)

In [15]:
df[df['pay_sum'] >=10276].shape

(6363, 3)

In [16]:
df[(df['pay_sum'] >1424)&(df['pay_sum'] <10276)].shape

(18402, 3)

In [17]:
df[df['pay_sum'] >=10276]['pay_sum'].sum()

245845767.24

In [18]:
df[df['pay_sum'] <=1424]['pay_sum'].sum()

35126895.0

In [19]:
df[(df['pay_sum'] >1424)&(df['pay_sum'] <10276)]['pay_sum'].sum()

70217586.78

In [ ]:
df[(df['pay_sum']>=10000)&(df['pay_sum']<)]