In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json
import tensorflow as tf
from numpy import *
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from tensorflow.keras import layers,datasets
from sklearn.preprocessing import LabelEncoder,MinMaxScaler,StandardScaler
from tensorflow import keras
import gc
import warnings
warnings.filterwarnings('ignore')
import lightgbm as lgb
import category_encoders as ce
from sklearn.metrics import f1_score,classification_report,roc_auc_score
from impala.dbapi import connect
from impala.util import as_pandas
import pymysql

In [14]:
# 读取历史数据
plan_info = pd.read_csv('./ptom_third_plan.csv')
image_info = pd.read_csv('./image_info.csv')
launch_report = pd.read_csv('./launch_report.csv')

In [15]:
# 获取近期所有计划('2021年2月1号开始')
def get_plan_info():
    conn = pymysql.connect(host='192.168.0.65', port=3306, user='readonly',
                        passwd='Kc&r+z1ql9x8za4kzfk761weq8ozGv3ZpI;RMe,#+s%c>t', db='db_ptom')
    cur = conn.cursor(cursor=pymysql.cursors.DictCursor)
    sql = '''
        SELECT
                * 
            FROM
                db_ptom.ptom_third_plan p
            WHERE
                game_id IN (
            1000840,
            1000862,
            1000869,
            1000935,
            1000947,
            1000960,
            1001049,
            1001058,
            1001063,
            1001079,
            1001059,
            1000954,
            1000993,
            1000994,
            1000992,
            1001258,
            1001294,
            1001295,
            1001310,
            1001155,
            1001257,
            1001379,
            1001193,
            1001400,
            1001401,
            1001402,
            1001439,
            1001413,
            1001414,
            1001420,
            1001425,
            1001426,
            1001430,
            1001431,
            1001259,
            1000985,
            1001454,
            1001455,
            1001457,
            1001460,
            1001194,
            1001484,
            1001440,
            1001540,
            1001541
                ) 
                AND media_id = 10
                AND create_time>=(NOW() - interval 168 hour)
                            AND plan_id >= (
                                select plan_id from db_ptom.ptom_plan
                                where create_time >= '2021-02-01'
                                and create_time >= '2021-01-31'
                                limit 1
                            )
    '''
    cur.execute(sql)
    result_df = pd.read_sql(sql, conn)
    cur.close()
    conn.close()
    return result_df

In [16]:
# 获取image_id,label_ids
def get_image_info():
    conn = pymysql.connect(host='192.168.0.79', port=3306, user='readonly',
                        passwd='Kc&r+z1ql9x8za4kzfk761weq8ozGv3ZpI;RMe,#+s%c>t')
    cur = conn.cursor(cursor=pymysql.cursors.DictCursor)
    sql = '''
        SELECT
            a.chl_user_id AS channel_id,
            a.source_id,
            a.image_id,
            b.label_ids
        FROM
            db_data_ptom.ptom_plan a
            LEFT JOIN
            db_data_ptom.ptom_image_info b
        on a.image_id = b.image_id
        WHERE
            a.game_id IN ( SELECT dev_game_id AS game_id FROM db_data.t_game_config WHERE game_id = 1056 AND dev_game_id IS NOT NULL ) 
            AND a.media_id = 10 
            AND a.create_time >= '2021-02-01' 
        GROUP BY
            a.chl_user_id,
            a.source_id,
            a.image_id
    '''
    cur.execute(sql)
    result_df = pd.read_sql(sql, conn)
    cur.close()
    conn.close()
    return result_df

In [17]:
# 获取计划运营指标
def get_launch_report():
    conn = pymysql.connect(host='192.168.0.79', port=3306, user='readonly',
                        passwd='Kc&r+z1ql9x8za4kzfk761weq8ozGv3ZpI;RMe,#+s%c>t')
    cur = conn.cursor(cursor=pymysql.cursors.DictCursor)
    sql = '''
        SELECT
            tdate,
            channel_id,
            source_id,
            amount,
            create_role_num,
            pay_role_user_num,
            new_role_money 
        FROM
            db_stdata.st_lauch_report a 
        WHERE
            a.tdate_type = 'day' 
            AND a.game_id IN ( SELECT dev_game_id AS game_id FROM db_data.t_game_config WHERE game_id = 1056 AND dev_game_id IS NOT NULL ) 
            AND a.tdate >= '2021-02-01'
            AND a.media_id = 10
            ANd a.amount>0
    '''
    cur.execute(sql)
    result_df = pd.read_sql(sql, conn)
    cur.close()
    conn.close()
    return result_df

In [18]:
plan_info_new = get_plan_info()
image_info_new = get_image_info()
launch_report_new = get_image_info()

In [9]:
plan_info_new.shape

(2339, 37)

In [10]:
plan_info.shape

(31072, 37)

In [19]:
plan_info = plan_info.append(plan_info_new)
image_info = image_info.append(image_info_new)
launch_report = launch_report.append(launch_report_new)

In [20]:
plan_info.shape

(33411, 37)

In [21]:
image_info.shape

(48172, 4)

In [22]:
image_info.head()

   channel_id  source_id  image_id label_ids
0        6770     254303   19395.0       NaN
1        6770     254304   19418.0       NaN
2        6770     254305   19418.0       NaN
3        6770     254306   19395.0       NaN
4        6770     254307   19511.0       NaN

In [23]:
launch_report.head()

,tdate,platform,game_id,channel_id,source_id,amount,create_role_num,pay_role_user_num,new_role_money,image_id,label_ids
0,2020-1-1 00:00:00,1.0,1000840.0,6867,251792,2165.45,119.0,0.0,0.0,NaN,NaN
1,2020-1-1 00:00:00,1.0,1000840.0,7162,245825,134.10,10.0,0.0,0.0,NaN,NaN
2,2020-1-1 00:00:00,1.0,1000840.0,7162,245826,1524.50,74.0,0.0,0.0,NaN,NaN
3,2020-1-1 00:00:00,1.0,1000840.0,20754,251670,13.17,1.0,0.0,0.0,NaN,NaN
4,2020-1-1 00:00:00,1.0,1000840.0,20754,251671,3272.51,168.0,1.0,12.0,NaN,NaN